<style>
  .rslides {
    left: 16%;
  }
  .icon-chevron-left, .icon-chevron-right {
    left: 13px;
    position: absolute;
    top: 10px;
  }
  .rslides_tabs {
    background: grey;
    bottom: -10px;
    left: -44px;
    list-style: none outside none;
    padding: 10px;
    position: inherit;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 17px;
  height: auto;
  background: transparent;
  display: inline;
  color: white;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }
  
</style>
<script>
  $(document).ready(function(){
    // Slideshow 1
    $("#slider1").responsiveSlides({
      speed: 2000,
      pager: true,
      maxwidth: 800
    });
  })
</script>
<div class="page-header1">
  <h2>Sistem Bisnis</h2>
</div>
<p class="p0">
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-inner">
    <ul class="rslides" id="slider1">
      <% 24.times do |i| %>
        <li><img src="/assets/slide/Slide<%= i+1 %>.JPG" alt=""></li>
      <% end %>
    </ul>
  </div>
</div><!-- /.carousel -->
</p>
