<h3>Pesan</h3>
<%= select_tag 'menu', options_for_select(message_menu, request.env['PATH_INFO']) %>
<%= button_tag 'pilih', class: 'btn btn-success submit-menu' %> &nbsp; &nbsp;  &nbsp;  
<%= link_to 'Tulis Pesan', message_write_path, class: 'btn btn-warning' %>
<hr/>
