<%= render 'menu' %>
<%= form_tag message_delete_path('inbox'), method: 'post' do %>
<table class="table table-bordered" id="table_bonus">
  <thead>
    <tr>
      <th><%= check_box_tag 'check_all' %></th>
      <th>Tanggal</th>
      <th>Dari</th>
      <th>Pesan</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each_with_index do |m,i| %>
      <tr>
        <td><input type="checkbox" class="checked" name='serial[<%= m.id %>]'></td>
        <td><%= m.created_at.to_dmy %></td>
        <td><%= m.sender %></td>
        <td><%= m.subject %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<br/><br/>
<%= submit_tag 'Hapus', class: 'btn btn-success'%>
<% end %>
<br/>
Total : <%= @messages.count %>
<script>
  $(document).ready(function(){
    $('#table_bonus').dataTable()
  })
</script>
