<%= render 'menu' %>
<h4>Tulis Pesan</h4>
<%= form_tag message_process_write_path, method: 'post' do %>
  <div class='write_message'>
    <table width='100%'>
      <tr>
        <td><span>Kepada</span></td>
        <td> <%= text_field_tag  'receiver_id', nil, class: 'autocomplete' %></td>
      </tr>
       <tr>
        <td><span>Judul</span></td>
        <td> <%= text_field_tag  'subject' %></td>
      </tr>
       <tr>
        <td><span>Isi Pesan</span></td>
        <td> <%= text_area_tag  'content' %></td>
      </tr>
       <tr>
        <td></td>
        <td align='right'> <%= submit_tag 'kirim', class: 'btn btn-success' %></td>
      </tr>
    </table>
  </div>
<% end %>
<script>
  $(document).ready(function(){
    data = '<%= Message.all_receiver %>'.split('_')
    $('.autocomplete').typeahead({
      source: data,
      items: 10,
    })
  })
</script>
