<div>
  <%= render 'menu' %>
  <%= form_tag update_pin_path do %>
    <div>
      <%= label_tag :pin_awal, 'pin awal' %>
      <%= text_field_tag :pin_awal, nil, maxlength: 6 %>
    </div>
    <div>
      <%= label_tag :pin, 'pin baru' %>
      <%= text_field_tag :pin, nil, maxlength: 6 %>
    </div>
    <div>
      <%= label_tag :konfirmasi_pin, 'konfirmasi pin baru' %>
      <%= text_field_tag :konfirmasi_pin, nil, maxlength: 6 %>
    </div>
    <div></br>
      <%= submit_tag 'ubah pin' %>
    </div>
  <% end %>
</div>
<%= link_to 'kembali', :back %>

