<%= render 'menu' %>
<div class='show_user_form'>
  <table>
    <tr>
      <td>Sponsor</td>
      <td>: <%= @current_user.sponsor.serial rescue '-' %></td>
    </tr>
    <tr>
      <td>Upline</td>
      <td>: <%= @current_user.parent.serial rescue '-' %></td>
    </tr>
    <tr>
      <td><br/><b>Profil Member</b></td>
    </tr>
    <tr>
      <td>No Serial</td>
      <td>: <%= @current_user.serial %></td>
    </tr>
    <tr>
      <td>Nama Panggilan</td>
      <td>: <%= @current_user.nick_name %></td>
    </tr>
     <tr>
      <td>Nama</td>
      <td>: <%= @current_user.nama %></td>
    </tr>
     <tr>
      <td>Tempat, Tanggal Lahir</td>
      <td>: <%= @current_user.tempat_lahir %>, <%= @current_user.tanggal_lahir.to_date.to_dmy rescue '' %></td>
    </tr>
     <tr>
      <td>No Identitas</td>
      <td>: <%= @current_user.no_identitas %></td>
    </tr>
     <tr>
      <td>Jenis Kelamin</td>
      <td>: <%= @current_user.jenis_kelamin? ? 'laki-laki' : 'perempuan' %></td>
    </tr>
     <tr>
      <td>Kewarganegaraan</td>
      <td>: <%= @current_user.kewarganegaraan %></td>
    </tr>
    <tr>
      <td>Agama</td>
      <td>: <%= @current_user.agama %></td>
    </tr>
    <tr>
      <td>Status Sipil</td>
      <td>: <%= @current_user.status_sipil %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>: <%= @current_user.email %></td>
    </tr>
    <tr>
      <td>Alamat Sesuai Identitas</td>
      <td>: <%= @current_user.alamat %></td>
    </tr>
    <tr>
      <td>Propinsi</td>
      <td>: <%= @current_user.provinsi %></td>
    </tr>
    <tr>
      <td>Kode Pos</td>
      <td>: <%= @current_user.kode_pos %></td>
    </tr>
    <tr>
      <td>Telepon</td>
      <td>: <%= @current_user.telepon %></td>
    </tr>
    <tr>
      <td>Handphone</td>
      <td>: <%= @current_user.handphone %></td>
    </tr>
    <tr>
      <td>No NPWP</td>
      <td>: <%= @current_user.no_npwp %></td>
    </tr>
    <tr>
      <td>Nama Ahli Waris</td>
      <td>: <%= @current_user.ahli_waris %></td>
    </tr>
    <tr>
      <td>Hubungan</td>
      <td>: <%= @current_user.hubungan %></td>
    </tr>
    <tr>
      <td>Nama Ibu Kandung</td>
      <td>: <%= @current_user.ibu_kandung %></td>
    </tr>
    <tr>
      <td><br/><b>Data Bank</b></td>
    </tr>
    <tr>
      <td>Bank</td>
      <td>: <%= @current_user.nama_bank %></td>
    </tr>
    <tr>
      <td>No Rekening</td>
      <td>: <%= @current_user.no_rekening %></td>
    </tr>
    <tr>
      <td>Cabang/Unit</td>
      <td>: <%= @current_user.cabang %></td>
    </tr>
    <tr>
      <td>Nama Pemilik</td>
      <td>: <%= @current_user.nama_pemilik %></td>
    </tr>
  </table>
</div>

<style>
  table {
    width: 40%;
  }
</style>
