<style>
  #login-right {
    margin-top: 1px;
    padding-bottom: 6px;
  }
  
  .content {
    background: none repeat scroll 0 0 #DCE6F2;
    border: 3px solid #BCBCBA;
    border-radius: 30px;
    padding: 55px;
    width: 500px;
    margin-left: 200px;
  }
  
  .span9 {
    border: 0;
    padding: 0;
  }
</style>
<div class="well green-background">
  <div id='user_form'>
    <h3>LOGIN</h3><hr/>
    <%= form_tag process_login_path do |f| %>
      <div>
        <span><%= label_tag :serial %></span>
        <%= text_field_tag :serial %>
      </div>
      <div>
        <span><%= label_tag :pin %></span>
        <%= password_field_tag :pin %>
      </div>
      <div>
        <%#= show_simple_captcha :label => false, placeholder: 'Isikan kode diatas disini..' %>
      </div>
      <div></br>
        <%= submit_tag 'login', id: 'login-right' %> &nbsp; <%= link_to 'register', sign_up_path, class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>
</div>

