/* block top links */
ul#header_links {
	list-style-type: none;
	float: left;
	margin-left:2px
}
#header_links li {
	float: left;
}
#header_links a {
	text-decoration: none;
	color: #fff;
	padding: 27px 10px;
	display: block;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
	
	}
#header_links a:hover { background: #27ae61; }

/*block permanent links right and left columns*/
#permanent_links div {border-bottom: 1px dotted #eee}
#permanent_links div a {
	display: block;
	padding: 7px 11px 5px 22px;
	color: #fff;
	background:url(img/arrow_right_2.png) no-repeat 10px 10px;
}

/* block footer links */
ul#footer_links{
	clear:both;
	text-align: center;
	padding-bottom:6px
}
ul#footer_links li{
	display: inline;
	padding:0 10px
}
