.nav-container { float: right; clear:both; margin: 30px 0 30px 0;}
.pt_custommenu {
    position:relative;
    z-index:99;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    width:  100%; /*width of your menu*/
}
.pt_custommenu div.pt_menu {
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}
.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
    text-decoration: none;
    display:block;
}
#pt_menu_home .parentMenu a { background: url(../images/icon-menu-home.png) 50% 30px no-repeat #e84c3d; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px;}

.nav-1 .parentMenu a { background: url(../images/icon-menu1.png) 50% 18px no-repeat #27ae61; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px;}

.nav-2 .parentMenu a { background: url(../images/icon-menu2.png) 50% 35px no-repeat #ffa10c; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; }

.nav-3 .parentMenu a { background: url(../images/icon-menu3.png) 50% 33px no-repeat #00be9c; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; }

.nav-4 .parentMenu a { background: url(../images/icon-menu4.png) 50% 44px no-repeat #8f44ad; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; }

.nav-5 .parentMenu a { background: url(../images/icon-menu5.png) 50% 28px no-repeat #27ae61; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; }

.nav-6 .parentMenu a { background: url(../images/icon-custom.png) 50% 36px no-repeat #f1c50e; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; display: block; cursor: pointer;}

.nav-7 .parentMenu a { background: url(../images/icon-custom.png) 50% 36px no-repeat #8f44ad; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; display: block; cursor: pointer;}

.nav-8 .parentMenu a { background: url(../images/icon-custom.png) 50% 36px no-repeat #00be9c; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; display: block; cursor: pointer;}

.nav-9 .parentMenu a { background: url(../images/icon-custom.png) 50% 36px no-repeat #27ae61; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; display: block; cursor: pointer;}

.nav-10 .parentMenu a { background: url(../images/icon-custom.png) 50% 36px no-repeat #e84c3d; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; display: block; cursor: pointer;}

#pt_menu_cms .parentMenu a { background: url(../images/icon-custom.png) 50% 36px no-repeat #f1c50e; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; display: block; cursor: pointer;}

#pt_menu_link .parentMenu a { background: url(../images/icon-custom.png) 50% 36px no-repeat #00be9c; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; display: block; cursor: pointer;}

#pt_menu_allsub .parentMenu a { background: url(../images/icon-custom.png) 50% 36px no-repeat #8f44ad; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; display: block; cursor: pointer;}

#pt_menu_product .parentMenu a { background: url(../images/icon-custom.png) 50% 36px no-repeat #ffa10c; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; display: block; cursor: pointer;}


#pt_menu_pt_item_menu_custom_menu .parentMenu span { background: url(../images/icon-custom.png) 50% 36px no-repeat #f1c50e; height: 46px; min-width: 122px; text-align: center; padding-top: 80px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 10px; display: block; cursor: pointer;}

#pt_menu_home.act .parentMenu a, #pt_menu_home.active .parentMenu a,.pt_menu .parentMenu a:hover,#pt_menu_link .parentMenu a:hover, .pt_menu.act .parentMenu a, #pt_menu_pt_item_menu_custom_menu .parentMenu span:hover, .pt_menu.active .parentMenu a,#pt_menu_cms.active .parentMenu a, #pt_menu_link.active .parentMenu a, #pt_menu_allsub.active .parentMenu a, #pt_menu_product.active .parentMenu a,#pt_menu_product .parentMenu a:hover, #pt_menu_allsub .parentMenu a:hover, #pt_menu_cms .parentMenu a:hover {
    background-color: #868686;
}

div.popup {
    position:absolute;
    z-index:3000;
    display: none;
    background-color:#111;
    text-align:left;
    width: 904px;
}
div.pt_menu, div.popup {
    padding: 20px 15px;
}
div.pt_menu {
    float: left;
    padding: 0 !important;
}
div.pt_menu a, div.popup a {
    text-decoration: none;
    display:block;
    line-height: 32px;
}
div.pt_menu .itemMenu h4.level3,
div.pt_menu .itemMenu a.level3{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #00c8a4;
}
div.pt_menu .itemMenu h4.level3:hover ,
div.pt_menu .itemMenu a.level3:hover {
    color: #e84c3d;
}
.itemMenu h4.level1,
.itemSubMenu h4.level2 span{
    color: #897725;
}
.itemSubMenu h4.level4,
.itemSubMenu a.level4,
div.itemSubMenu a {
    color: #666666;
    padding-left: 8px;
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
}
.itemSubMenu a.level4:hover,div.itemSubMenu a:hover {
    color: #bbbbbb;
    background: #292929;
}
div.popup a.actParent {
    color: #4D4D4D;
}
div.popup a.act {
    color: #A52A2A !important;
}

div.column {
    float:left;
    width:185px; /* column width */
    margin-right: 10px;
    padding: 0 10px;
    }
div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
div.itemSubMenu {

}
.clearBoth {
    clear:both;
}
.block2{
    margin-top: 10px;
}
#popup_home{
    display: none !important;
}
div.popup .block1{
    overflow: hidden;
    /*display: inline-block;*/
    float: left;
    /*clear:both;*/
}
div.popup .block1:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
/*show right block*/
div.popup .floatleft{
    float: left;
}
div.popup .block1.floatleft{
    /*width: 650px;*/
}
div.popup .block2.floatleft{
    /*width: 250px;*/
}
div.popup .blockright img{
    max-width: 100%;
} 
.parentMenu .block-title{
    color: #1E7EC8;
    height: 32px;
    line-height: 32px;
}

div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
#pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
#pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 5px 12px 6px 8px;
    display: block;
}
#pt_menu_link{
    padding: 0;
}
.cmsblock { width: 97% !important;}
.block2{
    color: #888;
    float: left;
}
.title-custom { color: #00c8a4; text-transform: uppercase; font-weight: bold;}
.static-menu-img {
    float: left;
}

.custom-menu-bottom img { width: 99%;}

/*mobile menu*/

/*------Accordion ---------*/
/********** < Navigation */

.ma-nav-mobile-container { clear: both; display: inline-block; padding: 30px 0;}
.nav-collapse {
    text-align: left;
}
.navbar .nav > li {
    padding: 10px 30px 20px 0;
}
#ma-mobilemenu {
    height: auto;
    display: none;
    padding-top: 3px;
}

.nav-collapse, .nav-collapse.collapse {
}
.navbar-inner {
    background: #e84c3d;
    border: 0;
    border-radius: 0;
    padding: 2px 0;
}
.navbar .btn-navbar {
    margin-top: 6px;
    background: #23282c;
}
.navbar .btn-navbar:hover { background:#27ae61;}
.mobilemenu>li.last a {
    border-bottom: 0;
}
.navbar .brand {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 0 10px;
    padding: 10px 0;
}
.mobilemenu {
	list-style-type: none;
	padding: 0;
    margin: 0;

}
.collapse.in {

}
.mobilemenu ul {
	padding: 0;
	margin: 0;
	float: left;
	display: block;
	width: 100%;
}
.mobilemenu li {
    background: #23282c;
	cursor: pointer;
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
	display: block;
	width: 100%;
	position: relative;
        border-radius: 0 !important;
}
.mobilemenu li.level0.last {
    margin-bottom: 20px;
}
.mobilemenu li.active>a {
	/*background: url('../images/close.gif') no-repeat center right;*/
}
.mobilemenu li div {
	padding: 20px;
	background: #aef;
	display: block;
	clear: both;
	float: left;
	width: 360px;
}
.mobilemenu a {
	text-decoration: none;
	border-bottom: 1px solid #595c5f;
	/*font: bold 1.1em/2em Arial, sans-serif;*/
	font-size: 1.1em;
	line-height: 34px;
	font-weight: bold;
	color: #fff;
	padding: 0 10px;
	display: block;
	cursor: pointer;
}
.mobilemenu li.active a, .mobilemenu a:hover {
	color: #e84c3d;
}

.mobilemenu ul a {
	color: #fff !important;
}
.mobilemenu ul a:hover, .mobilemenu ul li.active a {
	color: #e84c3d !important;
}

.mobilemenu ul ul a, .mobilemenu ul li.active ul a {
	color: #fff !important;
}
.mobilemenu ul ul a:hover, .mobilemenu ul ul li.active a, .mobilemenu ul li.active ul a:hover {
	color: #e84c3d !important;
}

.mobilemenu ul ul ul a, .mobilemenu ul ul li.active ul a {
	color: #fff !important;
}
.mobilemenu ul ul ul a:hover, .mobilemenu ul ul ul li.active a, .mobilemenu ul ul li.active ul a:hover {
	color: #e84c3d !important;
}

.mobilemenu ul ul ul ul a, .mobilemenu ul ul ul li.active ul a {
	color: #fff !important;
}
.mobilemenu ul ul ul ul a:hover, .mobilemenu ul ul ul ul li.active a, .mobilemenu ul ul ul li.active ul a:hover {
	color: #e84c3d !important;
}



.mobilemenu li.parent>a {
	/*background: url('../images/open.gif') no-repeat center right;*/
}

.mobilemenu li ul li {
    font-size: 0.9em;
    background: #232323;
}
.mobilemenu li.active>ul {

}

.mobilemenu ul a {
	padding-left: 25px;
}
.mobilemenu ul ul a {
	padding-left: 40px;
}
.mobilemenu ul ul ul a {
	padding-left: 55px;
}
.mobilemenu ul ul ul ul a {
	padding-left: 70px;
}
.mobilemenu ul ul ul ul ul a {
	padding-left: 85px;
}
/*----------- button mobilemenu -------------*/
.mobilemenu span.head {
	position: absolute;
	top: 8px;
	right: 8px;
}
.mobilemenu span.head a { 
	color:#333333;
	display:block;
	height:15px;
	padding:0;
	width:15px;
	border: 0;
}
.mobilemenu span.CLOSE a { background: url(../images/menu_down.png) no-repeat 50% 50%; }
.mobilemenu span.OPEN a {  background: url(../images/menu_up.png) no-repeat 50% 50%;}
/*.mobilemenu span.head a:hover*/
.mobilemenu li.active>span.head a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.mobilemenu li.selected span.head a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
