a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

/*------ template stylization ------*/
/* headings, text */
h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", sans-serif; color: #222; font-weight: normal; line-height: 1.3em; }

h2 { font-size: 18px; margin: 45px 0 18px 0; }

h2 > span { display: block; margin-top: -5px; }

p { margin-bottom: 22px; }

.lead { font-family: "Open Sans", sans-serif; font-size: 15px; line-height: 22px; color: #2F96B4; margin: 0; text-decoration: none; }

a.lead { text-decoration: none; }

a.lead:hover { color: #525050; }

.lead-1 { color: #2F96B4; display: inline-block; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: 400; line-height: 22px; margin: 5px 0 11px; text-decoration: none; }

a.lead-1 { text-decoration: none; }

a.lead-1:hover { color: #525050; }

figure { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: #f5f5f5 7px solid; display: inline-block; margin: 0; }

.text-info { color: #777777; font-size: 14px; font-weight: normal; }

p.text-info { margin-bottom: 17px; }

.font-12 { font-size: 12px; line-height: 20px; }

.font-12 p { margin-bottom: 20px; }

small { font-size: 11px; line-height: 13px; display: block; color: #b4b4b4; }

small.p2 { line-height: 18px; }

.upper { text-transform: uppercase; }

.top-0 { margin-top: 0 !important; }

.bot-0 { margin-bottom: 0 !important; }

.left-0 { margin-left: 0 !important; }

.last { margin-right: 0 !important; }

.indent-1 { margin: 40px 0 18px 0; }

.indent-2 { margin-top: 59px !important; }

.indent-3 { margin: 30px 0 18px !important; }

.p0 { margin-bottom: 0px !important; }

.p1 { margin-bottom: 17px !important; }

.p2 { margin-bottom: 8px !important; }

.p3 { margin-bottom: 30px !important; }

.img-indent { margin: 5px 25px 10px 0; float: left; }

.extra-wrap { overflow: hidden; }

.border-right { border-right: #f1f1f1 1px solid; margin-right: 20px; padding-right: 20px; }

ul.list { margin: 0; list-style: none; }

ul.list li { padding: 0px 0 8px 13px; background: url(../img/marker.gif) 0 8px no-repeat; font-size: 12px; line-height: 22px; }

ul.list li a { color: #777777; }

ul.list li a:hover { color: #2F96B4; }

/* ===================================== */
/* Breadcrumb*/
/* ===================================== */
#page-title { margin: 20px 0; }

#page-title .breadcrumb { background: none repeat scroll 0 0 transparent; border-radius: 0 0 0 0; list-style: none outside none; margin: 0; padding: 0; }

/* ===================================== */
/* our team*/
/* ===================================== */

.hiring { background: none repeat scroll 0 0 #FAFAFA; border: 1px solid #EEEEEE; padding: 30px; margin: 45px 0 60px; text-align: center; -webkit-border-radius: 3px; -moz-border-radius:3px; border-radius: 3px; }

.hiring h2 { margin: 0 0 18px; }

/* ===================================== */
/* dropcap*/
/* ===================================== */

.dropcap-1 { background: none repeat scroll 0 0 #2F96B4; color: #FFFFFF; display: inline-block; float: left; font-family: open sans; font-size: 29px; font-weight: 700; height: 26px; line-height: 23px; margin-right: 15px; margin-top: 5px; padding: 10px; text-align: center; width: 26px; -webkit-border-radius: 30px 30px 30px 30px; -moz-border-radius:30px 30px 30px 30px; border-radius: 30px 30px 30px 30px; }

/* ===================================== */
/* our team*/
/* ===================================== */

.page-header1 { border-bottom: 1px solid #EEEEEE; margin: 22px 0 20px; }

.page-header1 h2 { }

.page-header1 h2 small { display: inline-block; font-size: 12px; padding-left: 15px; }

/* ===================================== */
/* our team*/
/* ===================================== */

.our-team span { color: #B4B4B4; display: block; font-size: 11px; line-height: 13px; margin-top: 0; }

ul.team-social-icon { border-bottom: 1px solid #EEEEEE; border-top: 1px solid #EEEEEE; padding: 10px 0; list-style: none outside none; margin: 0; }

ul.team-social-icon li { display: inline-block; float: none; }

.team-social-twitter { background-image: url("../img/social_icons/icon-twitter.png"); background-repeat: no-repeat; display: inline-block; height: 14px; line-height: 14px; margin-top: 1px; vertical-align: text-top; width: 14px; }

.team-social-facebook { background-image: url("../img/social_icons/icon-facebook.png"); background-repeat: no-repeat; display: inline-block; height: 14px; line-height: 14px; margin-top: 1px; vertical-align: text-top; width: 14px; }

.team-social-skype { background-image: url("../img/social_icons/icon-skype.png"); background-repeat: no-repeat; display: inline-block; height: 14px; line-height: 14px; margin-top: 1px; vertical-align: text-top; width: 14px; }

.team-social-youtube { background-image: url("../img/social_icons/icon-youtube.png"); background-repeat: no-repeat; display: inline-block; height: 14px; line-height: 14px; margin-top: 1px; vertical-align: text-top; width: 14px; }

/* ===================================== */
/* Sidebar*/
/* ===================================== */
/*sidebar tabs*/
.sidebar-tabs { margin-top: 45px; }

.sidebar-tabs .nav-tabs { margin-bottom: 0px; }

.sidebar-tabs .tab-content { padding: 20px; border-bottom: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; border-top: 0; }

/*sidebar image list*/
.sidebar-image-list { display: inline-block; margin: 0; }

.sidebar-image-list li { display: inline-block; float: left; margin-bottom: 15px; margin-right: 4%; width: 29%; }

.sidebar-image-list li .img-circle { background: none repeat scroll 0 0 #F5F5F5; float: left; width: 100%; }

.sidebar-image-list li .extra-wrap { padding: 0 0 0 0; }

.sidebar-image-list li h2 { margin: 0 0 8px 0; color: #949494; }

.sidebar-image-list li p { margin-bottom: 6px; }

.sidebar-image-list li p a { color: #999; font-family: "Open Sans", sans-serif; font-size: 13px; line-height: 16px; margin-bottom: 6px; }

.sidebar-image-list li p a:hover { color: #2F96B4; }

.sidebar-image-list li span { color: #777; }

/*text widget*/
.text-widget { background: none repeat scroll 0 0 #FAFAFA; border: 1px solid #EEEEEE; padding: 30px; margin: 45px 0 0; -webkit-border-radius: 3px; -moz-border-radius:3px; border-radius: 3px; }

.text-widget h2 { margin: 0 0 18px; }

/* ===================================== */
/* Blog*/
/* ===================================== */

.blog-post h2 { margin: 6px 0px; display: inline-block; }

.blog-fright { float: right; }

.blog-fleft { float: left; }

.blog-post img { margin-bottom: 15px; }

.blog-post figure { float: left; margin-right: 15px; }

.blog-post figure img { margin-bottom: 0; }

.post-meta { border-bottom: 1px solid #EEEEEE; margin-bottom: 10px; padding-bottom: 10px; }

.blog-post { position: relative; top: auto; z-index: 1; max-width: 100%; margin: 50px 0 0; overflow: auto; background-color: #ffffff; border: 1px solid #999; border: 1px solid #eee; *border: 1px solid #999;
-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box; }

.blog-post:hover { -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); -webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease; }

.blog-post-header { padding: 9px 15px; border-bottom: 1px solid #eee; }

.blog-post-body { overflow-y: auto; padding: 15px; }

.blog-post-footer { padding: 14px 15px 15px; margin-bottom: 0; text-align: right; background-color: #f5f5f5; border-top: 1px solid #ddd; -webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; -webkit-box-shadow: inset 0 1px 0 #ffffff; -moz-box-shadow: inset 0 1px 0 #ffffff; box-shadow: inset 0 1px 0 #ffffff; *zoom: 1;
}

.blog-post-footer:before, .blog-post-footer:after { display: table; content: ""; line-height: 0; }

.blog-post-footer:after { clear: both; }

.blog-post .carousel { margin-bottom: 0; }

/*blog comments*/

.blog-comments .img-circle { float: left; margin: 0 15px 15px 0; }

.blog-comments .img-circle img { margin: 0; }

.blog-comments .parent { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #EEEEEE; margin-bottom: 30px; padding: 20px; position: relative; }

.blog-comments .parent-sub-img { background: url("../img/post-sub.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 70px; left: -22px; position: absolute; top: -30px; width: 19px; }

.blog-comments .parent h2 { margin: 0 0 3px 0; }

.blog-comments .parent h5 a:link, .parent h5 a:visited { color: #333333; font: bold 14px 'arial'; }

.blog-comments .parent img { float: left; }

.blog-comments .parent span { font: italic 12px 'georgia'; }

.blog-comments .parent a.reply:link, .parent a.reply:visited { background: none repeat scroll 0 0 #2F96B4; color: #FFFFFF; font-size: 10px; font-weight: bold; margin-left: 20px; padding: 2px 6px; text-transform: uppercase; }

.blog-comments .parent a.reply:hover { background: none repeat scroll 0 0 #333333; }

.blog-comments .parent p { margin-top: 10px; overflow: hidden; }

.blog-comments .child { margin-left: 40px; }

.blog-comments .subchild { margin-left: 80px; }

/*=========================================================================
Price Start
========================================================================= */

.price-table-two .price-column { width: 50%; }

.price-table-three .price-column { width: 33%; }

.price-table-four .price-column { width: 25%; }

.price-table-five .price-column { width: 20%; }

.price-table { overflow: hidden; }

.price-column { float: left; margin: 10px 0; }

.price-column strong, strong a { font-size: 12px; font-family: "Open Sans", sans-serif; line-height: 22px; }

.price-column ul li, .price-column h4 { text-align: center; }

.price-column .first { background-color: rgba(0, 0, 0, 0.01); margin: 0 0 0; padding-bottom: 17px; }

.price-column ul { list-style-type: none; margin: 0; }

.price-column .last { background: none repeat scroll 0 0 transparent; padding: 17px 10px 17px 10px; }

.price-column ul li { background: url("../img/price-list.png") repeat-x scroll 0 100% transparent; color: #666666; padding: 10px; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3); }

.price-column h4 { border-bottom: 0 none; font-size: 18px; line-height: 36px; margin: 0; padding: 0; text-transform: uppercase; }

.price-column-featured h4 { font-size: 26px; line-height: 46px; }

.price-column-featured ul { padding-bottom: 11px; }

.price-column-first h4, .price-column-first { border-radius: 3px 0 0 0; -moz-border-radius: 3px 0 0 0; -webkit-border-radius: 3px 0 0 0; behavior: url(css/PIE.htc); }

.price-column-first { border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px 0 0 3px; behavior: url(css/PIE.htc); }

.price-column-last h4, .price-column-last { border-radius: 0 3px 0 0; -moz-border-radius: 0 3px 0 0; -webkit-border-radius: 0 3px 0 0; behavior: url(css/PIE.htc); }

.price-column-last { border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0; behavior: url(css/PIE.htc); }

.price-column h4 { background-color: #1a80b3; color: #fff; }

.price-column-even h4 { background-color: #afafaf; }

.price-column-first h4, .price-column-last h4 { background-color: #a0a0a0; }

.price-column .price-tag { color: #333; text-shadow: 0 0 0; }

.price-column .button { display:inline-block; padding:8px 14px; color:#333; text-decoration:none; font-size:11px; line-height:1.2em; background-color: #fff; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3)); /* Saf4+, Chrome */ background-image: -webkit-linear-gradient(top, #fff, #f3f3f3); /* Chrome 10+, Saf5.1+, iOS 5+ */ background-image: -moz-linear-gradient(top, #fff, #f3f3f3); /* FF3.6 */ background-image: -ms-linear-gradient(top, #fff, #f3f3f3); /* IE10 */ background-image: -o-linear-gradient(top, #fff, #f3f3f3); /* Opera 11.10+ */ background-image: linear-gradient(top, #fff, #f3f3f3); font-weight:bold; font-family:Arial, Helvetica, sans-serif; box-shadow:1px 1px 2px rgba(0, 0, 0, .2); -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; behavior: url(css/PIE.htc); margin-right:5px; }

.price-column .button:hover { background:#2F96B4; color:#fff; text-decoration:none; }

.price-column { background-color: #f7f7f7; position: relative; behavior: url(css/PIE.htc); }

.price-column-even { background-color: #fafafa; box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); behavior: url(css/PIE.htc); z-index: 3; }

.price-column li.even { color: #555555; }

.price-column-featured { background-color: #fff; margin: 0; position: relative; margin-bottom: 3px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; behavior: url(css/PIE.htc); z-index: 9; }

.price-column-featured h4 { background-color: #2F96B4; color: #FFFFFF; border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; behavior: url(css/PIE.htc); }

.price-tag .price-value { color: #2F96B4; display: block; font-family: "Open Sans", sans-serif, serif; font-size: 40px; font-weight: 300; line-height: 40px; margin-bottom: 8px; }

.price-tag .big { font-size: 46px; line-height: 43px; margin-bottom: 5px; }

.price-tag .price-period { font-size: 14px; line-height: 16px; }

/* ===================================== */
/* Buttons*/
/* ===================================== */
.button { display: inline-block; font-weight: bold; font-family:  Arial, sans-serif; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius:3px; border-radius: 3px; margin: 0 5px 5px 0; line-height: 17px;  *float: left;
-webkit-box-shadow: inset 1px 0px 0px rgba(255, 255, 255, .3); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .3); }

.button:active { -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.08); box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.08); }

.button.medium i { float: left; margin: 2px 5px 0px -5px; }

.button.small i { float: left; margin: 1px 5px 0px -3px; }

.button.medium { padding: 7px 14px; font-size: 14px; }

.button.small { padding: 6px 12px; font-size: 12px; font-family: Arial, sans-serif; line-height: 16px; }

/* Yellow Button
==========================*/
.button.yellow, input[type="button"] { border: 1px solid #e6bd4c; background-image: linear-gradient(bottom, #FCCC73 0%, #FAE198 100%); background-image: -o-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%); background-image: -moz-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%); background-image: -webkit-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%); background-image: -ms-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%); background-color: #FCCC73; color:#754c00; text-shadow: 1px 1px 0px #ffebb7; filter: dropshadow(color=#ffebb7, offx=1, offy=1); }

.button.yellow:hover, input[type="button"]:hover { background: #fbd684; }

/* White Button
==========================*/
.button.white { border: 1px solid #dddddd; background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-color: #F7F7F7; color:#444; text-shadow: 1px 1px 0px #fff; filter: dropshadow(color=#ffffff, offx=1, offy=1); }

.button.white:hover { background: #fbfbfb; }

/* Black Button
==========================*/
.button.black { border: 1px solid #464646; background-image: linear-gradient(bottom, #464646 0%, #656565 100%); background-image: -o-linear-gradient(bottom, #464646 0%, #656565 100%); background-image: -moz-linear-gradient(bottom, #464646 0%, #656565 100%); background-image: -webkit-linear-gradient(bottom, #464646 0%, #656565 100%); background-image: -ms-linear-gradient(bottom, #464646 0%, #656565 100%); background-color: #464646; color:#fff; text-shadow: 1px -1px 0px #444; filter: dropshadow(color=#4444444, offx=1, offy=1); }

.button.black:hover { background: #535353; }

/* Red Button
==========================*/
.button.red { border: 1px solid #b23730; background-image: linear-gradient(bottom, #C74039 0%, #E35752 100%); background-image: -o-linear-gradient(bottom, #C74039 0%, #E35752 100%); background-image: -moz-linear-gradient(bottom, #C74039 0%, #E35752 100%); background-image: -webkit-linear-gradient(bottom, #C74039 0%, #E35752 100%); background-image: -ms-linear-gradient(bottom, #C74039 0%, #E35752 100%); background-color: #C74039; color:#fff; text-shadow: 1px -1px 0px #a43b37; filter: dropshadow(color=#a43b37, offx=1, offy=1); }

.button.red:hover { background: #ce4640; }

/* Green Button
==========================*/
.button.green { border: 1px solid #819633; background-image: linear-gradient(bottom, #8DA046 0%, #A3B951 100%); background-image: -o-linear-gradient(bottom, #8DA046 0%, #A3B951 100%); background-image: -moz-linear-gradient(bottom, #8DA046 0%, #A3B951 100%); background-image: -webkit-linear-gradient(bottom, #8DA046 0%, #A3B951 100%); background-image: -ms-linear-gradient(bottom, #8DA046 0%, #A3B951 100%); background-color: #8DA046; color:#fff; text-shadow: 1px -1px 0px #77873b; filter: dropshadow(color=#77873b, offx=1, offy=1); }

.button.green:hover { background: #93a749; }

/* Blue Button
==========================*/
.button.blue { border: 1px solid #1f70ad; background-image: linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%); background-image: -o-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%); background-image: -moz-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%); background-image: -webkit-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%); background-image: -ms-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%); background-color: #2778C8; color:#fff; text-shadow: 1px -1px 0px #1c6396; filter: dropshadow(color=#1c6396, offx=1, offy=1); }

.button.blue:hover { background: #287fc8; }

/**/
/*----------- Back to top --------------*/
#toTop { display: none; width: 44px; height: 44px; overflow: hidden; background: url(../img/totop.gif) 0 0 no-repeat; position: fixed; margin-right: -640px !important; right: 50%; bottom: 20px; z-index: 999; }

#toTop:hover { background-position: right 0; }

#toTop:active, #toTop:focus { outline: none; }

/*------ header ------- */
.header-block { background: #FAFAFA; border-bottom: 1px solid #E0E0E0; }

header { background: none repeat scroll 0 0 #FFFFFF; border-bottom: 1px solid #E0E0E0; border-top: 5px solid #2F96B4; position: relative; z-index: 999; }

/* navbar */
.navbar_ { margin: 0px; }

.navbar_ .navbar-inner { padding: 0; margin: 0; background: url(../img/navbar.png) 0 0 repeat-x; border: none; min-height: inherit; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/*nav*/
.navbar_ .container { position: relative; }

.navbar_ h1.brand { display: inline-block; margin: 0; padding: 0; text-transform: none; float: left; }

.navbar_ h1.brand a { display: block; font-size: 0; line-height: 0px; text-indent: -5000; width: 170px; height: 82px; background: url(../img/logo.png) 0 0 no-repeat; }

/**/
.nav-collapse_ { float: right; }

.nav-collapse_ .nav { margin: 0; }

.nav-collapse_ .nav li { margin: 0; padding: 0; position: relative; zoom: 1; }

.nav-collapse_ .nav > li { line-height: 15px; }

.nav-collapse_ .nav li a { font-family: "Open Sans", sans-serif; font-size: 12px; line-height: 15px; color: #888888; text-shadow: none; text-decoration: none; display: block; padding: 0 30px; margin: 0; }

.nav-collapse_ .nav > li > a > span { font-size: 12px; line-height: 67px; text-transform: uppercase; font-weight: normal; display: block; margin: 0; padding: 0; }

.nav-collapse_ .nav > li > a > span > em { color: #CCCCCC; display: block; font-size: 10px; font-weight: normal; line-height: 15px; position: relative; top: -24px; }

.nav-collapse_ .nav > li > em { position: absolute; left: 0; bottom: -1px; border-bottom: 1px solid #000; height: 1px; width: 100%; display: none; }

.nav-collapse_ .nav > li.sfHover > em, .nav-collapse_ .nav > li.sfHover:hover > em, .nav-collapse_ .nav > li:hover > em, .nav-collapse_ .nav > li.active > em, .nav-collapse_ .nav > li.active:hover > em { display: block; }

.nav-collapse_ .nav > li.active { }

.nav-collapse_ .nav > li.sfHover > a, .nav-collapse_ .nav > li.sfHover > a:hover, .nav-collapse_ .nav > li > a:hover, .nav-collapse_ .nav > li.active > a, .nav-collapse_ .nav > li.active > a:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; color: #444; background: none; }

.nav-collapse_ .nav > li.sub-menu > a { position: relative; }

.nav-collapse_ .nav > li.sub-menu > a:before { content: " "; position: absolute; background: url(../img/li-marker.gif) left top no-repeat; width: 5px; height: 6px; right: 22px; top: 50%; margin: -3px -8px 0 0; }

.nav-collapse_ .nav ul { position: absolute; display: none; width: 180px; left: 0px; top: 82px; list-style: none; zoom: 1; z-index: 9; background: #fff; border: 1px solid #ccc; border-top: 1px solid #000; margin: 0; }

.nav-collapse_ .nav ul > li > em { position: absolute; left: 0; top: -6px; z-index: 999; background: url(../img/nav-li-hover.png) 32px 0 no-repeat; height: 5px; width: 100%; display: block; }

.nav-collapse_ .nav ul > li > ul > li > em { background: none; }

.nav-collapse_ .nav ul li { line-height: 15px; }

.nav-collapse_ .nav ul li a { display: block; border-bottom: 1px solid #EEEEEE; line-height: 15px; background: none; padding: 10px; }

.nav-collapse_ .nav > li > ul li > a:hover, .nav-collapse_ .nav > li > ul li.sfHover > a { text-decoration: none; color: #000; background: none repeat scroll 0 0 #FAFAFA; }

.nav-collapse_ .nav ul ul { left: 182px; top: 0; }

#responsive-main-nav-menu { display: none; }


/**/
/* slider */
/* slider */
.slider { position: relative; z-index: 1; padding: 0; }

.slider { overflow: hidden; }

.camera_wrap { margin-bottom: 0 !important; }

.camera_thumb { width: 150px; height: auto; }

.camera_wrap .camera_pag { position: absolute; bottom: 41px; left: 450px; z-index: 999; }

.camera_wrap .camera_pag .camera_pag_ul { list-style: none; margin: 0; padding: 0; text-align: center; }

.camera_wrap .camera_pag .camera_pag_ul li > span { display: none; }

.camera_wrap .camera_pag .camera_pag_ul li { background: #c4c4c4; width: 8px; height: 8px; display: block; float: left; margin-right: 7px; cursor: pointer; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }

.camera_wrap .camera_pag .camera_pag_ul li:hover { background: #434343; }

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent { background: #434343; cursor: default; }

.camera_caption { top: 0px; left: 0px; display: block; position: absolute; width: 100%; }

.camera_caption > div { padding: 85px 0 0 445px; }

.camera_caption h1 { color: #2F96B4; font-size: 23px; font-weight: 600; letter-spacing: 0; line-height: 23px; margin: 0; text-transform: uppercase; }

.camera_caption h2 { font-size: 16px; margin: 10px 0 0; }

.camera_caption h3 { font-weight: 600; margin: -5px 0 0 0; }

.camera_caption a { margin-top: 0; }

/*--- header end ------*/
/*------ content ------- */
#content { background: none repeat scroll 0 0 #FFFFFF; border-bottom: 5px solid #F5F5F5; padding-bottom: 60px; }

.section-2 { background: none repeat scroll 0 0 #FAFAFA; border-bottom: 1px solid #E0E0E0; border-top: 1px solid #E0E0E0; margin-bottom: 20px; margin-top: 60px; padding-bottom: 30px; text-align: center; }

.section-2 h2 { font-size: 26px; font-weight: 300; margin-bottom: 6px; margin-top: 30px; }

.section-2 span { color: #2F96B4; display: inline; margin: 0; }

.section-2 p { margin-bottom: 15px; }

.section-4 { background: none repeat scroll 0 0 #FAFAFA; border-bottom: 1px solid #E0E0E0; border-top: 1px solid #E0E0E0; margin-bottom: 20px; margin-top: 0; padding-bottom: 30px; text-align: center; }

.section-4 h2 { font-size: 26px; font-weight: 300; margin-bottom: 6px; margin-top: 30px; }

.section-4 span { color: #2F96B4; display: inline; margin: 0; }

.section-4 p { margin-bottom: 15px; }

.section-3 { background: none repeat scroll 0 0 #2D2D2D; padding: 0 0 40px 0; }

.sub-content { padding-bottom: 69px; border-bottom: #cedff0 6px solid !important; border-top: #f5f5f5 11px solid !important; }

/* thumbnails */
.thumbnails { margin: 0 0 58px -20px; }

.thumbnails li { margin-top: 0px; margin-bottom: 0; float: left; }

.thumbnails .thumbnail, .thumbnails_2 .thumbnail_2, .thumbnails_3 .thumbnail_3, .thumbnails_4 .thumbnail_4, .thumbnails_5 .thumbnail_5 { background: none; -webkit-border-radius: none; -moz-border-radius: none; border-radius: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: none; padding: 0; }

.thumbnails .thumbnail { margin: 51px 0 0 0; text-align: center; }

.thumbnails .thumbnail p { }

.thumbnails .thumbnail h2 { margin: 25px 0 14px 0; }

/**/
/* thumbnails_2 */
.thumbnails_2 { margin: 0 0 0px -20px; }

.thumbnails_2 .thumbnail_2 { margin: 46px 0 0 0; }

.thumbnails_2 .thumbnail_2 img { float: left; margin-right: 24px; }

.thumbnails_2 .thumbnail_2 div { overflow: hidden; padding-top: 4px; }

.thumbnails_2 .thumbnail_2 p { margin-bottom: 0; }

.thumbnails_2 .thumbnail_2 h2 { margin: 0px 0 8px 0; }

.thumbnails_2 .thumbnail_2 a.btn { border: #21b44f 1px solid; }

.thumbnails_2 .thumbnail_2 a.btn:hover { border: #1a913b 1px solid; }

/* thumbnails_3 */
.thumbnails_3 { margin: 0 0 60px -20px; }

.thumbnails_3 .thumbnail_3 { margin: 21px 0 0 0; }

.thumbnails_3 .thumbnail_3 figure { width: 100%; text-align: center; }

.thumbnails_3 .thumbnail_3 small { margin-bottom: 13px; }

.thumbnails_3 .thumbnail_3 a.lead { margin: 16px 0 0px 0; display: inline-block; }

/* thumbnails_4 */
.thumbnails_4 { margin: 0 0 0px -20px; }

.thumbnails_4 .thumbnail_4 { margin: 23px 0 0 0; color: #bfbfbf; line-height: 20px; font-size: 12px; }

.thumbnails_4 .thumbnail_4 img { float: left; margin: 0 20px 0 0; }

.thumbnails_4 .thumbnail_4 blockquote { margin: 0; padding: 0; background: url(../img/blockquote.png) 0 0 no-repeat; display: block; border: none; overflow: hidden; }

.thumbnails_4 .thumbnail_4 blockquote em:first-child { padding-left: 30px; }

.thumbnails_4 .thumbnail_4 blockquote em + em { margin-top: 20px; display: block; }

.thumbnails_4 .thumbnail_4 .extra-wrap > span { color: #949494; float: right; display: inline-block; text-align: right; padding: 10px 2px 0 0; font-style: italic; }

/* thumbnails_5 */
.thumbnails_5 { margin: 0 0 0px -20px; }

.thumbnails_5 .thumbnail_5 { margin: 9px 0 0 20px; }

.thumbnails_5 .thumbnail_5 small { margin: -3px 0 14px 0; line-height: 18px; display: block; }

/*list-banners*/
.list-banners { margin: 0 0 0 0; }

.list-banners li { border: 1px solid #EEEEEE; display: inline-block; float: left; margin-left: -1px; margin-top: -1px; padding: 23px; width: 109px; }

.list-banners li:first-child { background: none; }

.list-banners li a { display: block; }

.list-banners li a img { background: none repeat scroll 0 0 #FFFFFF; opacity: 0.1; filter: alpha(opacity=10); width: 100%; }

.list-banners li a:hover img { opacity: 1; filter: alpha(opacity=100); -webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease; behavior: url(js/PIE.htc); }

/*social icons*/
ul#social { list-style: none outside none; margin: 0; }

#social a { display: block; float: left; height: 32px; margin: 0 9px 9px 0; width: 32px; }

#social a img { border: medium none; }

.tab-button { float: right; margin-top: 28px; }

/*list-news*/
.list-news { margin: 0 0 0 -10px; }

.list-news li { display: inline-block; float: left; width: 265px; margin-left: 10px; margin-top: 28px; }

.list-news li .img-circle { background: url(../img/date.jpg) 0 0 repeat-x #f4f4f4; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); margin-right: 20px; text-align: center; width: 67px; height: 52px; padding: 15px 0 0 0; font-size: 24px; line-height: 18px; color: #525050; float: left; }

.list-news li .extra-wrap { padding: 0 0 10px 1px; }

.list-news li h2 { margin: 0 0 8px 0; color: #949494; }

/*list-news*/
.footer-list-news { display: inline-block; margin: 0; }

.footer-list-news li { display: inline-block; float: left; margin-bottom: 15px; width: 100%; }

.footer-list-news li .img-circle { background: none repeat scroll 0 0 #F5F5F5; margin-right: 20px; float: left; width: 67px; }

.footer-list-news li .extra-wrap { padding: 0 0 0 0; }

.footer-list-news li h2 { margin: 0 0 8px 0; color: #949494; }

.footer-list-news li p { margin-bottom: 6px; }

.footer-list-news li p a { color: #999; font-family: "Open Sans", sans-serif; font-size: 13px; line-height: 16px; margin-bottom: 6px; }

.footer-list-news li p a:hover { color: #2F96B4; }

.footer-list-news li span { color: #777; }

/*list-services*/
.list-services { margin: 0 0 0 0px; }

.list-services li { display: block; overflow: hidden; margin: 28px 0 0 0px; }

.list-services li:first-child { margin-top: 0; }

.list-services li figure { float: left; margin: 5px 15px 6px 0; }

.list-services li small { display: block; margin-bottom: 11px; }

/**/
/*-- contacts page --*/
.indent-right { padding-right: 100px; }

.map { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: #f5f5f5 10px solid; width: 100%; height: 330px; margin: 25px 0 25px 0; }

.map iframe { width: 100%; height: 310px; border: none; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }

address strong { font-weight: normal; display: block; margin-bottom: 22px; }

address span { display: inline-block; width: 73px; }

.contact-form { margin-top: 23px; }

.contact-form input { height: 41px; width: 100%; padding: 11px 10px 13px 10px; line-height: 17px !important; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; float: left; }

.contact-form label { min-height: 61px; position: relative; overflow: hidden; display: block; }

.contact-form .error, .contact-form .empty { display: none; position: relative; font-size: 11px; line-height: 14px; color: #2F96B4; float: left; margin: 2px 0 4px 10px; min-width: 160px; }

.contact-form .success { display: none; color: #1c2129; padding-bottom: 5px; }

.contact-form textarea { width: 100%; height: 223px; padding: 8px 0 0 10px; resize: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.contact-form input, .contact-form textarea { -webkit-box-shadow: 0 1px 3px #E3E3E3; -moz-box-shadow: 0 1px 3px #E3E3E3; box-shadow: 0 1px 3px #E3E3E3; }

.contact-form input:focus, .contact-form textarea:focus { box-shadow: none; }

.contact-form .btn { margin: 30px 0 0 20px; }

/*privacy*/
.float { float: left; }

.float2 { float: right; }

/**/
/*404 page*/
.block-404 .span8 { text-align: center; }

.block-404 h1 { color: #2F96B4; font-size: 60px; font-weight: 700; margin: 0; }

.block-404 h2 { font-weight: 600; margin: 0 0 27px; }

.form-404 { width: 100%; margin-top: 8px; display: block; }

.form-404 input { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin: 0; box-shadow: none; height: 32px; width: 210px; line-height: 17px !important; padding: 6px 10px 7px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; }

.form-404 input:focus { box-shadow: none; }

.form-404 a.btn { margin: 0; text-align: center; float: right; }

/**/
/*-- end contacts --*/
/*--- content end ------*/
/*------ footer ------- */
footer { background: none repeat scroll 0 0 #383838; color: #65676b; }

footer a { color: #65676b; }

footer a:hover { color: #ffffff; }

footer h2 { color: #FFFFFF; font-size: 14px; }

.footer-2 { padding: 32px 0 32px 0; text-align: center; }

/* Twitter */
ul#tweet-list { list-style: none outside none; margin: 0; }

.tweets { width:100%; padding:0; font-size:12px; line-height:16px; overflow:hidden; }

.tweets ul li, .tweets p { font-size:12px; line-height:16px; }

.tweets ul li { background: url("../img/bird-small.png") no-repeat scroll 8px 12px #242424; padding:10px 10px 10px 35px; margin:0 0 15px 0; box-shadow: 0 0 1px #666666 inset; -moz-box-shadow: 0 0 1px #666666 inset; -webkit-box-shadow: 0 0 1px #666666 inset; }

.tweets ul li a { font-style:italic; font-weight:bold; font-size:12px; color:#999; }

/**/
/*--- footer end ------*/
/*----- media queries ------*/
@media (min-width: 1200px) {
 .nav-collapse_ .nav > li, .nav-collapse_ .nav ul {
 width: 180px;
}
 .nav-collapse_ .nav ul ul {
 left: 180px;
}
 .slider {
 height: 378px;
}
 .camera_caption > div {
 padding: 83px 0 0 645px;
}
.camera_caption h1 {
 color: #2F96B4;
 font-size: 23px;
 font-weight: 600;
 letter-spacing: 0;
 line-height: 23px;
 margin: 0;
 text-transform: uppercase;
}
.camera_caption h2 {
 font-size: 16px;
 margin: 10px 0 0;
}
 .camera_caption h3 {
 font-weight: 600;
 margin: -5px 0 0 0;
}
.camera_caption p {
 margin-bottom: 0;
 margin-top: 10px;
}
 .camera_caption a {
 margin-top: 23px;
}
 .camera_wrap .camera_pag {
 bottom: 121px;
 left: 645px;
}
 .camera_wrap .camera_pag .camera_pag_ul li {
 width: 8px;
 height: 8px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
}
 .thumbnails {
 margin-left: -30px;
}
 .thumbnails_3 .thumbnail_3 figure {
 width: 173px !important;
}
 .border-right {
 margin-right: 35px;
 padding-right: 64px;
}
 .list-banners li {
 width: 148px;
}
 .list-news {
 margin: 0 0 0 -40px;
}
 .list-news li {
 width: 315px;
 margin-left: 40px;
}
 .list-news li .img-circle {
 margin-right: 30px;
}
 .footer.list-news {
 margin: 0 0 0 -40px;
}
.footer.list-news li {
 width: 315px;
 margin-left: 40px;
}
.footer.list-news li .img-circle {
 margin-right: 30px;
}
 .thumbnails_5 {
 margin-left: -30px;
}
 .thumbnails_5 .thumbnail_5 {
 margin-left: 30px;
}
 .form-404 input {
 width: 280px;
}
 .map {
}
 .map iframe {
}
}
@media (max-width: 1199px) {
}
@media (min-width: 980px) and (max-width: 1199px) {
}
@media (min-width: 979px) {
}
@media (max-width: 979px) {
 .thumbnails_3 .thumbnail_3 figure {
 width: auto;
}
 .list-news {
 margin: 0 0 0 0px;
}
 .list-news li {
 margin-left: 0px;
}
 .list-news li {
 width: 100%;
}
 .footer.list-news {
 margin: 0 0 0 0px;
}
.footer.list-news li {
 margin-left: 0px;
}
.footer.list-news li {
 width: 100%;
}
 .thumbnails_4 {
 margin-left: 0;
}
 .thumbnails_4 li.span3 {
 width: 100% !important;
 margin-left: 0;
}
 h2 > span {
 display: inline;
}
 .list-services li figure {
 float: left;
}
 .indent-right {
 padding-right: 0;
}
 .contact-form input {
 width: 100%;
}
 .form-404 input {
 width: 100%;
}
 .form-404 a.btn {
 margin-top: 10px;
}
}
@media (min-width: 768px) and (max-width: 979px) {
  /* navbar */
  .navbar_ .navbar-inner .btn-navbar {
 display: none;
}
 .navbar_ .navbar-inner .nav-collapse {
 overflow: visible;
 height: auto;
 clear: none;
}
 .navbar_ .navbar-inner .nav-collapse_ .nav > li {
 width: 130px;
 float: left;
}
 .nav-collapse_ .nav > li > a {
 margin-bottom: 0;
 padding: 0 5px 0 15px;
}
 .nav-collapse_ .nav ul {
 width: 130px;
}
#responsive-main-nav-menu { display: none; }
 .nav-collapse_ .nav ul ul {
 left: 132px;
}
  /**/
  .camera_caption > div {
 padding: 45px 0 0 345px;
}
 .camera_caption h1 {
 font-size: 23px;
 margin: 0;
}
 .camera_caption h2 {
 font-size: 15px;
}
 .camera_caption p {
 margin-bottom: 0;
}
 .camera_caption h3 {
 display: none;
}
 .camera_caption a {
 margin-top: 13px;
 padding: 8px 17px 9px 17px;
}
 .camera_wrap .camera_pag {
 bottom: 20px;
 left: 350px;
}
 .camera_wrap .camera_pag .camera_pag_ul li {
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
}
  /**/
  .thumbnails li.span3 {
 width: 47%;
}
 .thumbnails_2 .thumbnail_2 div {
 overflow: visible;
 padding-top: 4px;
}
 .thumbnails_2 .thumbnail_2 div h2 {
 margin-bottom: 25px;
}
 .thumbnails_3 li.span2 {
 width: 45%;
}
 .border-right {
 margin-right: 15px;
 padding-right: 34px;
}
.list-banners li {
 border: 1px solid #EEEEEE;
 margin-left: -1px;
 margin-right: 0;
 margin-top: -1px;
 padding: 16px;
width: 87px;
}
.list-banners li:first-child {
}
 .float-none {
 float: none !important;
}
}
@media (max-width: 767px) {
 body {
 padding: 0;
 margin: 0;
}
 .container {
 padding: 0 20px;
}
  /* navbar */
  #responsive-main-nav-menu { background: none repeat scroll 0 0 #fff; border: 1px solid #eee; color: #333; font-size: 12px; line-height: 1em; font-family: "Open Sans",sans-serif; display: block; float: right; padding: 3px 3px 3px 3px; margin: 26px 0 0; width: 40%; text-transform: capitalize; }

  .navbar_ .nav-collapse_ {
 width: 200px;
 position: absolute;
 right: 0;
 top: 79px;
}
 .navbar_ .btn {
 display: inline-block;
 float: right;
 position: relative;
 font-size: 14px;
 line-height: 20px;
 font-weight: 900;
 background: #22b34f;
 padding: 27px 5px 27px 5px;
 width: 60px;
 text-align: center;
 font-family: 'Source Sans Pro', sans-serif;
 text-decoration: none;
 margin: 0;
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0;
 text-shadow: none;
 color: #ffffff;
 box-shadow: none;
 border: none;
}
 .navbar_ .btn:hover {
 color: #000000;
 background: #22b34f;
}
 .nav-collapse_ .nav {
 position: relative;
 zoom: 1;
 z-index: 999;
 width: 200px;
 background: #24262a;
 padding: 25px 0 24px 0;
 margin: 5px 0 0 0;
}
 .nav-collapse_ .nav li {
 margin: 0;
 padding: 0;
 position: relative;
 zoom: 1;
}
 .nav-collapse_ .nav > li {
 background: none;
 width: 200px;
 line-height: 17px;
 margin-bottom: 10px;
}
 .nav-collapse_ .nav > li:first-child > em {
 position: absolute;
 left: 0;
 top: -30px;
 background: url(../img/nav-li-hover.png) 32px 0 no-repeat;
 display: block !important;
}
 .nav-collapse_ .nav li a {
 display: block;
 padding: 0 18px 0 18px;
 margin: 0;
}
 .nav-collapse_ .nav > li > a > span {
 display: block;
 margin: 0;
 padding: 0;
}
 .nav-collapse_ .nav > li.sfHover em, .nav-collapse_ .nav > li.sfHover:hover em, .nav-collapse_ .nav > li:hover em, .nav-collapse_ .nav > li.active em, .nav-collapse_ .nav li.active:hover > em {
 display: none;
}
 .nav-collapse_ .nav > li.sfHover > a, .nav-collapse_ .nav > li.sfHover > a:hover, .nav-collapse_ .nav > li > a:hover, .nav-collapse_ .nav > li.active > a, .nav-collapse_ .nav > li.active > a:hover {
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
 color: #ffffff;
}
 .nav-collapse_ .nav ul {
 position: relative !important;
 display: none;
 width: 100%;
 left: 0px !important;
 top: 0px !important;
 background: #24262a;
 padding: 5px 0 7px 0;
 margin: 0;
}
 .nav-collapse_ .nav:after {
 content: "";
 position: absolute;
 left: 0;
 top: -30px;
 z-index: 999;
 border-bottom: #21ad4d 5px solid;
 background: url(../img/nav-li-hover.png) 32px 0 no-repeat;
 height: 5px;
 width: 200px;
 display: block !important;
}
 .nav-collapse_ .nav ul li {
 padding: 10px 10px 0px 26px;
 line-height: 15px;
}
 .nav-collapse_ .nav li.sub-menu > a .nav-collapse_ .nav li li.sub-menu > a {
 position: relative;
}
 .nav-collapse_ .nav li.sub-menu > a:before {
 content: " ";
 position: absolute;
 background: url(../img/li-marker.gif) left top no-repeat;
 width: 5px;
 height: 6px;
 right: 20px;
 top: 15px !important;
}
 .nav-collapse_ .nav ul li a {
 display: inline-block;
 line-height: 15px;
 background: none;
 padding: 0;
}
 .nav-collapse_ .nav > li > ul li > a:hover, .nav-collapse_ .nav > li > ul li.sfHover > a {
 text-decoration: none;
 color: #ffffff;
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
}
 .nav-collapse_ .nav ul ul {
 position: relative;
 left: 0px;
 top: 0px;
}
  /**/
  .camera_caption > div {
 padding: 45px 0 0 345px;
}
 .camera_caption h1 {
 margin: 0;
}
 .camera_caption h2 {
 font-size: 25px;
}
 .camera_caption h3 {
 display: none;
}
 .camera_caption a {
 margin-top: 13px;
 padding: 8px 17px 9px 17px;
}
  /* slider */
  .camera_caption,  .camera_wrap .camera_pag {
 display: none !important;
}
  /**/
  .thumbnails, .thumbnails_2, .thumbnails_3 {
 margin-left: 0;
}
 .thumbnails_3 .thumbnail_3 figure {
 float: left;
 margin-right: 20px;
}
 .border-right {
 margin-right: 0px;
 padding-right: 0px;
 border: none;
}
 .list-banners li, .list-banners li:first-child {
 width: 25%;
 padding-left: 20px;
 background: none;
 text-align: center;
}
 .list-banners li a {
 display: inline-block;
}
 .float {
 float: right !important;
}
 .float2 {
 float: left !important;
}
 .thumbnails_5 {
 margin-left: 0px;
}
 .thumbnails_5 .thumbnail_5 {
 margin-left: 0px;
}
/**/
}
@media (min-width: 626px) and (max-width: 767px) {
 .list-services li figure {
 float: left !important;
}
}
@media (max-width: 625px) {
 .list-banners li, .list-banners li:first-child {
 width: 44%;
 padding-left: 0px;
 background: none;
 text-align: center;
}
 .list-banners li a img {
 width: auto;
}
}
/**/
@media (min-width: 482px) and (max-width: 625px) {
}
@media (max-width: 481px) {
 .thumbnails_3 .thumbnail_3 figure {
 float: none;
 margin-right: 0px;
 clear: both;
}
 .map {
 margin-bottom: 50px !important;
 border: none;
}
}
@media (min-width: 320px) and (max-width: 481px) {
}
@media (max-width: 320px) {
 .float-none {
 float: none !important;
}
}

/*Core variables and mixins*/
.clearfix { *zoom: 1;
}

.clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0; }

.clearfix:after { clear: both; }

.hide-text { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.input-block-level { display: block; width: 100%; min-height: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*customize*/

.alert {
  left: 0;
  position: fixed;
  top: 0;
  width: 97%;
  z-index: 999;
}
}
