/* block top languages */
#header_right #languages_block_top {
	float: left;
	margin: 0;
}
#header_right #languages_block_top p {
	padding: 0;
	height: 74px;
	width: 74px;
	line-height: 74px;
	text-align: center;
	background: #e84c3d;
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	z-index: 10;
}
#header_right #languages_block_top p:hover { background: #27ae61;}
#languages_block_top ul#first-languages li {

}
#languages_block_top ul#first-languages li.selected_language {

}
/*languages with jquery*/
#countries {
	cursor: pointer;
	position: relative;
	z-index: 999999;
}
#countries p {
	position: relative;
	top: 0;
	padding: 0;
}
#countries p img {
	padding-left: 5px;
}
#countries .countries_ul{
	display:none;
	z-index: 10000;
	padding:10px;
	list-style-type:none;
}
#countries .countries_ul_hover{
	display:block;
	z-index: 5000;
	position:absolute;
	left: 0;
	top: 74px;
	padding: 0;
	height:auto;
}
#countries .countries_ul_hover li {
	background: #494949;
	height: 74px;
	width: 74px;
	line-height: 74px;
	text-align: center;
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
#countries .countries_ul_hover li:hover { background: #888;}
#countries .countries_ul_hover li a { color: #fff; height: 74px; width: 74px; display: block;}