<%= render 'menu' %>
<%= render 'shared/user_form', user: @user, edit_mode: false, label: 'add user' %>
<script>
  $(document).ready(function(){
    $('#clone_data').click(function(){
      if ($('#clone_data').prop('checked') == true){
        $('#member_nick_name').val('<%= @current_user.nick_name %>')
        $('#member_nama').val('<%= @current_user.nama %>')
        $('#member_tempat_lahir').val('<%= @current_user.tempat_lahir %>')
        $('#member_no_identitas').val('<%= @current_user.no_identitas %>')
        $('#member_tanggal_lahir').val('<%= @current_user.tanggal_lahir.to_dmy rescue ''%>')
        $('#member_kewarganegaraan').val('<%= @current_user.kewarganegaraan %>')
        //$('#_memberjenis_kelamin_1').val('<%= @current_user %>')
        //$('#_memberjenis_kelamin_0').val('<%= @current_user %>')
        $('#member_agama').val('<%= @current_user.agama %>')
        $('#member_status_sipil').val('<%= @current_user.status_sipil %>')
        $('#member_email').val('<%= @current_user.email %>')
        $('#member_alamat').val('<%= @current_user.alamat %>')
        $('#member_provinsi').val('<%= @current_user.provinsi %>')
        $('#member_kode_pos').val('<%= @current_user.kode_pos %>')
        $('#member_telepon').val('<%= @current_user.telepon %>')
        $('#member_handphone').val('<%= @current_user.handphone %>')
        $('#member_no_npwp').val('<%= @current_user.no_npwp %>')
        $('#member_ahli_waris').val('<%= @current_user.ahli_waris %>')
        $('#member_ibu_kandung').val('<%= @current_user.ibu_kandung %>')
        $('#member_hubungan').val('<%= @current_user.hubungan %>')
        $('#member_nama_bank').val('<%= @current_user.nama_bank %>')
        $('#member_no_rekening').val('<%= @current_user.no_rekening %>')
        $('#member_cabang').val('<%= @current_user.cabang %>')
        $('#member_nama_pemilik').val('<%= @current_user.nama_pemilik %>')
      }else{
        $('#member_nick_name').val('')
        $('#member_nama').val('')
        $('#member_tempat_lahir').val('')
        $('#member_no_identitas').val('')
        $('#member_tanggal_lahir').val('')
        $('#member_kewarganegaraan').val('')
        //$('#_memberjenis_kelamin_1').val('<%= @current_user %>')
        //$('#_memberjenis_kelamin_0').val('<%= @current_user %>')
        $('#member_agama').val('')
        $('#member_status_sipil').val('')
        $('#member_email').val('')
        $('#member_alamat').val('')
        $('#member_provinsi').val('')
        $('#member_kode_pos').val('')
        $('#member_telepon').val('')
        $('#member_handphone').val('')
        $('#member_no_npwp').val('')
        $('#member_ahli_waris').val('')
        $('#member_ibu_kandung').val('')
        $('#member_hubungan').val('')
        $('#member_nama_bank').val('')
        $('#member_no_rekening').val('')
        $('#member_cabang').val('')
        $('#member_nama_pemilik').val('')
      }
    })
  })
</script>
