<%= render 'menu' %>
<table class="table table-bordered" id="table_bonus">
  <thead>
    <tr>
      <th>Tanggal Pendaftaran</th>
      <th>ID</th>
      <th>Nama</th>
    </tr>
  </thead>
  <tbody>
    <% @current_user.afiliasiku.each_with_index do |m,i| %>
      <tr>
        <td><%= m.created_at.to_dmy %></td>
        <td><%= m.serial %></td>
        <td><%= m.nama %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<br/>
Total Member: <%= @current_user.afiliasiku.count %>
<script>
  $(document).ready(function(){
    $('#table_bonus').dataTable()
  })
</script>
