<%= render 'menu' %>
<table class='diagram_network'>
  <tr>
    <td colspan='4'>
      <ul>
        <li>
          Group A <br/>
          Total Mitra </br>
          <b>{ <%= @user.get_total_left %> }</b>
        </li>
        <li>
          <img src="<%= @user.icon %>">
          <br/>
          <%= link_to @user.serial, diagram_network_path(member_id: @user.id) %> <br/>
          <%= @user.nama_panggilan %>
        </li>
        <li>
          Group B <br/>
          Total Mitra </br>
          <b>{ <%= @user.get_total_right %> }</b>
        </li>
      </ul>
    </td>
  </tr>
  <% if @user.children.present? %>
    <% c_left = @user.children.find_by_table_number(0) %>
    <% c_right = @user.children.find_by_table_number(1) %>
    <tr>
      <td colspan='2'>
        <img src="<%= c_left.icon %>"><br/>
        <%= link_to c_left.serial, diagram_network_path(member_id: c_left.id) %> <br/>
        <%= c_left.nama_panggilan %>
      </td>
      <% if c_right.present? %>
        <td colspan='2'>
          <img src="<%= c_right.icon %>"><br/>
          <%= link_to c_right.serial, diagram_network_path(member_id: c_right.id) %> <br/>
          <%= c_right.nama_panggilan %> 
        </td>
      <% else %>
        <td colspan='2'>
          <%= link_to 'Pasang Baru', add_network_path(member_id: @user.id, table_number: 1), class:'link_pasang_baru' %>
        </td>
      <% end %>
    </tr>
    
    <tr>
      <% if @user.children_left.present? %>
        <% cl_left = @user.children_left.children_left %>
        <% cl_right = @user.children_left.children_right %>
        <% if cl_left.present? %>
          <td>
            <img src="<%= cl_left.icon %>"><br/>
            <%= link_to cl_left.serial, diagram_network_path(member_id: cl_left.id) %> <br/>
            <%= cl_left.nama_panggilan %> 
          </td>
        <% else %>
          <td>
            <%= link_to 'Pasang Baru', add_network_path(member_id: @user.children_left.id, table_number: 0), class:'link_pasang_baru' %>
          </td>
        <% end %>
        <% if cl_right.present? %>
          <td>
            <img src="<%= cl_right.icon %>"><br/>
            <%= link_to cl_right.serial, diagram_network_path(member_id: cl_right.id) %> <br/>
            <%= cl_right.nama_panggilan %> 
          </td>
        <% else %>
          <td>
            <%= link_to 'Pasang Baru', (cl_left.present?? add_network_path(member_id: @user.children_left.id, table_number: 1) : '#'), class:'link_pasang_baru' %>
          </td>
        <% end %>
      <% end %>
      
      <% if @user.children_right.present? %>
        <% cr_left = @user.children_right.children_left %>
        <% cr_right = @user.children_right.children_right %>
        <% if cr_left.present? %>
          <td>
            <img src="<%= cr_left.icon %>"><br/>
            <%= link_to cr_left.serial, diagram_network_path(member_id: cr_left.id) %> <br/>
            <%= cr_left.nama_panggilan %> 
          </td>
        <% else %>
          <td>
            <%= link_to 'Pasang Baru', add_network_path(member_id: @user.children_right.id, table_number: 0), class:'link_pasang_baru' %>
          </td>
        <% end %>
        <% if cr_right.present? %>
          <td>
            <img src="<%= cr_right.icon %>"><br/>
            <%= link_to cr_right.serial, diagram_network_path(member_id: cr_right.id) %> <br/>
            <%= cr_right.nama_panggilan %> 
          </td>
        <% else %>
          <td>
            <%= link_to 'Pasang Baru', (cr_left.present?? add_network_path(member_id: @user.children_right.id, table_number: 1) : '#'), class:'link_pasang_baru' %>
          </td>
        <% end %>
      <% end %>
      
    </tr>
  <% else %>
    <tr>
    <td colspan='2'>
      <%= link_to 'Pasang Baru', add_network_path(member_id: @user.id, table_number: 0), class:'link_pasang_baru' %>
    </td>
    <td colspan='2'>
      <%= link_to 'Pasang Baru', (@user.children_left.present?? add_network_path(member_id: @user.id, table_number: 1) : '#'), class:'link_pasang_baru' %>
    </td>
  </tr>
  <% end %>
</table>
