<table border='1' align='center' width='100%' cellpadding='5' cellspacing='5'>
<tr>
<td>
<head>
  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <script type='text/javascript'>
    google.load('visualization', '1', {packages:['orgchart']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Name');
      data.addColumn('string', 'Manager');
      data.addColumn('string', 'ToolTip');
      data.addRows([
        <% @user.subtree.each do |x| %>
          [{v:'<%= x.id %>', f:'<b><%= "#{x.serial}" %></b><br/>BP: <div style="color:red; font-style:italic"><%= x.get_bonus_prestasi unless [1,2,3,4,6].include?(x.id) %></div>BM: <div style="color:red; font-style:italic"><%= x.get_bonus_matching %></div>'}, '<%= x.parent.nil? ? '' : x.parent.id %>', null],
        <% end %>
      ]);
      var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
      chart.draw(data, {allowHtml:true});
    }
  </script>
  <style>
    .google-visualization-orgchart-table * {
      padding: 0px;
    }
  </style>
</head>

<body>
  <div id='chart_div'></div>
</body>
</tr>
</td>
</table>

