<%= render 'menu' %>
<table class='table table-hover' id='list_members'>
  <thead>
    <tr>
      <th>Tanggal</th>
      <th>Group A</th>
      <th>Group B</th>
      <th>Total Member</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each_with_index do |m, i| %>
      <% members = m.last %>
      <tr>
        <td><%= m.first.to_dmy %></td>
        <td><%= @member_left.map{ |x| x.created_at.to_date == m.first.to_date }.keep_if{|x| x}.size %></td>
        <td><%= @member_right.map{ |x| x.created_at.to_date == m.first.to_date }.keep_if{|x| x }.size %></td>
        <td><%= members.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
Jumlah Member: <%= @current_user.descendants.size %>
<script>
  $(document).ready(function(){
    var oTable = $('#list_members').dataTable({
      "fnDrawCallback":function(){ 
        $('#list_members_filter input').datepicker({
          format: 'dd-mm-yyyy'
        })
      }
    })
    oTable.fnDraw();
    //$('#tablerange_from_0, #tablerange_to_0').datepicker({
    //  format: 'dd-mm-yyyy'
    //})
  })
</script>
