<br/><h3>Mitra Saya</h3>
<table class='table table-bordered'>
  <tr>
    <th>Level</th>
    <th>Diagram Matrix</th>
    <th>Jumlah Member</th>
    <th>Menunggu</th>
  </tr>
  <% total = [] %>
  <% 6.times do |i| %>
  <% member = @current_user.members[i] %>
  <% i = i+1 %>
  <% total << member[1].size rescue 0 %>
  <% menuggu = ((10**i) - member[1].size) rescue (10**i) %>
  <tr>
    <td><%= i rescue '' %></td>
    <td><%= 10**i %></td>
    <td><%= member[1].size rescue '-' %></td>
    <td><%= menuggu %></td>
  </tr>
  <% end %>
</table>
<br/>
Total Member: <%= total.sum %>
