<style>
  .span9 {
    border: 0;
    padding: 0;
  }
  
  #user_form td {
    padding: 0 10px;
}
</style>
<link rel="stylesheet" href="/assets/datepicker.css" type="text/css" media="screen">
<div class="page-header1">
  <h2>Registrasi</h2>
</div>
<p class="p0">
<div id='user_form'>
  <%= form_for(@member, :url => process_sign_up_path) do |f| %>
    <table>
      <tr>
        <td colspan='2'><br/><b>Kartu Keanggotaan</b></td>
      </tr>
      <tr>
        <td><span><%= label_tag 'serial_id', '*No Serial' %></span></td>
        <td><%= text_field_tag  'serial_id' %></td>
      </tr>
      <tr>
        <td><span><%= label_tag 'pin_id', '*PIN' %></span></td>
        <td><%= password_field_tag  'pin_id' %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>*Sponsor</td>
        <td><%= text_field_tag 'sponsor' %></td>
      </tr>
      <tr>
        <td>*Upline</td>
        <td><%= text_field_tag 'upline' %></td>
      </tr>
      <tr>
        <td colspan='4'><br/><b>Profil Member</b></td>
      </tr>
      <tr>
        <td><span><%= f.label 'nick_name', 'Nama Panggilan' %></span></td>
        <td colspan='3'>
          <%= f.text_field 'nick_name'%>
        </td>
      </tr>
      <tr>
        <td><span><%= f.label 'nama', '*Nama Lengkap' %></span></td>
        <td colspan='3'>
          <%= f.text_field 'nama', class: 'full_size' %>
        </td>
      </tr>
      <tr>
        <td><span><%= f.label 'tempat_lahir', 'Tempat' %></span></td>
        <td><%= f.text_field  'tempat_lahir' %></td>
        <td><span><%= f.label 'tanggal_lahir', 'Tanggal Lahir' %></span></td>
        <td><%= f.text_field  'tanggal_lahir', class: 'dpd1', readonly: true, style: 'background:white; cursor:pointer;' %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'no_identitas', 'No Identitas' %></span></td>
        <td><%= f.text_field  'no_identitas' %></td>
        <td><span><%= f.label 'jenis_kelamin', 'Jenis Kelamin' %></span></td>
        <td>
          <%= radio_button_tag '[member]jenis_kelamin', 1 %> laki-laki <%= radio_button_tag '[member]jenis_kelamin', 0 %> perempuan
        </td>
      </tr>
       <tr>
        <td><span><%= f.label 'kewarganegaraan', 'Kewarganegaraan' %></span></td>
        <td><%= f.select  'kewarganegaraan', Country.options %></td>
        <td><span><%= f.label 'agama', 'Agama' %></span></td>
        <td><%= f.select  'agama', Agama.options  %></td>
      </tr>
       <tr>
        <td><span><%= f.label 'status_sipil', 'Status Pernikahan' %></span></td>
        <td><%= f.text_field  'status_sipil' %></td>
        <td><span><%= f.label 'email', '*Email' %></span></td>
        <td><%= f.text_field  'email' %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'alamat', 'Alamat Lengkap' %></span></td>
        <td colspan='3'><%= f.text_area  'alamat', class: 'full_size' %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'provinsi', 'Provinsi' %></span></td>
        <td><%= f.text_field  'provinsi' %></td>
        <td><span><%= f.label 'kode_pos', 'Kode Pos' %></span></td>
        <td><%= f.text_field  'kode_pos' %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'telepon', 'Telepon' %></span></td>
        <td><%= f.text_field  'telepon' %></td>
        <td><span><%= f.label 'handphone', '*Handphone' %></span></td>
        <td><%= f.text_field  'handphone' %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'no_npwp', 'No NPWP' %></span></td>
        <td><%= f.text_field 'no_npwp' %></td>
        <td><span><%= f.label 'ahli_waris', 'Nama Ahli Waris' %></span></td>
        <td><%= f.text_field  'ahli_waris' %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'ibu_kandung', '*Nama Ibu Kandung' %></span></td>
        <td><%= f.text_field  'ibu_kandung' %></td>
         <td><span><%= f.label 'hubungan', 'Hubungan' %></span></td>
        <td><%= f.text_field  'hubungan' %></td>
      </tr>
      <tr>
        <td colspan='4'><br/><b>Data Bank<b/></td>
      </tr>
      <tr>
        <td><span><%= f.label 'nama_bank', '*Nama Bank' %></span></td>
        <td><%= f.text_field  'nama_bank' %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'no_rekening', '*No Rekening' %></span></td>
        <td><%= f.text_field  'no_rekening' %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'cabang', 'Cabang' %></span></td>
        <td><%= f.text_field  'cabang' %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'nama_pemilik', '*Nama Pemilik Rekening' %></span></td>
        <td><%= f.text_field  'nama_pemilik' %></td>
      </tr>
      <tr>
        <td colspan='2'></td>
      </tr>
      <tr>
        <td colspan='4'><br/>
            <%= check_box_tag 'agreement' %> Saya telah membaca dan menerima semua
            <a href='#'> syarat dan ketentuan</a> beliapaaja.com
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          <br/>
          <%= f.submit 'Simpan', class: 'btn btn-success' %> &nbsp; &nbsp;
          <input type='reset' value='Reset' class="btn btn-warning">
        </td>
      </tr>
    </table>
  <% end %>
</div>
</p>
