/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.pos-feature-product a:active,
.flexslider a:active,
.pos-feature-product a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.html');
	src:url('fonts/flexslider-icond41d.html?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon-2.html') format('woff'),
		url('fonts/flexslider-icon-3.html') format('truetype'),
		url('fonts/flexslider-icon-4.html#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.pos-feature-product .flexslider {margin: 0; padding: 0;}
.pos-feature-product .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.pos-feature-product .flexslider .slides img {width: 100%; display: block;}
.pos-feature-product .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.pos-feature-product .flexslider { margin: 0 ; position: relative; zoom: 1; }
.pos-feature-product .flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.pos-feature-product .loading .flex-viewport { max-height: 300px; }
.pos-feature-product .flexslider .slides { zoom: 1; }
.pos-feature-product .carousel li { margin-right: 19px;  }
.pos-feature-product .feature-productslider-item { position: relative;}

/* Direction Nav */
.pos-feature-product .flex-direction-nav {*height: 0;}

.pos-feature-product .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.pos-feature-product .flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

/* Pause/Play */
.pos-feature-product .flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.pos-feature-product .flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.pos-feature-product .flex-pauseplay a:hover  { opacity: 1; }
.pos-feature-product .flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.pos-feature-product .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.pos-feature-product .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.pos-feature-product .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.pos-feature-product .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.pos-feature-product .flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.pos-feature-product .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.pos-feature-product .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.pos-feature-product .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.pos-feature-product .flex-control-thumbs img:hover {opacity: 1;}
.pos-feature-product .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
