<div id='user_form'>
  <%= form_for(user, :url => update_profile_path, method: 'post') do |f| %>
    <table>
      <tr>
        <td>Sponsor</td>
        <td>: <%= @current_user.sponsor.serial rescue '-' %></td>
      </tr>
      <tr>
        <td>Upline</td>
        <td>: <%= user.parent.serial rescue '-' %></td>
      </tr>
      <tr>
        <td colspan='4'><br/><b>Profil Member</b></td>
      </tr>
      <tr>
        <td><span><%= f.label 'nick_name', 'Nama Panggilan' %></span></td>
        <td colspan='3'>
          <%= f.text_field 'nick_name'%>
        </td>
      </tr>
      <tr>
        <td><span><%= f.label 'nama', '*Nama Lengkap' %></span></td>
        <td colspan='3'>
          <%= f.text_field 'nama', class: 'full_size' %>
        </td>
      </tr>
      <tr>
        <td><span><%= f.label 'tempat_lahir', 'Tempat' %></span></td>
        <td><%= f.text_field  'tempat_lahir' %></td>
        <td><span><%= f.label 'tanggal_lahir', 'Tanggal Lahir' %></span></td>
        <td><%= f.text_field  'tanggal_lahir', class: 'dpd1'%></td>
      </tr>
      <tr>
        <td><span><%= f.label 'no_identitas', 'No Identitas' %></span></td>
        <td><%= f.text_field  'no_identitas' %></td>
        <td><span><%= f.label 'jenis_kelamin', 'Jenis Kelamin' %></span></td>
        <td>
          <%= radio_button_tag '[member]jenis_kelamin', 1, user.jenis_kelamin? ? true : false %> laki-laki <%= radio_button_tag '[member]jenis_kelamin', 0, user.jenis_kelamin? ? false : true %> perempuan
        </td>
      </tr>
       <tr>
        <td><span><%= f.label 'kewarganegaraan', 'Kewarganegaraan' %></span></td>
        <td><%= f.select  'kewarganegaraan', Country.options %></td>
        <td><span><%= f.label 'agama', 'Agama' %></span></td>
        <td><%= f.select  'agama', Agama.options  %></td>
      </tr>
       <tr>
        <td><span><%= f.label 'status_sipil', 'Status Pernikahan' %></span></td>
        <td><%= f.text_field  'status_sipil' %></td>
        <td><span><%= f.label 'email', '*Email' %></span></td>
        <td><%= f.text_field  'email', readonly: true %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'alamat', 'Alamat Lengkap' %></span></td>
        <td colspan='3'><%= f.text_area  'alamat', class: 'full_size' %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'provinsi', 'Provinsi' %></span></td>
        <td><%= f.text_field  'provinsi' %></td>
        <td><span><%= f.label 'kode_pos', 'Kode Pos' %></span></td>
        <td><%= f.text_field  'kode_pos' %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'telepon', 'Telepon' %></span></td>
        <td><%= f.text_field  'telepon' %></td>
        <td><span><%= f.label 'handphone', '*Handphone' %></span></td>
        <td><%= f.text_field  'handphone', readonly: true %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'no_npwp', 'No NPWP' %></span></td>
        <td><%= f.text_field 'no_npwp' %></td>
        <td><span><%= f.label 'ahli_waris', 'Nama Ahli Waris' %></span></td>
        <td><%= f.text_field  'ahli_waris', readonly: true %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'ibu_kandung', '*Nama Ibu Kandung' %></span></td>
        <td><%= f.text_field  'ibu_kandung', readonly: true %></td>
         <td><span><%= f.label 'hubungan', 'Hubungan' %></span></td>
        <td><%= f.text_field  'hubungan', readonly: true %></td>
      </tr>
      <tr>
        <td colspan='4'><br/><b>Data Bank<b/></td>
      </tr>
      <tr>
        <td><span><%= f.label 'nama_bank', '*Nama Bank' %></span></td>
        <td><%= f.text_field  'nama_bank', readonly: true %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'no_rekening', '*No Rekening' %></span></td>
        <td><%= f.text_field  'no_rekening', readonly: true %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'cabang', 'Cabang' %></span></td>
        <td><%= f.text_field  'cabang', readonly: true %></td>
      </tr>
      <tr>
        <td><span><%= f.label 'nama_pemilik', '*Nama Pemilik Rekening' %></span></td>
        <td><%= f.text_field  'nama_pemilik', readonly: true %></td>
      </tr>
      <tr>
        <td colspan='2'><br/><b>Kartu Keanggotaan</b></td>
      </tr>
      <tr>
        <td><span><%= label_tag 'serial_id', '*No Serial' %></span></td>
        <td><%= edit_mode ? user.serial : (text_field_tag  'serial_id') %></td>
      </tr>
      <tr>
        <td><span><%= label_tag 'pin_id', '*PIN' %></span></td>
        <td><%= edit_mode ? '******' : (password_field_tag  'pin_id') %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan='2'></td>
      </tr>
      <tr>
        <td colspan='4'><br/>
            <%= check_box_tag 'agreement' %> Saya telah membaca dan menerima semua
            <a href='#'> syarat dan ketentuan</a> beliapaaja.com
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          <br/>
          <%= f.submit 'save' %> &nbsp; &nbsp;
          <% unless edit_mode %>
          <input type='reset' value='reset'>
          <% end %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%#= show_simple_captcha :label => false, placeholder: 'Isikan kode diatas disini..' %></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  <% end %>
</div>
