/* block top search */
.block-search-top { float: right; margin-right: 2px;}
.icon-search {
	cursor: pointer;
	height: 74px;
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
	width: 74px;
	z-index: 999;
	background: url(img/icon-search.png) center no-repeat #f1c50e;
	}
.icon-search:hover { background-color: #27ae61;}
#search_block_top {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #27ae61;
	border-top: 3px solid #27ae61;
	display: none;
	padding: 10px;
	position: absolute;
	right: 0;
	text-align: left;
	top: 74px;
	width: 230px;
	z-index: 999999;
	cursor: pointer;
}
#search_block_top p {padding:0;}
#search_block_top #search_query_top {
	background: none repeat scroll 0 0 transparent;
	color: #222;
	float: left;
	height: 21px;
	padding: 4px 9px;
	width: 176px;
	border: 1px solid #27ae61;
	margin: 0;
}

#search_block_top .button {
	background: url("img/icon-search.png") no-repeat scroll 50% 50% #27ae61;
	border: 1px solid #27ae61;
	border: 0 none;
	height: 31px;
	padding: 0;
	width: 34px;
	border-radius: 0;
	text-indent: -9999px;
	display: block;
}
#search_block_top .button:hover { background-color: #f1c50e;}

form#searchbox{ }
form#searchbox label{color:#333;margin-bottom:1px}
form#searchbox input#search_query_block{
	border: 1px solid #CCCCCC;
	-webkit-border-radius:3px !important;
	-moz-border-radius:3px !important;
	border-radius:3px !important;
    height: 18px;
	margin-top:10px;
}
form#searchbox input#search_button{padding: 1px 4px;}

