<div class="modal fade" id="aboutUS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">Pembeli</a></li>
          <li><a href="#profile" data-toggle="tab">Penjual</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home">
          <div class='left-content image-content'>
            <img src='/assets/frontend/img/pembeli.jpg'>
          </div>
          <div class='left-content text-content'>
<h2>Hi..
Selamat datang, </h2>

Terimakasih sudah berkunjung di <a href='http://beliapaaja.com'>beliapaaja.com</a> <br/><br/><br/>
<div class='small-text'>
<b>Jika kamu mungkin bertanya apakah <a href='http://beliapaaja.com'>beliapaaja.com</a> itu? </b><br/>

<a href='http://beliapaaja.com'>beliapaaja.com</a> merupakan media social e-commerce dengan konsep mall online, dimana setiap orang bisa berbelanja apa aja 
yang mereka cari dan mereka inginkan, bahkan untuk mereka yang sibuk dan tidak sempat keluar sekalipun cukup dengan
satu klik maka semua kebutuhan langsung bisa dipilih dan kamu tinggal duduk santai maka barangpun datang dari para 
penjual yang terpercaya. <br/><br/>

Dengan desain dan tampilan yang simple dan ceria, serta letak kategorisasi produk yang mudah dilihat
sehingga siapapun yang berbelanja di <a href='http://beliapaaja.com'>beliapaaja.com</a> akan mendapatkan pengalaman berbelanja yang lebih seru dan menyenangkan. 
<br/><br/>
Bukan hanya itu di setiap minggunya beliapaaja.com selalu menghadirkan penawaran-penawaran terbaik, adanya sistem reward, 
dan poin belanja khusus yang dapat digunakan untuk mendapatkan potongan harga.
<br/>
<br/>
Jadi tunggu apalagi klik sekarang <a href='http://beliapaaja.com'>beliapaaja.com</a> dan nikmati sensasi baru dalam berbelanja online.
</div>
</div>
<div class='clear'></div>
          </div>
          <div class="tab-pane" id="profile">
            <div class='left-content image-content'>
            <img src='/assets/frontend/img/penjual.jpg'>
          </div>
          <div class='left-content text-content'>
<h2>Hi..
Selamat datang, </h2>

Terimakasih sudah berkunjung di <a href='http://beliapaaja.com'>beliapaaja.com</a> <br/><br/><br/>
<div class='small-text'>
<b>Jika kamu mungkin bertanya apakah <a href='http://beliapaaja.com'>beliapaaja.com</a> itu? </b><br/>

beliapaaja.com merupakan media social e-commerce dengan konsep mall online, dimana setiap orang bisa berbelanja apa aja
yang mereka cari dan mereka inginkan. <br/><br/>

Ini adalah kesempatan bagus untuk kamu membuka toko dan berjualan di <a href='http://beliapaaja.com'>beliapaaja.com</a>, karena jutaan pembeli sudah menunggu untuk mencari dan membeli barang yang mereka inginkan.<br/>
<br/>
Caranya mudah, cukup dengan satu klik mendaftar sebagai penjual di <a href='http://beliapaaja.com'>beliapaaja.com</a> kamu bisa bebas menjual barang-barang terbaik kamu. Dengan konsep tampilan self online store (toko online sendiri) , di <a href='http://beliapaaja.com'>beliapaaja.com</a> kamu layaknya memiliki outlet toko pribadi dengan subdomain nama toko kamu sendiri. <br/><br/>

Kabar gembiranya itu semua <b>GRATIS !</b><br/><br/>

Jadi tunggu apalagi klik sekarang <a href='http://beliapaaja.com'>beliapaaja.com</a> dan rasakan sensasi baru dalam berjualan online.
</div>
</div>
<div class='clear'></div>
          </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
