<style type="text/css">
    .jumbotron {
background: yellowGreen;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 10px;
padding-bottom: 10px; }
.jumbotron small {
color: #FFF;
}

.jumbotron h1, .jumbotron .h1 {
  font-size: 40px;
}
.h1 small {
font-size: 20px;
}

.social-icon {
  width: 30px;
}

.social-button {
  float:right;
  margin-right:-70px;
  margin-top:-35px;
}
</style>

<div class="modal fade" id="contactUS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><br/>
      </div>
      <div class="modal-body">
      
<div class="jumbotron jumbotron-sm">
  <div class="container">
  <div class="row">
      <div class="col-sm-12 col-lg-12">
          <h1 class="h1">
              Hubungi Kami <small>Masukan email anda dan kami akan beritahu pada saat kami Grand Opening!</small></h1>
      </div>
  </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Nama</label>
                            <input type="text" class="form-control" id="name" placeholder="Masukan nama" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Masukan email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Tahu beliapaaja dari: </label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="" selected='selected'>Pilihan</option>
                                <option value="social media">Sosial Media</option>
                                <option value="iklan">Iklan</option>
                                <option value="website">Website</option>
                                <option value="referal">Referal</option>
                            </select>
                        </div>
                        <div class="form-group referal-name">
                            <label for="referal-name">
                                Nama Referal</label>
                            <input type="text" class="form-control" id="referal-name" placeholder="Masukan nama referal" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Pesan</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Ketik pesan disini"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-danger pull-right" id="btnContactUs">
                            Kirim pesan</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <img src='/assets/frontend/img/logo.png' style='width:400px;'><br/><br/>
          <ul class='social-button'>
            <li><a href='https://www.facebook.com/beliapaajadotcom' target='_blank'><img src='/assets/frontend/img/facebook-icon.png' class='social-icon'></a></li>
            <li><a href='https://twitter.com/beliapaajacom' target='_blank'><img src='/assets/frontend/img/twitter-icon.png' class='social-icon'></a></li>
            <li><a href='https://plus.google.com/105717334466545304583/about' target='_blank'><img src='/assets/frontend/img/GooglePlus-logo.png' class='social-icon'></a></li>
          </ul>
        </div>
    </div>
</div>
      </div>
    </div>
  </div>
</div>
