<%= render 'menu' %>
<%= form_tag bonus_path, method: 'get' do %>
<table>
  <tr>
    <td>Jenis Bonus</td>
    <td> : <%= select_tag 'bonus_type', options_for_select(Bonus.options, params[:bonus_type]) %> &nbsp; <%= submit_tag 'cari' %></td>
  </tr>
  <!--<tr>
    <td>Periode </td>
    <td>
     : <%#= text_field_tag 'from', params[:from], class: 'dpd1' %> s/d <%#= text_field_tag 'to', params[:t], class: 'dpd2' %>
     
    </td>-->
  </tr>
</table>
<% end %>
<hr/>
<table>
  <tr>
    <td>ID Member </td>
    <td> : <%= @current_user.serial %></td>
  </tr>
  <tr>
    <td>Nama Member </td>
    <td> : <%= @current_user.nama %></td>
  </tr>
  <tr>
    <td>Total Bonus </td>
    <td> : <%= @current_user.total_balance_without_admin %></td>
  </tr>
  <tr>
    <td>Biaya Administrasi </td>
    <td> : <%= 5000 %></td>
  </tr>
  <tr>
    <td>Total</td>
    <td> : <%= @current_user.total_balance %></td>
  </tr>
<!--  <tr>
    <td>Periode </td>
    <td> : <%= params[:from].present?? "#{params[:from]} s/d #{params[:to]}" : '-'%></td>
  </tr>-->
</table>
<br/>
<table class="table table-bordered" id="table_bonus">
  <thead>
    <tr>
      <th>Tanggal</th>
      <th>Jenis Bonus</th>
      <th>Jumlah Bonus</th>
    </tr>
  </thead>
  <tbody>
    <% @current_user.balances.group_by{ |x| [ x.created_at.to_date, x.balance_type] }.each_with_index do |m,i| %>
      <% next if (m.first.last != params[:bonus_type].downcase rescue false ) && params[:bonus_type] != Bonus::PILIHAN  %>
      <tr>
        <td><%= m.first.first.to_dmy %></td>
        <td><%= m.first.last %></td>
        <td><%= m.last.map{|x| x.amount}.sum %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<br/>
<script>
  $(document).ready(function(){
    $('#table_bonus').dataTable()
  })
</script>
