<%= render 'menu' %>
<table>
  <tr>
    <td>ID Member </td>
    <td> : <%= @current_user.serial %></td>
  </tr>
  <tr>
    <td>Nama Member </td>
    <td> : <%= @current_user.nama %></td>
  </tr>
</table>
<br>
<table class="table table-bordered" id="table_bonus">
  <thead>
    <tr>
      <th>Tanggal</th>
      <th>Total Saldo Keluar</th>
    </tr>
  </thead>
  <tbody>
    <% m = @current_user %>
    <% m.total_paid_balance.each do |b| %>
      <tr>
        <td><%= b.first.to_dmy %></td>
        <td><%= b.last.map(&:amount).sum - 5000 %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<br/>
<br/><br/>
<script>
  $(document).ready(function(){
    $('#table_bonus').dataTable()
  })
</script>
