<%= render 'menu' %>
<%= form_tag bonus_path, method: 'get' do %>
<table>
  <tr>
    <td>Jenis Bonus</td>
    <td> : <%= select_tag 'bonus_type', options_for_select(Bonus.options, 'B.Reward') %> &nbsp; <%= submit_tag 'cari' %></td>
  </tr>
  </tr>
</table>
<% end %>
<hr/>
<table>
  <tr>
    <td>ID Member </td>
    <td> : <%= @current_user.serial %></td>
  </tr>
  <tr>
    <td>Nama Member </td>
    <td> : <%= @current_user.nama %></td>
  </tr>
</table>
<br/>
<table class="table table-bordered" id="table_bonus">
  <thead>
    <tr>
      <th>Group A</th>
      <th>Group B</th>
      <th>B.Reward</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @bonus.each_with_index do |m,i| %>
      <% get_status = @current_user.get_total_left >= m.total_left && @current_user.get_total_right >= m.total_right %>
      <tr style="<%= get_status ? 'background: green' : ''%>">
        <td><%= m.total_left %></td>
        <td><%= m.total_right %></td>
        <td><%= m.name %></td>
        <td><%= get_status ? 'berhasil' : 'menunggu' %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<br/>
Total Member: <%= @current_user.descendants.size %>
<script>
  $(document).ready(function(){
    $('#table_bonus').dataTable()
  })
</script>
