/* Block newsletter */
#newsletter_block_left {
	
}
#newsletter_block_left .block_content { padding: 10px 0;}
#newsletter_block_left .title_block,
#newsletter_block_left h4  {
	
}
#newsletter_block_left p {padding:0;}

#newsletter_block_left p.success_inline {
	color: #418B19;
	text-align: center;
	font-weight: bold;
}
#newsletter_block_left p.warning_inline {
	color: #DA0F00;
	text-align: center;
	font-weight: bold;
}
#newsletter_block_left p.newletter-header {
	font-size: 16px;
	font-weight: normal;
	padding: 10px 0;
}

#newsletter_block_left input.inputNew {
	background: rgba(0, 0, 0, 0.2);
	width: 98%;
	height: 45px;
	border: none;
	color: #666;
	margin: 0;
	padding-left: 5px;
	line-height: 45px;
}
*:first-child+html #newsletter_block_left input.inputNew {position:static;}/* hack ie 7 */

#newsletter_block_left input.button_mini {
	padding: 10px 15px;
	color: #fff;
	background: #27ae61;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 25px;
	display: block;
	margin-top: 15px;
	border: none;
}
#newsletter_block_left input.button_mini:hover { background: #888;}

*:first-child+html #newsletter_block_left input.button_mini {padding-left:24px !important;}/* hack ie 7 */

