<%= render 'menu' %>
<table class="table table-bordered" id="table_bonus">
  <thead>
    <tr>
      <th>Tanggal</th>
      <th>ID</th>
      <th>nama</th>
      <th>Total Saldo</th>
      <th>No rekening</th>
      <th>Atas Nama</th>
      <th>Nama Bank</th>
    </tr>
  </thead>
  <tbody>
    <% total_amount = [] %>
    <% @members.each_with_index do |m,i| %>
      <% next unless m.total_paid_balance.present? %>
      <% m.total_paid_balance.each do |b| %>
        <% amount = b.last.map(&:amount).sum - 5000 %>
        <tr>
          <td><%= b.first.to_dmy %></td>
          <td><%= m.serial %></td>
          <td><%= m.nama %></td>
          <td><%= amount %></td>
          <td><%= m.no_rekening %></td>
          <td><%= m.nama_pemilik %></td>
          <td><%= m.nama_bank %></td>
          <% total_amount << amount %>
        </tr>
      <% end %>
    <% end %>
  <tbody>
</table>
<br/>
Total Bonus: <%= total_amount.sum rescue 0 %>
<br/><br/>
<script>
  $(document).ready(function(){
    $('#table_bonus').dataTable()
  })
</script>
