<%= render 'serial_menu'%>
<table class="table table-bordered" id="table_bonus">
  <thead>
    <tr>
      <th>ID</th>
      <th>Serial</th>
      <th>PIN</th>
      <th>Terpakai</th>
      <th>Waktu Terpakai</th>
    </tr>
  </thead>
  <tbody>
    <% @serials.each_with_index do |m,i| %>
      <tr class="<%= m.member.present? ? 'bg-success' : '' %>">
        <td><%= m.id %></td>
        <td><%= m.serial %></td>
        <td><%= m.pin %></td>
        <td><%= m.member.present?? 'terpakai' : 'belum terpakai' %></td>
        <td><%= m.member.present?? m.member.created_at.to_dmy : '-' %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<br/>
Total: <%= @serials.size %>
<script>
  $(document).ready(function(){
    $('#table_bonus').dataTable()
    //$('.bg-success').removeClass('odd')
    //$('.bg-success').removeClass('even')
  })
</script>
<style>
  .bg-success {
    background: lightgreen;
  }
</style>
