<%= render 'serial_menu'%>
<%= form_tag admin_serial_dikirim_path, method: 'post' do %>
  <table class="table table-bordered" id="table_bonus">
    <thead>
      <tr>
        <th><%= check_box_tag 'check_all' %></th>
        <th>ID</th>
        <th>Serial</th>
        <th>PIN</th>
        <th>Status</th>
        <th>Terpakai</th>
        <th>Waktu Terpakai</th>
        <th>Terkirim</th>
        <th>Waktu Terkirim</th>
      </tr>
    </thead>
    <tbody>
      <% @serials.each_with_index do |m,i| %>
        <tr class="<%= m.member.present? ? 'bg-success' : '' %>">
          <td>
            <% unless m.terkirim? %>
            <input type="checkbox" class="checked" name='serial[<%= m.id %>]'>
            <% end %>
          </td>
          <td><%= m.id %></td>
          <td><%= m.serial %></td>
          <td><%= m.pin %></td>
          <td><%= m.status?? 'aktif' : 'non aktif' %></td>
          <td><%= m.member.present?? 'terpakai' : 'belum terpakai' %></td>
          <td><%= m.member.present?? m.member.created_at.to_dmy : '-' %></td>
          <td><%= m.terkirim?? 'terkirim' : 'belum terkirim' %></td>
          <td><%= m.waktu_terkirim.present?? m.waktu_terkirim.to_dmy : '-' %></td>
        </tr>
      <% end %>
    <tbody>
  </table>
<br/><br/>
<%= submit_tag 'Kirim Serial', class: 'btn btn-success'%>
<% end %>
Total: <%= @serials.size %>
<script>
  $(document).ready(function(){
    $('#table_bonus').dataTable()
    //$('.bg-success').removeClass('odd')
    //$('.bg-success').removeClass('even')
  })
</script>
<style>
  .bg-success {
    background: lightgreen;
  }
</style>
