<%= render 'menu' %>
<%= form_tag admin_transfer_saldo_path, method: 'post' do %>
<table class="table table-bordered" id="table_bonus">
  <thead>
    <tr>
      <th><%= check_box_tag 'check_all' %></th>
      <th>ID</th>
      <th>nama</th>
      <th>Total Saldo</th>
      <th>No rekening</th>
      <th>Atas Nama</th>
      <th>Nama Bank</th>
    </tr>
  </thead>
  <tbody>
    <% total_amount = [] %>
    <% @members.each_with_index do |m,i| %>
      <tr>
        <td><input type="checkbox" class="checked" name='members[<%= m.id %>]'></td>
        <td><%= m.serial %></td>
        <td><%= m.nama %></td>
        <td><%= m.total_balance %></td>
        <td><%= m.no_rekening %></td>
        <td><%= m.nama_pemilik %></td>
        <td><%= m.nama_bank %></td>
        <% total_amount << m.total_balance %>
      </tr>
    <% end %>
  <tbody>
</table>
<br/>
Total Bonus: <%= total_amount.sum rescue 0 %><br/>
Total Saldo sudah di potong biaya admininstrasi Rp.5000

<br/><br/>
<%= submit_tag 'transfer', class: 'btn btn-success'%>
<% end %>
<script>
  $(document).ready(function(){
    $('#table_bonus').dataTable()
  })
</script>
