<h3>List User Data</h3>
<table class="table table-bordered" id="table_bonus">
  <thead>
    <tr>
      <th>ID</th>
      <th>nama</th>
      <th>jumlah grup A</th>
      <th>jumlah grup B</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each_with_index do |m,i| %>
      <tr>
        <td><%= m.serial %></td>
        <td><%= link_to m.nama, admin_edit_user_path(m) %></td>
        <td><%= m.get_total_left %></td>
        <td><%= m.get_total_right %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<br/>
Total: <%= @members.size %>
<script>
  $(document).ready(function(){
    $('#table_bonus').dataTable()
  })
</script>
