#order form { clear: both;}
div.addresses {
   position:relative;
   padding:15px;
   border:1px solid #ccc;
	font-size:12px;
   background:#f8f8f8
}

ul.address {
   list-style-type:none;
   position:relative;
}
#address_delivery,
#address_invoice { background: #fff; }
#delivery_address { }

ul.address li {
	padding:0 15px;
	font-weight:bold;
	line-height:18px;
	text-transform:uppercase
}

ul.address li.address_title {
   height: 29px;
   font-weight: bold;
   line-height:29px;
   color:#fff;
   background: #868686;
   text-transform: uppercase;
   text-align: center;
}
ul.address .address_alias {
	font-weight: normal;
	text-transform: none;
}
ul.address >li:first-child + li {
	margin-top:8px
}

ul.address  li.address_update {
	margin-top:20px
}
ul.address  li.address_update,
ul.address li.address_delete {
	font-size:11px;
   text-transform:none
}
.address_add {
   padding:20px 0;
   text-align: right;
}
.address_select {
	border:1px solid #ccc;
	width: 200px;
	margin-left: 10px;
}
label[for=id_address_delivery], label[for=id_address_invoice] {
	float: left;
	width: 225px;
}
.addressesAreEquals label {
	margin-left: 5px;
}
.addressesAreEquals input {
	float: left;
}
p.address_delivery, p.addressesAreEquals {
	padding-bottom: 14px
}
/* PAGE ADRESSES ******************************************************************************* */
.addresses ul.address {
   list-style-type:none;
   position:relative;
   height: auto !important;
}
.addresses ul.address.alternate_item,
.addresses ul.address.last_item {margin-right:0}
.addresses ul.address li {
	padding:0 15px;
	font-weight:bold;
	line-height:18px;
	text-transform:uppercase
}
.addresses ul.address .address_title {
   margin-bottom:5px;
   height:30px;
   font-weight: bold;
   line-height:29px;
   color:#fff;
   text-transform: uppercase;
   text-align: center;
   background: #868686;
}
.addresses ul.address .address_update {margin-top:20px}
.addresses ul.address .address_update,
.addresses ul.address .address_delete {
   font-size:11px;
   text-transform:none;
   text-align: right;
   padding: 10px;
}

