/* Fixed Mobile*/
@media (max-width: 1080px) {
	.product-grid .ajax_block_product .product_desc { display: none; }
    }

@media (max-width: 860px) {

}
@media (min-width: 767px) and (max-width: 960px) {
	.block .title_block, .block h4, .pos-new-product h4 { font-size: 13px;}
	select { width: 150px;}
	#newsletter_block_left input.inputNew { }
	.ma-nav-mobile-container { width: 500px; float: right;}
	#header_logo { top: 90px;}
	.product-grid .ajax_block_product h3 { padding-bottom: 5px;}
	.product-grid .ajax_block_product .content_price { margin: 0;}
	.product-grid .ajax_block_product .content_price { font-size: 24px;}
	.product-grid .ajax_block_product h3 a { font-size: 14px;}
	}
@media (min-width: 680px) and (max-width: 767px) {
	.product-grid li.ajax_block_product { float: left; width: 31%; margin-left: 22px;}
	
    }
@media (max-width: 767px)
{
	.header-inner { background: none;}
	.container-inner { padding: 0 15px;}
    .wrapper_box { left: 30% !important;}
    .header-content { text-align: center;}
    .ma-nav-mobile-container { padding-bottom: 0;}
    
    #header_logo { position: static; width: 100%; display: inline-block; text-align: center; margin: 20px 0;}
    
     #header_right { text-align: center;}
     
    #header_right #currencies_block_top { float: none; margin: 0; display: inline-block;}
    #header_right #languages_block_top {  float: none; display: inline-block;}
    #setCurrency { width: 74px; margin: auto;}
    
    .block-search-top { margin-top: -9px; }
    #header_right #header_user { float: none;}
    #header_user_info { float: none;}
    #header #cart_block { 
	right: 50%;
	top: 253px;
	margin-right: -156px
    }
    #right_column { margin-top: 20px;}
    
    #header_user #header_nav { width: 150px; margin: auto; float: none; padding: 10px 0; clear: both;}
    
    ul#header_links { float: none; margin-top: 15px; width: 100%; text-align: center;}
    #header_links li { float: none; display: inline-block;}
    
    .home-banner img { width: 100%;}
    
    #create-account_form, #authentication #login_form { margin-bottom: 20px;}
    
    .footer-banner img { width: 100%;}
    .footer-banner .banner-col { margin-bottom: 20px;}
    
    .pos-footer-static .f-col { float: left; clear: both; margin-top: 20px;}
    .pos-footer-bottom .footer-address p { padding: 10px 0; text-align: center;}
    .pos-footer-bottom .payment { text-align: center;}
    
}
@media (max-width: 680px) {
	
	#product_list a.product_img_link img, .products_block li img, #pb-right-column #image-block img { width: 100%; }
	#featured-products_block_center li { margin-bottom: 20px;}
	#product_list li h3 { padding: 10px 0 !important;}
	.block-payment, .block-social, .ps-newletter { float: left; clear: both; padding-top: 20px; margin-left: 15px !important;}
        ul.step li { width: 145px;}
        .count-cart-item { clear: both; padding: 10px 0;}
	.banner-static-contain { margin-top: -100px;}
	#index .home-banner-container { padding-bottom: 100px;}
	
}

@media (max-width: 500px) {
    #center_column .sortPagiBar .nbrItemPage { display: none;}
    #search_block_top { right: 50%; margin-right: -126px;}
    #identity .std p.text label, #identity .std p.password label, #identity .std p.select label { width: 100px;}
    #identity .std p.text input, #identity .std p.password input { width: 150px;}
    #identity .std p.checkbox input { margin: 0;}
    #identity .std #security_informations { padding: 0;}
    
    #account-creation_form p.radio span, #account-creation_form p.text label, #account-creation_form p.password label, #account-creation_form p.select label, #account-creation_form p.select span, #account-creation_form p.textarea label { width: auto;}
    #account-creation_form span.form_info, #account-creation_form p.inline-infos,
    #account-creation_form p.checkbox input { margin: 0 0 0 10px;}
    .banner-static-contain .banner-box { float: left; width: 100%; margin-bottom: 20px;}
    .banner-static-contain .banner-box img { width: 100%;}
}

@media (max-width: 360px) {
    #featured-products_block_center .title_block, .pos-new-product .pos-new-product-title { font-size: 14px;}
    .nivo-caption,
    nivo-directionNav { display: none !important;}
    .sortPagiBar select#selectPrductSort { width: 100px;}

}