/* ##################################################################################################
	PRESTASHOP CSS
################################################################################################## */

/* ****************************************************************************
		reset
**************************************************************************** */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit}
del,ins{text-decoration:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%; line-height: 20px; padding: 10px 0;}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:baseline; top: 0; font-size: 100%;}
sub{vertical-align:baseline}
legend{color:#000}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select {font-size:100%; width: auto; margin: 0 0 0 7px;}
label { display: inline;}
.radio input[type="radio"], .checkbox input[type="checkbox"] { float: none; margin: 0;}

.ie7 input, .ie7 select{line-height:18px}
a {cursor:pointer}

.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden
}
.clearfix:after {clear: both}
.clearfix {zoom: 1}


/* ************************************************************************************************
		struture
************************************************************************************************ */
#page {}
	#header {z-index:10}
	#columns {z-index:1}
		#center { }
			#left_column {  }
			#center_column {  }
			#right_column {  }
	#footer {}


/* ************************************************************************************************
		generic style
************************************************************************************************ */
body{
	font:normal 12px/20px Arial, Verdana, sans-serif;
	color:#222;
	background:#fff
}
body.content_only {
	background: #FFF;
}
.main { padding: 25px 0;}

/* positionnement ****************************************************************************** */
.hidden {display:none; visibility: visible;}
.f_left {float:left}
.f_right {float:right}
p.center {text-align:center}
.clearBoth {clear:both}

/* title *************************************************************************************** */
h1 {
	padding-bottom: 10px;
	font-size:24px;
	line-height: 22px
}
h2 {
	padding-bottom: 10px;
	font-size:18px
}
h3 {
	padding-bottom: 10px;
	font-size:16px
}
.title_block {
	padding-bottom: 5px;
	font-size:18px;
	text-transform: uppercase;
	
}
.page-title  { margin-bottom: 20px; border-bottom: 1px solid #ddd; font-size: 18px; font-weight: bold; text-transform: uppercase; padding: 0 0 3px;}

/* text **************************************************************************************** */
p { padding-bottom: 10px}

p em {font-style:italic}

.warning {
	margin:0 0 10px 0;
	padding:10px;
	border:1px solid #e6db55;
	font-size:13px;
	background:#ffffe0
}
.success {
	margin:0 0 10px 0;
	padding:10px;
	border:1px solid #339900;
	font-size:13px;
	background: #d3ffab;
}
.error {
	margin:0 0 10px 0;
	padding:10px;
	border:1px solid #990000;
	font-size:13px;
	background:#ffcccc
}
.error ol {margin-left:20px}
.error p.lnk {
	margin-top:20px;
	padding:0;
	font-size:11px
}
.required {color:#e84c3d; }
.discount { display: none;}


/* link **************************************************************************************** */
a, a:active, a:visited {
	color:#333;
	text-decoration:none;
	outline: medium none
}
a:hover { color: #27ae61; text-decoration: none;}

span.new { width: 62px; height: 62px; display: block; background: url(../img/icon-new.png) 0 0 no-repeat; position: absolute; top: 0; left: 0; text-indent: -9999px; }
span.sale { width: 62px; height: 62px; display: block; background: url(../img/icon-sale.png) 0 0 no-repeat; position: absolute; top: 0; left: 0; text-indent: -9999px; }
	
/* HACK IOS ipad, iphone */
input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="submit"], input[type="image"] {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	border-radius:0px !important;
}
	
/*buttons ************************************************************************************** */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	padding: 5px 10px;
	color: #fff;
	background: #27ae61;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 20px;
	border: none;
}
*:first-child+html input.button_mini, *:first-child+html input.button_small, *:first-child+html input.button, *:first-child+html input.button_large,
*:first-child+html input.button_mini_disabled, *:first-child+html input.button_small_disabled, *:first-child+html input.button_disabled, *:first-child+html input.button_large_disabled,
*:first-child+html input.exclusive_mini, *:first-child+html input.exclusive_small, *:first-child+html input.exclusive, *:first-child+html input.exclusive_large,
*:first-child+html input.exclusive_mini_disabled, *:first-child+html input.exclusive_small_disabled, *:first-child+html input.exclusive_disabled, *:first-child+html input.exclusive_large_disabled {
	border:none
}


/* input button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled {
	/*padding-bottom: 2px*/
}

/* disabled button */
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	/*background-position: left -36px;
	cursor: default;
	color: #888!important*/
}

/* exclusive button */
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {
	/*color: white!important*/
}

/* exclusive disabled button */
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
	/*color: #488c40!important*/
}

/* hover button */
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover,
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover,
a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover,
a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
	background: #888;
}

/* exclusive hover button */
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
	/*color: white!important*/
}

/* active button */
input.button_mini:active, input.button_small:active, input.button:active, input.button_large:active,
input.exclusive_mini:active, input.exclusive_small:active, input.exclusive:active, input.exclusive_large:active,
a.button_mini:active, a.button_small:active, a.button:active, a.button_large:active,
a.exclusive_mini:active, a.exclusive_small:active, a.exclusive:active, a.exclusive_large:active {
	background-position: left -100px
}

/* classic buttons */
input.button_mini, input.button_mini_disabled, input.exclusive_mini, input.exclusive_mini_disabled, a.button_mini, a.exclusive_mini, span.button_mini, span.exclusive_mini {
	/*width: 30px;
	background-image: url('../img/button-mini.png')*/
}
input.button_small, input.button_small_disabled, input.exclusive_small, input.exclusive_small_disabled, a.button_small, a.exclusive_small, span.button_small, span.exclusive_small {
	/*width: 60px;
	background-image: url('../img/button-small.png')*/
}
input.button_disabled, input.exclusive_disabled, span.exclusive {
}
input.button_large, input.button_large_disabled, input.exclusive_large, input.exclusive_large_disabled, a.button_large, a.exclusive_large, span.button_large, span.exclusive_large, span.exclusive_large_disabled {
	/*width: 180px;
	background-image: url('../img/button-large.png')*/
}

/* exclusive button */
/*input.exclusive, input.exclusive_disabled, a.exclusive, span.exclusive { background-image: url('../img/button-medium_exclusive.png') }
input.exclusive_mini, input.exclusive_mini_disabled, a.exclusive_mini, span.exclusive_mini { background-image: url('../img/button-mini_exclusive.gif') }
input.exclusive_small, input.exclusive_small_disabled, a.exclusive_small, span.exclusive_small { background-image: url('../img/button-small_exclusive.gif') }
input.exclusive_large, input.exclusive_large_disabled, a.exclusive_large, span.exclusive_large, span.exclusive_large_disabled { background-image: url('../img/button-large_exclusive.gif') }*/

/* form **************************************************************************************** */
form.std fieldset {
	margin: 0;
	border:1px solid #ddd;
}

/* table *************************************************************************************** */
table.std,
table.table_block {
	margin-bottom:20px;
	width:100%;
	border:1px solid #ddd;
	border-bottom:none;
	background:white;
	border-collapse:inherit;
	clear: both;
}
table.std th,
table.table_block th {
	padding: 10px 12px;
	font-size:12px;
	 font-weight:bold;
	text-transform:uppercase;
	background: #868686;
	color: #fff;
	text-align: center;
	border-right: 1px solid #ddd;
}
table.std tr.alternate_item,
table.table_block tr.alternate_item {background-color: #f3f3f3}
table.std  td,
table.table_block  td {
	padding:12px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-size:12px;
	vertical-align:top
}

/* BLOCK .block ******************************************************************************** */
.block {margin-bottom:20px}
#footer .block {margin-bottom:0}
	.block .title_block, .block h4 {
		display: block;
		font: bold 16px/18px Arial, Helvetica, sans-serif;
		min-height: 16px;
		padding: 1px 0 1px;
		text-transform: uppercase;
		color: #fff;
		background: #00be9c;
		padding: 15px;
	}
		.block .title_block a, .block h4 a {color:#fff}
	.block ul {list-style-type:none}
		.block li.last {	border:none}
			.block li a {
				display:block;
				color:#333;
				font-size: 14px;
			}
			.block li a:hover { color: #27ae61;}
		.block .block_content { padding: 10px 0;}

/* BLOCK .products_block *********************************************************************** */
.products_block {}
	.products_block li {}
	.products_block li img { }

/* BLOCK customer privacy ******************************************************************* */
.account_creation label{
	float:left;
	padding-top:5px;
	width:80%;
	text-align:left;
	cursor:pointer
}

/* BLOCK .footer_links (cms pages) ************************************************************* */
ul.footer_links {
	list-style-type:none;
	margin-bottom:20px;
	padding: 10px 0;
}
ul.footer_links li {float:left}
ul.footer_links li.f_right {float:right}
ul.footer_links li .icon {
	position:relative;
	top: -3px;
	left:0
}

/* barre comparaison / tri ********************************************************************* */
.content_sortPagiBar {margin: 0;}
.content_sortPagiBar_bottom { margin: 20px 0 0;}
#center_column .sortPagiBar {
	padding:10px;
	color:#fff;
	background:#e84c3d;
	height: 30px;
}
	#center_column .sortPagiBar strong {color:#000;}
#center_column .sortPagiBar p {padding:0;}
#center_column .sortPagiBar form { margin: 0;}
#center_column .sortPagiBar form label { display: inline;}

.sortPagiBar #productsSortForm {float:right;}
	.sortPagiBar select#selectPrductSort {
		margin:0 0 0 10px;
		color:#000;
		border:1px solid #ccc;
		width: auto;
	}
.sortPagiBar .product-compare { float: left; margin-top: 1px;}
.sortPagiBar .bt_compare {
	border:none;
	color:#fff;
}

.sortPagiBar .nbrItemPage { float: left; }
.sortPagiBar .nbrItemPage #nb_item_bottom { margin: 0 5px 5px; width: auto;}
.sortPagiBar .PrductSort {float:left;}

.sortPagiBar .nbrProduct {
	display:inline-block;
	padding:0 10px;
}

.sortPagiBar #nb_item {border:1px solid #ccc}

/* pagination ********************************************************************************** */
form.pagination { }


.content_sortPagiBar div.pagination {
	float: right;
	margin: 10px 0 0;
}
#pagination_bottom .page-lable { float: left; line-height: 14px;}
.content_sortPagiBar ul.pagination {list-style-type:none; display: inline; border-radius: 0; box-shadow: none; margin: 0;}
.content_sortPagiBar ul.pagination li {display: inline; float: left; margin: 0 7px;}
.content_sortPagiBar ul.pagination a,
.content_sortPagiBar ul.pagination span {
	font:12px/12px Arial,Verdana,sans-serif;
	color:#fff;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	background: none;
}
.content_sortPagiBar ul.pagination a:hover { background: none; color: #27ae61; text-decoration: underline;}
.content_sortPagiBar ul.pagination li.disabled span {  }

.content_sortPagiBar ul.pagination .pagination_previous span,
.content_sortPagiBar ul.pagination .pagination_previous a { background: url(../img/pager_arrow_left.gif) 0 0 no-repeat; display: inline-block; text-indent: -9999px; width: 8px; height: 12px;}
.content_sortPagiBar ul.pagination .pagination_next a,
.content_sortPagiBar ul.pagination .pagination_next span {
	background: url(../img/pager_arrow_right.gif) 0 0 no-repeat;
	display: inline-block;
	text-indent: -9999px;
	width: 8px;
	height: 12px;
	}



/* CART steps *********************************************************************** */
ul#order_step { background-color: white;}
ul.step {
	list-style-type:none;
	margin-bottom:30px;
	width: 100%;
	float: left;
}
ul.step li {
	float:left;
	height:52px;
	width:20%;
	text-align:center;
	text-transform:uppercase;
	background: url(../img/line.png) 100% 0 repeat-y #868686;
	line-height: 52px;
	text-align: center;
	margin-bottom: 1px;
}
ul.step li span { color: #fff;}
ul.step li a { color: #fff;}
ul.step li a:hover { color: #27ae61;}
ul.step li a, ul.step li.step_current span, ul.step li.step_current_end span {

}
ul.step li.step_current {
	font-weight:bold;
	background: #e84c3d;
}

ul.step li.step_current_end {
}
ul.step li.step_todo span {

}
ul.step li.step_done {
}
/*ul.step li#step_end {background:url(../img/step_end.gif) no-repeat center bottom transparent}*/

/* module productcomments ********************************************************************** */
.rating {
	clear: both;
	display: block;
	margin: 2em;
	cursor: pointer;
}
.rating:after {
	content: '.';
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden
}
.cancel, .star {
	overflow: hidden;
	float: left;
	margin:0 1px 0 0;
	width: 16px;
	height: 16px;
	text-indent: -999em;
	cursor: pointer
}
.cancel, .cancel a { background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important }
.star, .star a { background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }
.cancel a, .star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0
}
div.star_on a { background-position: 0 -16px }
div.star_hover a, div.star a:hover { background-position: 0 -32px }
.pack_content { margin: 10px 0 10px 0 }
.pack_price {
	float: right;
	margin-right: 3px;
	font-size: 12px
}
.confirmation {
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #e6db55;
	font-size: 13px;
	background: none repeat scroll 0 0 #ffffe0;
}
#page .rte { background: transparent none repeat scroll 0 0 }

.listcomment {
	list-style-type:none;
	margin:0 0 20px 0 !important;
}
.listcomment li {
	padding:10px 0;
	border-bottom:1px dotted #ccc;
	color:#666
}
.listcomment .titlecomment {
	display:block;
	font-weight:bold;
	font-size:12px;
	color:#333
}
.listcomment .txtcomment {
	display:block;
	padding:5px 0;
	color:#333
}
.listcomment .authorcomment {}


/* ************************************************************************************************
		HEADER
************************************************************************************************ */
#header { position:relative; background: url(../img/bg-body.png) repeat; color: #fff;}
.header-inner { background: url(../img/bg-top.png) repeat-x 0 0;}
.header-content { position: relative;}
#header_logo {
	position: absolute;
	left: 30px;
	top: 130px;
	z-index: 1;
}
#header_logo img { opacity: 1;}
#header_right {
	position:relative;
}


/*Home Banner*/
body .home-banner-container { display: none;}

#index .home-banner-container { padding-bottom: 200px; display: inline-block;}
.home-banner-container p { padding: 0;}
.home-banner .col1  { float: left;}
.home-banner .col3  { float: left; margin-left: 2px;}

.home-banner .img1 { position: relative; margin: 0; width: 270px; height: 270px; }
.home-banner .img1 img { position: absolute; left: 0; z-index: 9;}
.home-banner .img1 a { background: url(../img/btn-img1.png) 0 0 no-repeat #27ae61; width: 50px; height: 50px; display: block; text-indent: -9999px; position: absolute; left: 20px; bottom: 20px; z-index: 10; border: 3px solid #fff; }
.home-banner .img1 a:hover { background-color: #e84c3d;}


.home-banner .img2 { position: relative; margin: 2px 0 0; width: 270px; height: 270px; overflow: hidden; }
.home-banner .img2 img { position: absolute; left: 0; z-index: 9;}
.home-banner .img2 .des { background: url(../img/bg-banner-hover.png) repeat; position: absolute; left: 0; bottom: -100px; color: #FFF; padding: 10px; z-index: 11;}
.home-banner .img2:hover .des { bottom: 0;}

.home-banner .col2 { position: relative; margin: 0 0 0 2px; float: left; }
.home-banner .img3 {
    height: 542px ;
    position: relative;
    width: 270px;
    left: 0;
    overflow: hidden;
 
    }
.home-banner .img3 img{
  height: 100% ;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 9;
  }
.home-banner .img3 img.top { width: 0; left: 0;}
.home-banner .img3:hover img.top { width: 100%;}
.home-banner .img3 .des { background: url(../img/bg-banner-hover.png) repeat; position: absolute; left: 0; bottom: -100px; color: #FFF; padding: 10px; z-index: 11;}
.home-banner .img3:hover .des { bottom: 0;}
  
.home-banner .img4 a { background: url(../img/btn-img1.png) 0 0 no-repeat #e84c3d; width: 50px; height: 50px; display: block; text-indent: -9999px; position: absolute; right: 20px; bottom: 20px; z-index: 10; border: 3px solid #fff; }
.home-banner .img4 a:hover { background-color: #27ae61;}

.home-banner .img4 { position: relative; margin: 0; width: 270px; height: 270px; float: left; }
.home-banner .img4 img { position: absolute; left: 0; }

.home-banner .img5 {
    display: block;
    width: 354px;
    height: 270px;
    float: left;
    margin: 0 0 0 2px;
    opacity: 1;
    overflow: hidden;
}
.home-banner .img5:hover {
    position: relative;
    z-index: 99;
}
.home-banner .img5 img { position: relative; z-index: 9;}
.home-banner .img5 .des { background: url(../img/bg-banner-hover.png) repeat; position: absolute; left: 0; bottom: -100px; color: #FFF; padding: 10px; z-index: 11;}
.home-banner .img5:hover .des { bottom: 0;}
.home-banner .img6 { position: relative; width: 626px; height: 270px; float: left; overflow: hidden; margin-top: 2px; clear: both; }
.home-banner .img6 .des { background: url(../img/bg-banner-hover.png) repeat; position: absolute; left: 0; bottom: -100px; color: #FFF; padding: 10px; }
.home-banner .img6:hover .des { bottom: 0;}
@media (min-width: 960px) and (max-width: 1200px) {
    .home-banner .img1,
    .home-banner .img2,
    .home-banner .img4 { width: 215px; height: 215px;}
    .home-banner .img3 { width: 215px; height: 432px; }
    .home-banner .img5 { width: 282px; height: 215px ; }
    .home-banner .img6 { width: 499px; height: 215px;}
}
@media (max-width: 960px) {
    .home-banner .img1,
    .home-banner .img2,
    .home-banner .img4 { width: 162px; height: 162px;}
    .home-banner .img3 { width: 162px; height: 326px; }
    .home-banner .img5 { width: 229px; height: 162px ; }
    .home-banner .img6 { width: 393px; height: 162px;}
}
@media (max-width: 767px)
{
    .container-inner { padding: 0 10px;}
    .home-banner .img1,
    .home-banner .img2,
    .home-banner .img4 { width: 140px; height: 140px;}
    .home-banner .img3 { width: 140px; height: 282px; }
    .home-banner .img5 { width: 207px; height: 140px ; }
    .home-banner .img6 { width: 349px; height: 140px;}
}
@media (max-width: 680px)
{
    .home-banner .col3 { margin: 2px 0 0 0;}
    .container-inner { padding: 0 10px;}
    .home-banner .img1,
    .home-banner .img2 { width: 250px; height: 250px;}
    .home-banner .img4 { width: 208px; height: 200px;}
    .home-banner .img3 { width: 250px; height: 502px; margin: 0;}
    .home-banner .img5 { width: 290px; height: 200px ; }
    .home-banner .img6 { width: 500px; height: 216px;}
}
@media (max-width: 560px)
{
    .home-banner .img1,
    .home-banner .img2 { width: 230px; height: 230px;}
    .home-banner .img4 { width: 189px; height: 190px;}
    .home-banner .img3 { width: 228px; height: 462px;  }
    .home-banner .img5 { width: 269px; height: 190px ; }
    .home-banner .img6 { width: 460px; height: 198px;}
}
@media (max-width: 390px)
{
    .home-banner img {width: 100%;}
    .home-banner .img1,
    .home-banner .img2,
    .home-banner .img4 { width: 300px; height: 300px; clear: both; margin-top: 2px;}
    .home-banner .img3 { width: 300px; height: 602px; clear: both; margin-top: 2px;}
    .home-banner .img5 { width: 300px; height: 229px; clear: both; margin-top: 2px; }
    .home-banner .img6 { width: 300px; height: 129px; margin-top: 2px;}
}

/*=====================================================================================================================*/

/*Banner Static*/
.banner-static-contain { position: relative; z-index: 11; margin-top: -175px; }
.banner-static-contain .banner-box { float: left; width: 33.3333%;}

/* ************************************************************************************************
		BREADCRUMB
************************************************************************************************ */
.breadcrumb {
	margin-bottom: 0;
	font-size:12px;
	padding: 10px 0 0;
	display: inline-block;
	width: 100%;
	background: none;
	line-height: 30px;
	color: #27ae61;
}
.breadcrumb .navigation-pipe {
	background: url(../img/icon-breadcrumbs.png) 0 0 no-repeat;
	text-indent: -999px;
	display: inline-block;
	width: 9px;
	height: 5px;
	margin: 12px 5px 0;
}
.breadcrumb img {
	position:relative;
	top: -3px
}
.breadcrumb a, .breadcrumb  span { float: left; line-height: 30px;}
.breadcrumb  span { color: #27ae61;}
.breadcrumb a {color: #333;}
.breadcrumb a:hover { color: ##27ae61;}

/* ************************************************************************************************
		FOOTER
************************************************************************************************ */
.footer-banner-container { }

#footer {
	color:#fff;
	background: url(../img/bg-body.png) repeat;
	padding: 30px 0 0;
	margin-top: 30px;
}
	.blockcategories_footer,
	#footer .myaccount ,
	#block_various_links_footer,
	#social_block,
	#block_contact_infos {
	}
	.blockcategories_footer {margin-left:0}
#footer .title_block {
	padding-bottom: 10px;
	text-transform:uppercase
}
#footer .title_block ,
#footer .title_block  a {
	font-weight:normal;
	font-size:14px;
	color:#fff
}
#footer a { }
#footer a:hover {text-decoration: none}
#footer ul {list-style-type:none}
#footer li { line-height: 25px;}
#footer li a {   }
#footer li a:hover {  }

#footer .myaccount {padding: 0}
#footer .myaccount .title_block, #footer .myaccount h4 {
	background:none;
	text-shadow:none
}
#footer .myaccount .favoriteproducts img,
#footer .myaccount .lnk_wishlist img {display:none}

.footer-address a { color: #fff;}
.footer-address a:hover { color: #27ae61;}

/* **********************************Footer Static **************************************************/

.pos-footer-static .block_various_links ul li,
.pos-footer-static .block ul li {
	background: rgba(0, 0, 0, 0.2);
	margin-top: 5px;
	padding: 7px 10px;
	cursor: pointer;}

.pos-footer-static .block_various_links ul li:hover,
.pos-footer-static .block ul li:hover {
	background: rgba(0, 0, 0, 0.6);
	}
.pos-footer-static .block_various_links ul li a,
.pos-footer-static .block ul li a { color: #999; font-size: 14px;}
.pos-footer-static .block_various_links ul li a:hover,
.pos-footer-static .block ul li a:hover { color: #fff;}

#footer .title_block,
#footer .footer-static-title {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0 15px;
	}

#footer .f-col1 .footer-static-title { padding-bottom: 25px;}
.social li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.social li.first { }
.social a:hover {
}
.social a {
    display: block;
    float: left;
    height: 51px;
    width: 51px;
}

.pos-footer-bottom { padding: 20px 0; background: rgba(0, 0, 0, 0.2); margin-top: 50px;}
.pos-footer-bottom .footer-address p { padding: 10px 0 0; color: #999;}
.pos-footer-bottom .payment { text-align: right;}
.pos-footer-bottom .payment li { display: inline; margin-left: 10px;}

/* ************************************************************************************************
		PRODUCT PAGE
************************************************************************************************ */

/* BLOCK idTabs ******************************************************************************** */
.idTabs {
	margin-top: 20px;
}
ul.idTabs li {
	float: left;
	margin-right: 2px;
	list-style: none;
}
.idTabs a {
	background: #888888;
	display: block;
	padding: 14px 15px;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.idTabs .selected {
	background: #00be9c;
}

#more_info_sheets { border: 1px solid #ddd; margin-top: 1px; padding: 10px;}
#more_info_sheets ul,
#more_info_sheets ol,
#more_info_sheets dl {margin-left:20px}
#more_info_sheets em {font-style:italic}

#more_info_sheets .product_desc{
	margin-top:5px
}

#more_info_sheets .product_desc .product_image{
	float:left
}

#more_info_sheets .product_desc .block_description{
	float:left;
	margin-left:10px;
	width:420px
}
#more_info_sheets .product_desc .clear_product_desc{
	clear:both;
	height:0px;
	line-height:0px
}

/* Make sure lists are correctly displayed in tinyMCE BO edition mode too */
#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl {margin-left:20px}

.block_hidden_only_for_screen {display:none}


/* ************************************************************************************************
		PAGE AUTHENTIFICATION
************************************************************************************************ */
#authentication #left_column { }
#authentication #center_column{ }


/* ************************************************************************************************
		PAIMENT - PAGE ORDER
************************************************************************************************ */

/* nav bottom ********************************************************************************** */
#order #left_column , #order-confirmation #left_column { }
#order #center_column, #order-confirmation #center_column{ }

.cart_navigation {margin:20px 0}
.cart_navigation .exclusive,
.cart_navigation .exclusive_large {
	float:right
}
.cart_navigation .button,
.cart_navigation .button_large {

}


/* step 1 - cart ******************************************************************************* */
.cart_last_product {display:none}

/*p.cart_navigation .multishipping-button { margin-right: 10px }*/

#order-detail-content {margin-bottom:20px}
#order-detail-content .customizationUploaded li,#order-detail-content .typedText li {
	list-style: none;
}
.pull-right table tr td.price { border-right: 0;}

table#cart_summary th {
	padding: 14px 12px;
	color:#fff;
	 font-weight:bold;
	text-transform:uppercase;
	background: #868686;
	border-right: 1px solid #ddd;
	text-align: center;
}
table#cart_summary th.last_item { border: none;}
table#cart_summary  th.cart_product {text-align:center}
table#cart_summary  td {
	padding:12px;
	border-right:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	font-weight:bold;
	font-size:12px;
	vertical-align:top
}
table#cart_summary  td.cart_delete,
table#cart_summary  td.price_discount_del {border-right:none;text-align: center}
table#cart_summary  .last_item  td {border-bottom:1px solid #999}


table#cart_summary tr.cart_item.odd,
table#cart_summary tr.cart_total_delivery,
table#cart_summary tr.cart_total_price,
table#cart_summary tr.cart_total_voucher{
	background-color: #fff
}
table#cart_summary tr.cart_item.even {
	background-color: #f3f3f3
}

table#cart_summary tr.customization.odd {
	background-color: #fff
}
table#cart_summary tr.customization.even {
	background-color: #f3f3f3
}

table#cart_summary tr ul {
	list-style: none;
}
table#cart_summary .cart_product {
	width:80px;
	text-align:center
}
table#cart_summary tbody tr:last-child td {
	border-bottom: 1px solid #ddd;
}
table#cart_summary tbody tr td.cart_discount_delete {
	padding-left: 34px;
}
table#cart_summary  .cart_product  img {border:1px solid #ccc}
table#cart_summary .cart_description {
}
table#cart_summary .cart_unit { text-align: center}
table#cart_summary td.cart_unit, table#cart_summary td.cart_ref {text-align: center}
table#cart_summary  .cart_quantity { }
table#cart_summary .customization .cart_quantity {padding: 8px 12px 0;}
.cart_quantity .cart_quantity_input {
	float:left;
	margin: 0 0 0 5px;
	width: 20px;
	border:1px solid #ddd;
}
.cart_quantity .cart_quantity_button {
	float:left;
	position: relative;
	top: -6px
}
table#cart_summary .cart_total { text-align: center}
table#cart_summary td.cart_total {text-align: center}
table#cart_summary .cart_delete {
	text-align:center
}
table#cart_summary .cart_discount_price {text-align: right}
.cart_delete a.cart_quantity_delete,
a.price_discount_delete {
	display:inline-block;
	padding: 0;
	width: 16px;
	height: 16px;
	color:#666;
	background: url(../img/nav-logout.gif) 0 0 no-repeat;
	text-indent: -9999px;
}
#mywishlist td.wishlist_delete a { background: url(../img/nav-logout.gif) 0 0 no-repeat !important; text-indent: -9999px; width: 16px; height: 16px; display: block;}

.cart_total_price .total_price_container {
	border-right:none;
}

table#cart_summary .cart_total_price td.cart_voucher {
	border-bottom:1px solid #ddd;
	vertical-align:middle
}

table#cart_summary #total_price_container {
	border-bottom:1px solid #ddd;
	border-right: none;
}

.cart_voucher .title_block, .cart_voucher h4
.cart_voucher p {float:left;}
.cart_voucher .title_block, .cart_voucher h4 {
	margin-right:12px;
	padding:5px 0;
	font-size:13px
}
.cart_voucher p {padding-bottom:0;}

.cart_voucher p.discount_name_block {float:left;}
.cart_voucher #display_cart_vouchers {
	clear:both;
	line-height: 20px;
	color:#666;
	padding-top:2px;
	font-weight:normal;
	border-top:1px dotted #ccc
}
.cart_voucher .title_offers {
	margin-top:15px;
	margin-bottom:5px
}
.cart_voucher #display_cart_vouchers span {
	font-weight:bold;
	cursor:pointer;
}
.cart_voucher input.discount_name {
	padding:0 5px;
	height:22px;
	width:170px;/* 180 */
	border:1px solid #ccc;
	font-weight:normal;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff
}
.cart_voucher .submit input.button {
	margin-left:2px;
	padding:2px;
	height:24px;
	border:1px solid #000;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	color:#fff;
	text-transform:uppercase;
	text-shadow:0 -1px 0 #333;
	background:url(../img/bg_cart_voucher_submit.png) repeat-x 0 0 #000;
}

#cart_summary .price {
	border-right:none;
	text-align: right;
	white-space: nowrap;
}
.total_price_container p {text-align: left}

table#cart_summary .cart_total_price .total_price_container {
	padding:0;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
}
.cart_total_price .total_price_container p {
	display:block;
	padding:8px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	background:#868686;
	text-align: center;
}
.cart_total_price .total_price_container span {
	display:block;
	padding:15px;
	font-weight:bold;
	font-size:18px;
	text-align:center;
	border: 1px solid #ddd;
	border-top: 0;
}

#order_carrier {
	clear:both;
	margin-top:20px;
	border:1px solid #ddd;
	background:#fff
}
#order_carrier .title_block  {
	padding:0 15px;
	height: 29px;
	font-weight: bold;
	line-height:29px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	background:url(../img/bg_table_th.png) repeat-x 0 -10px #999
}
#order_carrier span {
	display:block;
	padding:15px;
	font-weight:bold
}

.order_delivery .first_item {margin-right:35px;}

.multishipping_close_container {
	text-align: center;
}

table#cart_summary .gift-icon {
	color: white;
	background: #0088CC;
	line-height: 20px;
	padding: 2px 5px;
	border-radius: 5px;
}

/* step 2 - authentification ******************************************************************* */
#create-account_form, #authentication #login_form {

}
#create-account_form { }

#authentication #create-account_form fieldset,
#authentication #login_form fieldset {
	min-height: 200px
}

#authentication #create-account_form .form_content,
#authentication #login_form .form_content {
	padding:15px 10px
}

#create-account_form h3,
#authentication #login_form h3 {
	padding: 10px;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	background: #868686;
	text-align: center;
}
#create-account_form .title_block  {
	padding-bottom:22px;
	font-size:11px;
	color:#333
}

#create-account_form label,
#login_form label {
	display:inline-block;
	width:110px;
	color:#666
}

#order-opc #login_form_content label {
	display:block;
	margin:0 0 10px 0
}

#create-account_form #email_create,
#login_form #email,
#login_form #passwd,
#login_form #login_email,
#login_form #login_passwd {
	padding:0 5px;
	height:20px;
	width:200px;/* 230 */
	border:1px solid #ccc;
	color:#666;
	background:url(../img/bg_discount_name.png) repeat-x 0 0 #fff;
	line-height:20px;
	margin: 0;
}

#create-account_form #SubmitCreate,
#login_form #SubmitLogin {
	float:right
}

.lost_password {
	float:left;
	width:200px
}
.lost_password a {color:#666}

#order-opc .lost_password {
	display:block;
	float:none;
	margin:5px 0 10px;
	width:auto;
	font-size:11px;
	color:#666
}

#ordermsg p {padding-bottom:0}
#ordermsg p.txt {
	float:left;
	margin-right:25px;
	width:220px
}
/*#ordermsg .textarea {float:right}*/
#ordermsg .textarea textarea {
	height: auto;
	width: 50%;
	border:1px solid #ccc;
}

/* step 3 - address ************************************************************************** */

.address-form-multishipping { padding: 10px 0px; }
#multishipping_mode_box {
	border: 1px solid #D0D3D8;
	background: url("../img/form_bg.jpg") repeat-x scroll left top #D0D1D5;
	margin-bottom: 10px;
	padding: 5px;
}
#multishipping_mode_checkbox {
	vertical-align: middle;
	margin-right: 5px;
}
#multishipping_mode_box.on {
	border: 1px solid #ddd;
}
#multishipping_mode_box .title {
	padding: 5px;
	font-weight: bold;
}
#multishipping_mode_box .description, #multishipping_mode_box .description_off {
	padding: 5px;
}
#multishipping_mode_box .description_off {
	display: none;
	padding: 5px;
}
#multishipping_mode_box .description_off div {
	margin-bottom: 10px;
}
#multishipping_mode_box .description_off a, #multishipping_mode_box .description a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
	margin: 0 160px;
	border: 1px solid #ccc;
	background: #ddd;
}
#multishipping_mode_box .description_off a:hover, #multishipping_mode_box .description a:hover {
	background: #f3f3f3;
	border: 1px solid #ccc;
}
#multishipping_mode_box.on .description_off {
	display: block;
}


/* step 4 - paiement ************************************************************************** */

.delivery_options {
	border: 1px solid #BDC2C9;
	border-top: 0;
}

#order .delivery_options_address h3, #order-opc .delivery_options_address h3 {
/*background: url("../img/table_header.gif") no-repeat;
color: #374853;
font-weight: bold;
height: 14px;
padding: 5px 10px;
margin: 10px 0 0 0;*/
	padding: 6px 11px;
	font-size: 12px;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	text-transform: uppercase;
	background: none repeat scroll 0 0 #383838;
}
#order .delivery_option_radio, #order-opc .delivery_option_radio {
	float: left;
	margin: 21px 12px;
}
#order .delivery_option label, #order-opc .delivery_option label {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}
#order .delivery_option label > table.resume, #order-opc .delivery_option label > table.resume {
	height: 46px;
	width: 685px;
}
#order .delivery_option.item, #order-opc .delivery_option.item {
	background: #fafafa;
}
#order .delivery_option.alternate_item, #order-opc .delivery_option.alternate_item {
	border-top: 1px solid #bdc2c9;
	background: #f1f2f4;
	border-bottom: 1px solid #bdc2c9;
}
#order .delivery_option label > table.resume td, #order-opc .delivery_option label > table.resume td {
	padding: 0 8px;
}
#order .delivery_option label > table.resume td + td, #order-opc .delivery_option label > table.resume td + td {
	width: 300px;
}
#order .delivery_option label > table.resume td + td + td, #order-opc .delivery_option label > table.resume td + td + td {
	width: 100px;
	text-align: right;
}
#order .delivery_option_carrier td {width:200px}
#order .delivery_option_carrier td + td {width:280px;}
#order .delivery_option_carrier td + td + td {width:200px}
#order .delivery_options_address .delivery_option_logo, #order .delivery_option_carrier .delivery_option_logo, #order-opc .delivery_options_address .delivery_option_logo {
	padding-left:10px;
	width: 160px;
}
#order .delivery_options_address .delivery_option_logo img, #order-opc .delivery_options_address .delivery_option_logo img { /*height: 40px;*/ }
#order .delivery_option_carrier .first_item, #order-opc .delivery_option_carrier .first_item {
	padding: 3px 5px 3px 12px;
	background:url(../img/arrow_right_2.png) no-repeat 3px 7px
}

.order_carrier_content {
	padding:15px;
	border:1px solid #ccc;
	font-size:12px;
	color:#000;
	background:#f8f8f8
}
.order_carrier_content h3 {
	padding:15px 0 10px 0;
	font-size:13px;
	color:#000
}
.order_carrier_content h3.carrier_title {padding-top:0}
.order_carrier_content input {
	position:relative;
	top:1px
}

#carrierTable {
	border:1px solid #999;
	border-bottom:none;
	background:#fff
}

#carrierTable tbody{
	border-bottom:1px solid #999;
}
#carrierTable  th {
	padding:0 15px;
	height: 29px;
	font-weight: bold;
	line-height:29px;
	color:#fff;
	text-transform:uppercase;
	background:url(../img/bg_table_th.png) repeat-x 0 -10px #999
}
#carrierTable  td {
	padding:15px;
	font-weight:bold;
	border-right:1px solid #e9e9e9
}
#carrierTable  td.carrier_price {border:none}

#gift_div {
	display:none;
	padding-bottom:10px
}
#gift_div label {
	display:block;
	margin-bottom:5px
}
#gift_div #gift_message {
	height:50px;
	width:720px;
	border:1px solid #999
}

a.iframe {font-weight:bold}

.hook_extracarrier {
	margin-top: 5px;
	padding: 5px;
}

/* step 5 - paiement ************************************************************************** */
#HOOK_PAYMENT { border: 1px solid #ddd; padding: 10px;}

.paiement_block {
	padding:15px;
	border:1px solid #ccc;
	font-size:12px;
	color:#000;
	background:#f8f8f8
}

.payment_module {
	position:relative;
	padding-top:20px;
	border-top:1px dotted #ccc;
	text-transform:uppercase;
}
#HOOK_PAYMENT [class*="payment_module"]:first-child { border: none;}
.payment_module a {display:block;}
.payment_module img {
	float:left;
	margin-right:10px
}
/*.payment_module span {
	position:absolute;
	top:50px;
	left:145px
}*/

.payment_module:before,
.payment_module:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden
}
.payment_module:after {clear: both}
.payment_module {zoom: 1}


/* ************************************************************************************************
		PAGE ORDER-OPC
************************************************************************************************ */
#order-opc #left_column { }
#order-opc #center_column{ }


#order-opc h2 {}
#order-opc h2 span {
	display:inline-block;
	padding:5px 7px;
	color:#fff;
	background:#333;
}

#order-opc #login_form fieldset {
	background: none repeat scroll 0 0 #FFFFE0;
	border: 1px solid #E6DB55;
	font-size: 13px;
	margin: 0 0 10px;
	padding: 10px;
}
#order-opc #login_form fieldset p {padding:0}
#order-opc #login_form fieldset p a {padding:0}

#order-opc #new_account_form p.submit {
	margin-right: 120px;
	text-align:right
}
#order-opc #new_account_form p.opc-required {margin-left:20px}

#order-opc .addresses {margin-bottom:20px}

#order-opc #opc_delivery_methods h3 {margin-top:20px;}
#order-opc #opc_delivery_methods textarea {
	height:60px;
	width:723px;
	border:1px solid #ccc
}
#order-opc #opc_delivery_methods #message {
	width: 757px;
}
#order-opc #opc_payment_methods {margin-bottom:20px}
#order-opc #opc_payment_methods #opc_payment_methods-content p{margin:0}
.delivery_option_carrier td {width:200px}
.delivery_option_carrier td + td {width:280px;}
.delivery_option_carrier td + td + td {width:200px}
.delivery_option_carrier {
	margin: 5px 0 0 45px;
	width: 670px;
	display: none;
}
 .delivery_option_carrier tr td {
	padding: 5px;
}
.delivery_option_carrier.selected {
	display: table;
}
.delivery_option_carrier.not-displayable {
	display: none;
}
.delivery_option_title {
	font-weight: bold;
}


/* ************************************************************************************************
	express checkout
************************************************************************************************ */
#new_account_form {clear:both;margin-bottom: 20px}
#new_account_form h3 {
	margin-bottom:20px;
	padding:8px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:12px;
	color:#fff;
	text-transform:uppercase;
	background:url(../img/bg_form_h3.png) repeat-x 0 0 #989898
}
#center_column #new_account_form p {
	margin:0;
	padding:0 0 10px 0
}
#new_account_form p.required {color:#222}
#new_account_form p.required sup {color:#990000}
#new_account_form p.radio span,
#new_account_form p.text label,
#new_account_form p.password label,
#new_account_form p.select label,
#new_account_form p.select span,
#new_account_form p.textarea label {
	display: inline-block;
	padding: 6px 15px;
	width: 230px;
	font-size: 14px;
	text-align: right
}
#new_account_form p.radio label {
	float:none;
	padding-right:10px;
	width:auto;
	font-size:14px;
}
#new_account_form p.checkbox label {
	float: none;
	width: auto;
	font-size: 12px;
}
#new_account_form p.text input,
#new_account_form p.password input,
#new_account_form p.select input {
	height:22px;
	padding:0 5px;
	width:360px;
	border:1px solid #ccc;
	font-size:12px;
	color:#666
}
#new_account_form p.checkbox input {margin-left: 260px;}

#new_account_form #submitGuestAccount {float: right}

/* ************************************************************************************************ */

/* ************************************************************************************************
		paiment - CONFIRMATION
************************************************************************************************ */
#orderconfirmation #left_column { }
#orderconfirmation #center_column{ }


/* ************************************************************************************************
		PAGE PASSWORD
************************************************************************************************ */
#form_forgotpassword fieldset {
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #eee
}
#form_forgotpassword  p.text label {
	display: inline-block;
	padding-right: 10px;
	width: 174px;
	font-weight: bold;
	font-size: 12px;
	text-align: right
}
#form_forgotpassword  p.text input {
	padding: 0 5px;
	height: 20px;
	width: 288px;
	border: 1px solid #ccc;
	background: url(../img/bg_input.png) repeat-x 0 0 #fff
}
#form_forgotpassword p.submit {
	margin-right:25px;
	padding-bottom:5px;
	text-align:right
}

#password .icon {
	position:relative;
	top:6px;
}


/* ************************************************************************************************
		PAGE ADRESSES
************************************************************************************************ */
#addresses #left_column { }
#addresses #center_column{ }

#address p.inline-infos {
	margin:0 0 0 265px !important;
	font-size:12px;
	color:#666;
}


/* ************************************************************************************************
		PAGE ADD ADRESS
************************************************************************************************ */
#address #left_column { }
#address #center_column{ }

form#add_address {}
#add_address fieldset {
	margin:0;
	border:1px solid #ccc;
	background:#F8F8F8
}
#add_address h3 {
	margin:0 0 15px 0;
	padding: 10px;
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	background: #868686;
	text-align: center;
}
#center_column #add_address p {margin:0; padding:0 0 10px 0}
#add_address p.required {color:#222}
#add_address p.required  sup {color:#e84c3d}

#add_address p.text label,
#add_address p.password label,
#add_address p.select label,
#add_address p.select span,
#add_address p.textarea label {
	display:inline-block;
	padding:6px 15px;
	width:230px;/* 260 */
	font-size:14px;
	text-align:right
}
#add_address p.text input,
#add_address p.password input,
#add_address p.select input {
	padding:0 5px;
	height:22px;
	width:360px;/* 370 */
	border:1px solid #ccc;
	font-size: 12px;
	color:#666;
	line-height:22px
}
#add_address p.checkbox input {
	margin-left:260px;
}
#add_address p.select select {
	margin-right:10px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
#add_address p.textarea label {vertical-align:top}
#add_address p.textarea textarea {
	height:80px;
	width:370px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
#center_column  #add_address p.submit2 {
	margin-top:20px;
	text-align:right
}

#add_address span.form_info,
#add_address span.inline-infos {
	display:block;
	margin:5px 0 0 265px;
	color:#666
}


/* ************************************************************************************************
		PAGE ORDER-SPLIP
************************************************************************************************ */
#order-slip #left_column { }
#order-slip #center_column{ }

#order-slip #order-list {border-bottom:1px solid #999}
#order-slip #order-list td {
	border-top: 1px solid #ccc;
	border-bottom:none
}
#order-slip #order-list td.history_invoice {border-right:none}


/* ************************************************************************************************
		PAGE DISCOUNT
************************************************************************************************ */
#discount #left_column { }
#discount #center_column{  }

#discount .table_block tr.last_item td {border-bottom:1px solid #999}
#discount .table_block td.discount_expiration_date {border-right:1px solid #999}
#discount .table_block td.discount_value {white-space:nowrap}


/* ************************************************************************************************
		PAGE ORDER FOLLOW
************************************************************************************************ */
#order-follow #left_column { }
#order-follow #center_column{ }


/* ************************************************************************************************
		PAGE NEW-PRODUCTS
************************************************************************************************ */
#newproducts .sortPagiBar {margin-bottom:20px}


/* ************************************************************************************************
		PAGE BEST SALES
************************************************************************************************ */
#bestsales .sortPagiBar {margin-bottom:20px}

/* ************************************************************************************************
		PAGE PRICES DROP SALES
************************************************************************************************ */
#pricesdrop .sortPagiBar {margin-bottom:20px}


/* ************************************************************************************************
		PAGE MANUFACTURER
************************************************************************************************ */
#manufacturer .nbrmanufacturer {
	margin: 15px 0 10px;
	padding: 8px 7px;
	font-size:12px;
	color: #000;
	background: none repeat scroll 0 0 #f0f0f0
}

#manufacturer #product_list {margin-top:15px}

ul#manufacturers_list {list-style-type:none}
ul#manufacturers_list li {
	margin-bottom: 14px;
	padding: 12px 8px;
	border: 1px solid #eee;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
ul#manufacturers_list li a.lnk_img {
	display: block;
	float: left;
}
ul#manufacturers_list li img {
	display: block;
	float: left;
	margin-right: 14px;
	border: 1px solid #ccc;
	vertical-align: bottom
}
ul#manufacturers_list li h3 {
	padding: 0 0 10px;
	font-size: 13px;
	color: #000
}
ul#manufacturers_list li .description {
	overflow: hidden;
	padding: 0;
	font-size:12px;
	color:#666
}
ul#manufacturers_list li .right_side {float:right;}

.description_box {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 1px #E2E2E2;
	padding: 5px;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 18px;
}
.description_box p {
	margin: 0;
	padding: 0 10px 5px;
}
.description_box .hide_desc {
	display: none;
}
.description_box .lnk_more {
	background: url("../img/arrow_right_1.png") no-repeat scroll 100% 4px transparent;
	color: #0088CC;
	padding: 0 10px;
}
.description_box ul {
	padding-left: 30px;
	padding-bottom: 10px;
}

/* ************************************************************************************************
		PAGE SUPPLIER
************************************************************************************************ */
#supplier .nbrmanufacturer {
	margin: 15px 0 10px;
	padding: 8px 7px;
	font-size:12px;
	color: #000;
	background: none repeat scroll 0 0 #f0f0f0
}
ul#suppliers_list {list-style-type:none}
ul#suppliers_list li {
	margin-bottom: 14px;
	padding: 12px 8px;
	border: 1px solid #eee;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
ul#suppliers_list li a.lnk_img {
	display: block;
	float: left;
}
ul#suppliers_list li img {
	display: block;
	float: left;
	margin-right: 14px;
	border: 1px solid #ccc;
	vertical-align: bottom
}
ul#suppliers_list li h3 {
	padding: 0 0 10px;
	font-size: 13px;
	color: #000
}
ul#suppliers_list li .description {
	overflow: hidden;
	padding: 0;
	font-size:12px;
	color:#666
}
ul#suppliers_list li .right_side {float:right;}


/* ************************************************************************************************
		PAGE SEARCH
************************************************************************************************ */
#search h3.nbresult {
	margin:0 0 10px 0;
	padding:10px;
	border:1px solid #e6db55;
	font-size:13px;
	background:#ffffe0
}
#search .sortPagiBar { }


/* ************************************************************************************************
		PAGE 404
************************************************************************************************ */
#pagenotfound #left_column,
#pagenotfound #right_column,
#pagenotfound #footer {display:none}

#pagenotfound #left_column,
#pagenotfound #right_column,
#pagenotfound #footer {display:none}

#pagenotfound #center_column { }

#pagenotfound .pagenotfound {
	padding:30px 300px 0 0;
	height:330px;
	font-size:14px;
	background:url(../img/bg_404.png) no-repeat 100% 0
}
#pagenotfound h3 {
	font-weight:normal;
	font-size:14px
}
#pagenotfound fieldset {border:none}
#pagenotfound fieldset label {color:#333}
#pagenotfound  #search_query {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #fff !important;
	border-top: 1px solid #666;
	padding: 0 5px;
	height: 24px;
	width: 200px;
	color: #ccc;
	background: url(../../../modules/blocksearch/img/bg_search_input.png) repeat-x scroll 0 0 #fff
}
#pagenotfound .button_small {
	padding: 4px 7px;
	border: medium none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	color: #fff;
	text-transform: uppercase;
	background: url("../../../modules/blocksearch/img/bg_search_submit.png") repeat-x scroll 0 0 #101010
}
#pagenotfound .pagenotfound a {
	font-weight:bold;
	color:#333
}
#pagenotfound .pagenotfound .icon {
	position:relative;
	top:3px
}


/* ************************************************************************************************
		addons payment cheque
************************************************************************************************ */
#module-cheque-payment #left_column { }
#module-cheque-payment #center_column{ }


/* ************************************************************************************************
		addons payment bankwire
************************************************************************************************ */
#module-bankwire-payment #left_column { }
#module-bankwire-payment #center_column{ }


/* ************************************************************************************************
		addons google checkout
************************************************************************************************ */
#module-gcheckout-payment #left_column { }
#module-gcheckout-payment #center_column{ }

/* ************************************************************************************************
		addons paypal
************************************************************************************************ */
#module-payment-submit #left_column {display:none}
#module-payment-submit #center_column{ }


/* ************************************************************************************************
		addons cashondelivery validation
************************************************************************************************ */
#module-cashondelivery-validation #left_column { }
#module-cashondelivery-validation #center_column{ }


/* ************************************************************************************************
		addon RerversoForm
************************************************************************************************ */
#account-creation_form fieldset.reversoform {padding:10px !important}
#account-creation_form fieldset.reversoform  .text label{
	display:block;
	padding:0 0 10px 0;
	width:100%;
	text-align:left;
}
#account-creation_form fieldset.reversoform .infos-sup {
	padding:0 !important;
	font-size:10px;
	font-style:italic;
	text-align:right
}
/* ************************************************************************************************
		addon customer privacy
************************************************************************************************ */
#account-creation_form fieldset.customerprivacy label, fieldset.customerprivacy label{
	padding-bottom:0;
	font-size:14px;
	text-align:left;
	cursor:pointer
}

/* ************************************************************************************************
		addon referralprogram
************************************************************************************************ */
#module-referralprogram-referralprogram-program #left_column { }
#module-referralprogram-referralprogram-program #center_column{ }

#footer .myaccount li.referralprogram img {display:none}

#module-referralprogram-referralprogram-program .sheets {padding-top:10px}

#module-referralprogram-referralprogram-program form p.checkbox {font-weight:bold}
#module-referralprogram-referralprogram-program form p.checkbox a {text-decoration:underline}
#module-referralprogram-referralprogram-program form p.submit {text-align:right}
#module-referralprogram-referralprogram-program form p.see_email {
	padding-left:10px;
	color: #0088cc;
	background:url(../img/arrow_right_1.png) no-repeat 0 4px;
}
#module-referralprogram-referralprogram-program form p.see_email a {
	color: #0088cc;
	text-decoration:underline
}

/* ************************************************************************************************
		addon loyalty
************************************************************************************************ */
#module-loyalty-default #left_column { }
#module-loyalty-default #center_column{ }

#product p#loyalty {
	padding:10px 0 0 20px;
	border-top:1px solid #ccc;
	background:url(../img/icon/info.png) no-repeat 0 8px;
	margin-top: 10px;
}

#footer .myaccount li.loyalty img {display:none}


/* ************************************************************************************************
		addon Livezilla
************************************************************************************************ */
#livezilla_lnk  {
	margin:10px 0;
	text-align: right
}
#livezilla_lnk a {
	display:inline-block;
	padding:6px 8px 8px 8px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font:bold 10px Arial,Verdana,sans-serif;
	color:#fff;
	text-shadow: 0 -1px 0 #000;
	background: url(../img/bg_bt_compare.gif) repeat-x scroll 0 0 #000
}
#livezilla_lnk a:hover {text-decoration:none}

/* ************************************************************************************************
		addons comments products
************************************************************************************************ */
form#sendComment  fieldset{
	padding:10px;
	border:1px solid #ccc;
	background:#eee
}
form#sendComment h3 {font-size:14px;}
#new_comment_form p.text {
	 margin-bottom: 0;
	 padding-bottom: 0;
}
#sendComment p.text label,
#sendComment p.textarea label {
	display: block;
	margin: 12px 0 4px;
	font-weight: bold;
	font-size: 12px;
}
#sendComment p.text input {
	padding: 0 5px;
	height: 28px;
	width: 498px;
	border: 1px solid #ccc;
	background: url(../img/bg_input.png) repeat-x 0 0 #fff;
}
#sendComment p.textarea textarea {
	height:80px;
	width:508px;
	border:1px solid #ccc;
}
#sendComment p.submit {
	padding:0;
	text-align:right
}

#sendComment p.closeform {
	float:right;
	padding:0;
	height:12px;
	width:12px;
	text-indent:-5000px;
	background:url(../img/icon/delete.gif) no-repeat 0 0
}

.star {
	position: relative;
	top:2px;
	float: left;
	height: 12px;
	width: 12px;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer
}
.star, .star a { background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }
div.star_on a { background-position: 0 -12px }
div.star_hover a, div.star a:hover { background-position: 0 -12px }


/* ************************************************************************************************
		xxxxx
************************************************************************************************ */


/* ************************************************************************************************
		guest tracking
************************************************************************************************ */

#guest-tracking fieldset p:first-child {
	padding-top: 10px;
}
#guest-tracking fieldset p:last-child {
	padding-bottom: 10px;
}



/* ************************************************************************************************
		CSS Modules
************************************************************************************************ */

/******* IMPORTANT - Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.************/

/*************** Block ADVERTISING ***************/
.advertising_block img { width: 100%;}



/*************** Block CATEGORIES ***************/
#categories_block_left  li {}
	#categories_block_left  li.last {	border:none;}
		#categories_block_left  li a {
			display:block;
			padding:7px 11px 5px 3px;
			color:#333;
			text-transform: uppercase;
		}
		#categories_block_left  li a:hover { color: #27ae61;}
		
	#categories_block_left  li ul {margin-left: 25px}
		#categories_block_left  li ul li {border:none}
			#categories_block_left  li ul li a {
				padding-left:0;
				background:none
			}
		
#categories_block_left li .OPEN,
#categories_block_left li .CLOSE {
	display:block;
	float:right;
	margin:10px 10px 0;
	height: 15px;
	width: 15px;
	background:url(../img/menu_up_down.png) no-repeat 0 -15px;
	cursor:pointer
}
#categories_block_left li .CLOSE {background-position:0 0}


/* footer */
.blockcategories_footer {
	padding:15px 10px;
}
.blockcategories_footer .category_footer {float:left;clear:none;}
.blockcategories_footer ul ul {display:none !important}



/*************** Block CMS ***************/
/* footer */
#footer .block_various_links {padding: 0;}
#footer .block_various_links  ul { padding: 8px 0;}

/* Block CMS links */
.informations_block_left li {border-bottom:1px dotted #eee}
.informations_block_left li.last {border:none;}
.informations_block_left li a {
    display:block;
    padding:7px 11px 5px 22px;
    color:#333;
    background:url(../../../modules/blockcms/img/arrow_right_2.png) no-repeat 10px 10px transparent;
}
    
tr.subitem > td:first-child + td {
    padding-left: 10px;
}



/*************** Block CONTACTINFOS ***************/

#block_contact_infos {padding:15px 0;}
#block_contact_infos li {
	padding:0 !important;
	line-height: 20px;
}
#block_contact_infos li  strong {
	font-weight:normal;
	font-size:13px;
}
#block_contact_infos li  pre {font: 11px/20px Arial,Verdana,sans-serif; padding: 10px; margin: 10px 0;}



/*************** Block LINK ***************/
#links_block_left .block_content li {border-bottom:1px dotted #eee}
#links_block_left .block_contentt li.last {border:none;}
#links_block_left .block_content li a {
    display:block;
    padding:7px 11px 5px 22px;
    color:#333;
    background:url(../../../modules/blocklink/img/arrow_right_2.png) no-repeat 10px 10px transparent;
}



/*************** Block MANUFACTURER ***************/
.blockmanufacturer li {border-bottom:1px dotted #ccc}
.blockmanufacturer li.last {	border:none;}
	.blockmanufacturer li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
		background:url(../../../modules/blockmanufacturer/img/arrow_right_2.png) no-repeat 10px 10px transparent
	}


.blockmanufacturer form {
	margin-top: 10px;
    text-align: center;
    width: 200px;
}
.blockmanufacturer p {
	padding:0;
}

/*************** Block LOGO PAYMENT ***************/

.paiement_logo_block { width: 191px; text-align: center; margin-bottom: 1.5em }
.paiement_logo_block a { text-decoration: none }
.paiement_logo_block img { margin: 0 0.5em }



/*************** Block RSS ***************/
#rss_block_left p {
	margin:0;
	padding:10px;
}

#rss_block_left li {border-bottom:1px dotted #ccc}
#rss_block_left li.last {	border:none;}
	#rss_block_left li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
		background:url(../../../modules/blockrss/img/arrow_right_2.png) no-repeat 10px 10px transparent
	}

	
/*************** Block SOCIAL ***************/
#social_block {padding:15px 0;}
#social_block li {padding-left:22px !important;}
#social_block li.facebook {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 6px;}
#social_block li.twitter {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 -26px;}
#social_block li.rss {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 -56px;}


/*************** Block STORE ***************/
.blockstore img { margin: 10px 0 0 0}
.blockstore p { 
	padding-bottom:0;
	font-weight:bold;
	text-align: right
}
.blockstore p.store_image { 
	padding-bottom:10px;
	text-align:center
}


/*************** Block SUPPLIER ***************/
.blocksupplier li {border-bottom:1px dotted #ccc}
.blocksupplier li.last {	border:none;}
	.blocksupplier li a {
		display:block;
		padding:7px 11px 5px 22px;
		color:#333;
		background:url(../../../modules/blocksupplier/img/arrow_right_2.png) no-repeat 10px 10px transparent
	}

.blocksupplier form {
	margin-top: 10px;
    text-align: center;
    width: 200px;
}
.blocksupplier p {
	padding:0;
}
/*Block Advertising*/
.advertising_block { margin-bottom: 20px;}


/*Back To Top*/
.mypresta_scrollup{
    width:50px;
    height:50px;
    position:fixed;
    display:none;
    text-indent:-9999px;
	right:20px;
	bottom:20px;
	background:url(../img/back-top.png) no-repeat #e84c3d; ;
}
.mypresta_scrollup:hover { background-color: #868686;}

/********************************************* Feadture Slider *********************************************/
.pos-feature-product { clear: both; }
.pos-feature-product-title {
	background: #888888;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
	}
.pos-feature-product-title h2 {
	color: #fff;
	float: left;
	padding: 15px;
	line-height: 30px;
	background: #00be9c;
	margin: 0;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}

.pos-feature-product .flex-direction-nav a  {
	width: 16px;
	height: 23px;
	margin: -65px 0 0;
	display: block;
	background: url(../img/bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	top: 0;
	cursor: pointer;
	text-indent: -9999px; }
.pos-feature-product .flex-direction-nav .flex-prev { right: 32px; }
.pos-feature-product .flex-direction-nav .flex-next {background-position: 100% 0; right: 10px; }
.pos-feature-product .flexslider .flex-prev:hover { background-position: 0 100%;  }
.pos-feature-product .flexslider .flex-next:hover { background-position: 100% 100%; }

.feature-productslider-item .item-inner { border: 1px solid #ddd;}
.feature-productslider-item .product-info {
	position: absolute;
	bottom: -300px;
	left: 0;
	width: 100%;
	background: #e84c3d;
	height: 100%;
	text-align: center;
	}
.feature-productslider-item:hover .product-info { bottom: 0;}
.feature-productslider-item .s_title_block { margin-top: 20px;}
.feature-productslider-item .s_title_block a { font-size: 20px; color: #fff;}
.feature-productslider-item .s_title_block a:hover { color: #27ae61;}
.feature-productslider-item .product_desc { padding: 0 10px;}
.feature-productslider-item .product_desc a { color: #fff;}
.feature-productslider-item .product_desc a:hover { color: #27ae61; }

.feature-productslider-item .price_container { font-size: 30px; line-height: 30px; color: #fff; padding: 10px 0 0; margin: 10px 0; display: block; background: url(../img/border-item.png) 50% 0 no-repeat; }

.feature-productslider-item .add-to-links { display: block; text-align: center;}
.feature-productslider-item .add-to-links .lnk_more {
	width: 50px;
	height: 49px;
	display: inline-block;
	text-indent: -9999px;
	background: url(../img/icon-view.png) 0 0 no-repeat #fff;
	padding: 0;
	}
.feature-productslider-item .add-to-links .lnk_more:hover {
	background-position: 0 100%;
	background-color: rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	}
.feature-productslider-item .add-to-links .exclusive {
	width: 50px;
	height: 49px;
	display: inline-block;
	text-indent: -9999px;
	background: url(../img/icon-cart.png) 0 0 no-repeat #fff;
	padding: 0;
	margin-right: 5px;
	}
.feature-productslider-item .add-to-links .exclusive:hover {
	background-position: 0 100%;
	background-color: rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	}

/********************************************* NewProduct Slider *********************************************/
.pos-new-product { margin-top: 20px;}

.pos-new-product-title {
	background: #888888;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
	}
.pos-new-product-title h2 {
	color: #fff;
	float: left;
	padding: 15px;
	line-height: 30px;
	background: #e84c3d;
	margin: 0;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}

.pos-new-product .flex-direction-nav a  {
	width: 16px;
	height: 23px;
	margin: -65px 0 0;
	display: block;
	background: url(../img/bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	top: 0;
	cursor: pointer;
	text-indent: -9999px; }
.pos-new-product .flex-direction-nav .flex-prev { right: 32px; }
.pos-new-product .flex-direction-nav .flex-next {background-position: 100% 0; right: 10px; }
.pos-new-product .flexslider .flex-prev:hover { background-position: 0 100%;  }
.pos-new-product .flexslider .flex-next:hover { background-position: 100% 100%; }

.newproductslider-item .item-inner { border: 1px solid #ddd;}
.newproductslider-item .product-info {
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	background: #e84c3d;
	height: 100%;
	text-align: center;
	}
.newproductslider-item:hover .product-info { bottom: 0;}
.newproductslider-item .s_title_block { margin-top: 20px;}
.newproductslider-item .s_title_block a { font-size: 20px; color: #fff;}
.newproductslider-item .s_title_block a:hover { color: #27ae61;}
.newproductslider-item .product_desc { padding: 0 10px;}
.newproductslider-item .product_desc a { color: #fff;}
.newproductslider-item .product_desc a:hover { color: #27ae61; }

.newproductslider-item .price_container { font-size: 30px; line-height: 30px; color: #fff; padding: 10px 0 0; margin: 10px 0; display: block; background: url(../img/border-item.png) 50% 0 no-repeat; }

.newproductslider-item .add-to-links { display: block; text-align: center;}
.newproductslider-item .add-to-links .lnk_more {
	width: 50px;
	height: 49px;
	display: inline-block;
	text-indent: -9999px;
	background: url(../img/icon-view.png) 0 0 no-repeat #fff;
	padding: 0;
	}
.newproductslider-item .add-to-links .lnk_more:hover {
	background-position: 0 100%;
	background-color: rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	}
.newproductslider-item .add-to-links .exclusive {
	width: 50px;
	height: 49px;
	display: inline-block;
	text-indent: -9999px;
	background: url(../img/icon-cart.png) 0 0 no-repeat #fff;
	padding: 0;
	margin-right: 5px;
	}
.newproductslider-item .add-to-links .exclusive:hover {
	background-position: 0 100%;
	background-color: rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	}

/****************************************** Product Category Slider *****************************************/
.product-cattegory-title {
	background: #888888;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
	}
.product-cattegory-title h2 {
	color: #fff;
	float: left;
	padding: 15px;
	line-height: 30px;
	background: #e84c3d;
	margin: 0;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}
.blockposproductcategory .productcatygory-item   { display: block; border: 1px solid #ddd;}
.blockposproductcategory p.product_name { padding: 10px 10px 0 10px; text-align: center;}
.blockposproductcategory p.product_name  a { font-size: 14px; color: #333; font-weight: bold;}
.blockposproductcategory p.product_name  a:hover { color: #27ae61;}
.blockposproductcategory p.price_display .price { color: #e84c3d; font-size: 18px; font-weight: normal;}

.blockposproductcategory .flex-direction-nav a  {
	width: 16px;
	height: 23px;
	margin: -65px 0 0;
	display: block;
	background: url(../img/bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	top: 0;
	cursor: pointer;
	text-indent: -9999px; }
.blockposproductcategory .flex-direction-nav .flex-prev { right: 32px; }
.blockposproductcategory .flex-direction-nav .flex-next {background-position: 100% 0; right: 10px; }
.blockposproductcategory .flexslider .flex-prev:hover { background-position: 0 100%;  }
.blockposproductcategory .flexslider .flex-next:hover { background-position: 100% 100%; }

/****************************************** Special Products Slider *****************************************/

.pos-special-product li.ajax_block_product { text-align: center; position: relative;}
.pos-special-product li.ajax_block_product .item-inner { border: 1px solid #ddd; padding: 5px;}
.pos-special-product li.ajax_block_product h3 a { font-size: 16px;}
.pos-special-product li.ajax_block_product .content_price { padding-bottom: 10px;}
.pos-special-product li.ajax_block_product .content_price .reduction { position: absolute; top: 0; right: 0; width: 50px; height: 50px; background: #e84c3d; display: block; color: #fff; text-align: center; line-height: 50px;}
.pos-special-product li.ajax_block_product .content_price .old_price { font-size: 14px; text-decoration: line-through; color: #888; }
.pos-special-product li.ajax_block_product .content_price .price { font-size: 18px; font-weight: bold;}
.pos-special-product li.ajax_block_product .availability { display: none;}

.pos-special-product .flex-direction-nav a  {
	width: 16px;
	height: 23px;
	margin: -35px 0 0;
	display: block;
	background: url(../img/bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	top: 0;
	cursor: pointer;
	text-indent: -9999px; }
.pos-special-product .flex-direction-nav .flex-prev { right: 32px; }
.pos-special-product .flex-direction-nav .flex-next {background-position: 100% 0; right: 10px; }
.pos-special-product .flexslider .flex-prev:hover { background-position: 0 100%;  }
.pos-special-product .flexslider .flex-next:hover { background-position: 100% 100%; }

.pos-feature-product .feature-productslider-item,
.pos-new-product .newproductslider-item,
.product-grid li { cursor: pointer; overflow: hidden;}
