ul.list_view {
	list-style-type: none
}
.list_view li {
	margin-top: 20px;
	padding: 12px 8px;
	border: 1px solid #ddd;
}

.list_view li p.compare { padding: 15px 0;}
.list_view li .compare label {display: inline;}
	
	.list_view li p.compare input {
		vertical-align: text-bottom;
		float: left; margin-right: 5px;
	}
.list_view a.product_img_link {
	overflow:hidden;
	position:relative;
	display:block;
	margin-right: 14px;
	border: 1px solid #ccc
}
	.list_view a.product_img_link img {
		display: block;
		vertical-align: bottom;
		width: 100%;
	}
.list_view li h3 {
	padding:0 0 10px 0;
	font-size:13px;
	color:#000
}
.list_view li h3 a {  font-size: 18px;}
.list_view li h3 a:hover { }

.list_view li p.product_desc {
	overflow: hidden;
	padding:0;
	line-height:16px;
}
.list_view li p.product_desc,
.list_view li p.product_desc a {
	color:#333;
}
.list_view li p.product_desc a:hover { color: #27ae61;}
.list_view li .discount, ul.list_view li .on_sale, ul.list_view li .online_only {
	display: block;
	font-weight: bold;
	color: #990000;
	text-transform: uppercase
}
.list_view li .discount {
	position:absolute;
	top:0;
	right:0;
	display: inline-block;
	font-weight: bold;
	padding: 1px 5px;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	background: none repeat scroll 0 0 #e84c3d;
}
.list_view li .online_only {
	margin:0 0 10px 0
}
.list_view li .content_price {
	margin: 15px 0;
	line-height: 30px;
}
.list_view li .price {
	display: block;
	margin-bottom: 15px;
	font-weight:bold;
	font-size: 30px;	
	color:#e84c3d;
}
#product_list li span.availability,
#product_list li .online_only{
		display: none;
}
.list_view .ajax_block_product .add-to-links { display: block; text-align: left;}
.list_view .ajax_block_product .add-to-links .lnk_view {
	width: 50px;
	height: 49px;
	display: inline-block;
	text-indent: -9999px;
	background: url(../img/icon-view.png) 0 100% no-repeat #e84c3d;
	padding: 0;
	}
.list_view .ajax_block_product .add-to-links .lnk_view:hover {
	background-position: 0 100%;
	background-color: rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	}
.list_view .ajax_block_product .add-to-links .exclusive {
	width: 50px;
	height: 49px;
	display: inline-block;
	text-indent: -9999px;
	background: url(../img/icon-cart.png) 0 100% no-repeat #e84c3d;
	padding: 0;
	margin-right: 5px;
	}
.list_view .ajax_block_product .add-to-links .exclusive:hover {
	background-position: 0 100%;
	background-color: rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	}


/*===================Grid View ==================*/
.product-grid li { margin-top: 20px;}
.grid_view li { position: relative; overflow: hidden;}
.grid_view li .compare { position: absolute; top: 7px; left: 50%; margin-left: -3px; z-index: 9;}
.grid_view li .compare label { display: none;}
.grid_view li img { width: 100%;}
.grid_view li .content_price { padding-bottom: 10px;}

.product-grid .ajax_block_product .item-inner { border: 1px solid #ddd;}
.product-grid .ajax_block_product .product-info {
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	background: #e84c3d;
	height: 100%;
	text-align: center;
	}
.product-grid .ajax_block_product:hover .product-info { bottom: 0;}
.product-grid .ajax_block_product h3 { margin-top: 20px;}
.product-grid .ajax_block_product h3 a { font-size: 20px; color: #fff;}
.product-grid .ajax_block_product h3 a:hover { color: #27ae61;}
.product-grid .ajax_block_product .product_desc { padding: 0 10px;}
.product-grid .ajax_block_product .product_desc a { color: #fff;}
.product-grid .ajax_block_product .product_desc a:hover { color: #27ae61; }

.product-grid .ajax_block_product .content_price { font-size: 30px; line-height: 30px; color: #fff; padding: 10px 0 0; margin: 10px 0; display: block; background: url(../img/border-item.png) 50% 0 no-repeat; }

.product-grid .ajax_block_product .add-to-links { display: block; text-align: center;}
.product-grid .ajax_block_product .add-to-links .lnk_view {
	width: 50px;
	height: 49px;
	display: inline-block;
	text-indent: -9999px;
	background: url(../img/icon-view.png) 0 0 no-repeat #fff;
	padding: 0;
	}
.product-grid .ajax_block_product .add-to-links .lnk_view:hover {
	background-position: 0 100%;
	background-color: rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	}
.product-grid .ajax_block_product .add-to-links .exclusive {
	width: 50px;
	height: 49px;
	display: inline-block;
	text-indent: -9999px;
	background: url(../img/icon-cart.png) 0 0 no-repeat #fff;
	padding: 0;
	margin-right: 5px;
	}
.product-grid .ajax_block_product .add-to-links .exclusive:hover {
	background-position: 0 100%;
	background-color: rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	}


/*===================Mode View ==================*/

.mode-view { float: left; margin-top: 2px; margin-right: 20px;}
#view_as .products_left_grid_button { display: inline-block; margin-right: 10px;}
#view_as .products_left_grid_button .products_grid_button_id { width:28px; height:28px; float:left; text-indent:-9999px; background:url(../img/grid.png) 0 0 no-repeat; padding: 0; cursor: pointer;}
#view_as .products_left_grid_button.active .products_grid_button_id,
#view_as .products_left_grid_button .products_grid_button_id:hover { background-position: 0 100%;}

#view_as .products_right_grid_button { display: inline-block;}
#view_as .products_right_grid_button .products_list_button_id { width:28px; height:28px; float:left; text-indent:-9999px; background:url(../img/list.png) 0 0 no-repeat; padding: 0; cursor: pointer;}
#view_as .products_right_grid_button.active .products_list_button_id,
#view_as .products_right_grid_button .products_list_button_id:hover { background-position: 0 100%;}

#view_as .switch_mode.active span { cursor: default;}