/* product desc */
/* primary_block ***************************************************************************** */
#primary_block {
}

/* pb-right-column ***************************************************************************** */
#pb-left-column {
}

#pb-left-column #image-block {
	position:relative;
	border: 1px solid #ddd;
}

#pb-left-column #image-block img {
	width: 100%;
	display: inline-block;
}

#pb-left-column #image-block #view_full_size {
	display:block;
	cursor:pointer;
}

#pb-left-column #image-block #view_full_size .span_link {
	position:absolute;
	bottom: 0;
	left: 1px;
	display:block;
	padding:0 12px 0 30px;
	line-height:30px;
	color:#fff;
	text-shadow:0 1px 0 #000;
	text-align:center;
	text-transform:uppercase;
	background-image:url(../img/icon/zoom.png);
	background-repeat:no-repeat;
	background-position:10px 7px;
	background-color:rgba(0,0,0,0.5);
	margin: 0;
}

#pb-left-column #image-block #view_full_size .span_link img {
	position:relative;
	top:3px;
	left:-3px;
	border:none;
	padding-right:2px;
}

/* miniatures */
#pb-left-column #views_block {
	margin-top: 15px;
	padding: 0 30px;
	position: relative;
}

#thumbs_list {
	overflow:hidden;
	float: left;
	width: 100%;
}
#thumbs_list .thumbs-inner { padding: 0 30px;}
#thumbs_list ul#thumbs_list_frame {
	list-style-type:none;
	padding-left:0;
}

#thumbs_list li {
	float:left;
	height:65px;
	width:65px;
	cursor:pointer;
	margin-right: 9px;
}
#thumbs_list li a { display: block; border: 1px solid #ddd;}
#thumbs_list li img {
	width: 100%;
}

span.view_scroll_spacer {
}

#view_scroll_left {
	padding:0;
	height:16px;
	width:9px;
	text-indent:-3000px;
	background:url(../img/btn-more-view.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	left: 0;
	margin: -8px 0 0;
}

#view_scroll_right {
	padding:0;
	height:16px;
	width:9px;
	text-indent:-3000px;
	background:url(../img/btn-more-view.png) no-repeat 100% 0;
	position: absolute;
	top: 50%;
	right: 0;
	margin: -8px 0 0;
}
#view_scroll_right:hover { background-position: 100% 100%;}
#view_scroll_left:hover { background-position: 0 100%;}

.resetimg {
	padding:10px 0 0;
}

/* link list */
#usefull_link_block {
	list-style-type:none;
	margin-top:20px;
}

#usefull_link_block li {
	padding:2px 0;
}

#usefull_link_block li.print {
	padding-left:20px;
	background:url(../img/icon/print.gif) no-repeat 0 0;
}

#usefull_link_block li.sendtofriend {
	padding-left:20px;
	background:url(../img/icon/send_friend.gif) no-repeat 0 0;
}

#usefull_link_block li#left_share_fb {
	padding-left:20px;
	background:url(../img/icon/picto_fb.png) no-repeat 0 3px;
}
#usefull_link_block li#favoriteproducts_block_extra_remove { background-position: 0 3px !important;}

/* pb-right-column ****************************************************************************** */
#pb-right-column {
	background: #333;
	color: #fff;
}
.product-shop {
	padding: 15px 15px 30px;
}
#pb-right-column h1 {
	padding-bottom:5px;
	font-size:18px;
}

#pb-right-column #short_description_block {
	padding: 10px 0;
}

#pb-right-column #short_description_block .buttons_bottom_block {
	display:none;
}

/* form */
#pb-right-column #buy_block {
	margin-top:10px;
}

#buy_block p {
	padding-bottom:10px;
	clear: both;
}

#pb-right-column #buy_block label {
	display:inline-block;
	font-weight:700;
	font-size:12px;
	text-align:right;
	margin-left: 5px;
}

.ie7 #pb-right-column #buy_block label {margin-right:5px;float:left}

/* color_picker */
#pb-left-column #color_picker p {
	padding-bottom:5px;
	font-weight:700;
}

#attributes fieldset {
	padding-bottom:10px;
	
}

#attributes fieldset label {
	vertical-align:top;
}

#attributes .attribute_list {
	display:inline-block;
}

.ie7 #attributes .attribute_list {
	display:inline;
	zoom:1;
	float:right
}

#attributes .attribute_list ul{
	list-style:none
}

#attributes .attribute_list ul li{
	clear:both
}

#attributes .attribute_list input.attribute_radio{float: left;margin-left: 3px;}
#attributes .attribute_list span{float: left;margin-bottom: 5px;margin-left: 3px;}

.ie7 #attributes .attribute_list span{margin-top:1px}

#attributes .attribute_list #color_to_pick_list {
	list-style-type:none;
	width:125px;
}

#attributes .attribute_list #color_to_pick_list li {
	float:left;
	margin:0 8px 8px 0;
	padding:1px;
	border:1px solid #ccc;
	clear:none
}

#attributes .attribute_list #color_to_pick_list li.selected {
	border:1px solid #000;
}

#attributes .attribute_list #color_to_pick_list a.color_pick {
	display:block;
	height:20px;
	width:20px;
}

.product_attributes {
	padding:10px 0 0;
	border-top:1px solid #474848;
}

/* attributes */
#attributes select {
	width:120px;
	border:1px solid #474848;
}
#attributes { float: left; margin-right: 30px;}

/* quantity_wanted */
#quantity_wanted_p input {
	width:50px;
	border:1px solid #cdcdcd;
	margin: 0 0 0 5px;
}

/* availability_statut */
#availability_statut {
	margin: 10px 0 0 0;
	min-width: 255px;
}

#availability_statut span#availability_label, 
#availability_date_label {
	display:inline-block;
	font-weight:700;
	font-size:12px;
	text-align:right;
}

#availability_statut #availability_value {
		background-color: #e84c3d;
		color:#ffffff;
		text-shadow:none;
		padding: 5px 10px;
		text-transform: uppercase;
		font-size:10px;
		font-weight: bold;
		display:inline-block;
}

#availability_statut #availability_value.warning_inline {
	background-color:#e84c3d;
}

/* prices */
.content_prices {
	margin-top:10px;
	padding-top: 20px;
	border-top:1px solid #474848;
	text-align: left;
	position: relative;
}
#reduction_percent { position: absolute; top: 20px; right: 0;}

#buy_block p.price {
	padding:0;
	display: block !important;
}

.discount {
	display:none;
}

#buy_block p#old_price {
	font-size:18px;
	text-decoration:line-through;
	float: left;
	color: #ff9c93;
	margin-right: 10px;
	line-height: 30px;
	padding: 3px 0 0;
	font-weight: bold;
	clear: none;
}

.our_price_display {
	padding-bottom:10px;
	font-weight:bold;
	font-size:30px;
	color:#fff;
	line-height: 30px;
	float: left;
	margin-right: 10px;
}

#reduction_percent,#reduction_amount {	
}

#reduction_percent span, #reduction_amount span {
	display:block;
	padding: 2px 7px;
	background: #e84c3d;
	font-size:12px;
	color:#fff;
}

/* online_only */
#buy_block p.online_only {
	font-weight:700;
	font-size:11px;
	color:#fa2a0a;
	text-align:left;
	text-transform:uppercase;
	display: none;
}

/* add_to_cart */
.product-shop .content_prices #add_to_cart {
	position:relative;
	float: left;
	padding:0;
	margin: 0;
	clear: both !important;
}

.content_prices #add_to_cart .exclusive,.content_prices #add_to_cart .exclusive_disabled {
	background: url(../img/icon-btn-cart.png) 10px 50% no-repeat #484848;
	padding: 15px 25px 15px 60px;
	color: #fff;
	text-transform: none;
	font-weight: bold;
	font-size: 18px;
	border: none;
}
.content_prices #add_to_cart .exclusive:hover { background-color: #00c8a4;}

@media screen and (-webkit-min-device-pixel-ratio:0) { /*hack Chrome and Safari */
 
    .content_prices #add_to_cart .exclusive,.content_prices #add_to_cart .exclusive_disabled {
	
	}

}

.ie9 .content_prices #add_to_cart .exclusive, .ie9 .content_prices #add_to_cart .exclusive_disabled,
.ie8 .content_prices #add_to_cart .exclusive, .ie8 .content_prices #add_to_cart .exclusive_disabled,
.ie7 .content_prices #add_to_cart .exclusive, .ie7 .content_prices #add_to_cart .exclusive_disabled {

	}

:first-child+html .content_prices #add_to_cart .exclusive {

}

.content_prices #add_to_cart span {
}

/* */
#buy_block .buttons_bottom_block {
	float: left;
	margin: 4px 0 0 20px;
	line-height: 44px;
	padding: 0 !important;
	clear: none !important;
}
#buy_block span.exclusive { float: left; clear: both; margin-top: 10px;}

.buttons_bottom_block #wishlist_button {
	text-decoration: none;
	font-size: 11px;
	font-weight: normal !important;
	padding: 15px 0 15px 50px;
	background: url(../img/view-icon-wishlist.png) 0 0 no-repeat;
	color: #fff;
}
.buttons_bottom_block #wishlist_button:hover { color: #27ae61;}

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
}

#send_friend_form h2 {
	padding:8px 11px;
	font-size:12px;
	color:#fff;
	text-shadow:0 1px 0 #000;
	text-transform:uppercase;
	background:#383838;
}

#send_friend_form .product {
	margin:20px 10px;
}

#send_friend_form .product img {
	float:left;
	margin:0 10px 0 0;
	border:1px solid #ccc;
}

#send_friend_form .product .product_desc {
	float:left;
	width:380px;
}

#send_friend_form .product .product_desc p {
	padding:0 10px 0 0;
	color:#333;
}

#send_friend_form .product .product_desc p.product_name {
	font-size:12px;
	color:#000;
}

#send_friend_form .send_friend_form_content {
	margin:0 10px 20px;
}

#send_friend_form .form_container {
	padding:10px 15px;
	border:1px solid #ccc;
	background:#eee;
}

#send_friend_form .form_container p.intro_form {
	padding-bottom:14px;
	font-weight:700;
	font-size:13px;
	color:#333;
}

#send_friend_form .form_container p.txt_required {
	padding-bottom:0;
	color:/* SEND TO FRIEND (pop-in) ##################################################################### */
#666;
}

#send_friend_form .form_container .text {
	padding-bottom:10px;
}

#send_friend_form .form_container .text label {
	display:inline-block;
	padding:6px 15px;
	width:180px;
/* 210 */
	font-size:12px;
	text-align:right;
}

#send_friend_form .form_container .text input {
	padding:0 5px;
	height:22px;
	width:260px;
	border:1px solid #ccc;
	font-size:12px;
	color:#666;
}

#send_friend_form .submit {
	margin-top:20px;
	padding-bottom:0;
	text-align:right;
}

/* PACK ##################################################################### */
#blockpack {
	margin-top:20px;
	padding-top:20px;
	border-top:1px dotted #999;
}

/* PERSONNALISATION ##################################################################### */
.customization_block {
}

.customization_block p.infoCustomizable {
	margin:10px 0 20px;
	padding:0 0 0 20px;
	background:url(../img/icon/infos.gif) no-repeat 0 0 transparent;
}

ul#uploadable_files,ul#text_fields {
	list-style-type:none;
}

.customizableProductsFile,.customizableProductsText {
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
}

.customizationUploadLine {
	padding-bottom:10px;
}
.customizationUploadBrowse img + a {
	position: relative;
	top: -51px;
}
.customizationUploadLine label {
	display:inline-block;
	width:150px;
	vertical-align:top;
}

.customizationUploadLine textarea {
	height:50px;
	width:300px;
	border:1px solid #ccc;
}

#customizedDatas {
	float:right;
}

.accessories_block div ul li a {
	display:inline-block;
}

.accessories_block div ul li .s_title_block a, .accessories_block div ul li .s_title_block span  {
	font-weight:bold;
}
