input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled,
.icon-search, a
{
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}
.mobilemenu>li.first {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	behavior: url(_b88a.html?php echo $url; ?>css/css3.htc);
	position: relative;
}
.mobilemenu>li.last {
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	behavior: url(_b88a.html?php echo $url; ?>css/css3.htc);
	position: relative;
}

.home-banner .img1 a,
.home-banner .img4 a {
    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	behavior: url(_b88a.html?php echo $url; ?>css/css3.htc);
}
.home-banner .img6:hover img{
    -moz-opacity:.8;
    -webkit-opacity:.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/*IE8*/ opacity:.8;
    }
a, button.button span, .top-cart-icon, .toplink .form-search,
#pt_menu_pt_item_menu_custom_menu .parentMenu span,
.products-list .product-list-img .add-to-links,
.add-to-cart input.qty-decrease,
.add-to-cart input.qty-increase,
.switch_mode span{
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}
.feature-productslider-item .product-info,
.newproductslider-item .product-info,
.products-grid .product-info,
.product-grid .ajax_block_product .product-info {
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}
.top-cart-title,
.drop-currency .sub-currency,
.drop-lang .sub-lang,
.home-banner .img1 img,
.home-banner .img2 img,
.home-banner .img3 img,
.home-banner .img4 img,
.home-banner .img6 .des,
.home-banner .img3 .des,
.home-banner .img2 .des,
.home-banner .img5 .des {
    transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    }
.top-cart-title {    
    transform: translateX(150px);
    -moz-transform: translateX(150px);
    -webkit-transform: translateX(150px);
}
.top-cart-contain:hover .top-cart-title {    
    transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -webkit-transform: translateX(0) rotate(0);
}
.drop-currency .sub-currency,
.drop-lang .sub-lang {    
    transform: translateY(-250px);
    -moz-transform: translateY(-250px);
    -webkit-transform: translateY(-250px);
}
.drop-currency:hover .sub-currency,
.drop-lang:hover .sub-lang {
    transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -webkit-transform: translateX(0) rotate(0);
}
.home-banner .img2 img.top {
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -o-transform: scale(0,0);
    transform: scale(0,0);
}
.home-banner .img4 img.top {
    webkit-transform: scale(1,0);
    -moz-transform: scale(1,0);
    -o-transform: scale(1,0);
    transform: scale(1,0);
}
.home-banner .img4:hover img.top {
    -webkit-transform: scale(1,1);
-moz-transform: scale(1,1);
-o-transform: scale(1,1);
transform: scale(1,1);
}
.home-banner .img4:hover img.bottom {
    filter: alpha(opacity=0);
    -webkit-transform: rotate(360deg) scale(0,0);
    -moz-transform: rotate(360deg) scale(0,0);
    -o-transform: rotate(360deg) scale(0,0);
    transform: rotate(360deg) scale(0,0);
    }

.home-banner .img2:hover img.top {
    -webkit-transform: scale(1,1);
    -webkit-transform-origin: top right;
    -moz-transform: scale(1,1);
    -moz-transform-origin: top right;
    -o-transform: scale(1,1);
    -o-transform-origin: top right;
    transform: scale(1,1);
    transform-origin: top right;
}
.home-banner .col2 {
    perspective: 600;
    -webkit-perspective: 600;
    -moz-perspective: 600;
    -ms-perspective: 600;
    -o-perspective: 600;
}
.home-banner1 .img3 img{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.home-banner1 .img3 img.top,
.home-banner1 .img3:hover {
   -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    }
.home-banner1 .img3 {
    -webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.home-banner .img5 {
     -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
.home-banner .img5:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.1,1.1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
.home-banner .img4 img.top,
.home-banner .img3 img.top,
.home-banner .img3:hover img.bottom,
.home-banner .img2 img.top,
.home-banner .img2:hover img.bottom,
.home-banner .img1 img.top:hover,
.home-banner .img5 .des,
.products-list li.item .add-to-links { -moz-opacity:0; -webkit-opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/*IE8*/ opacity:0;}
.home-banner .img4:hover img.top,
.home-banner .img3:hover img.top,
.home-banner .img2:hover img.top,
.home-banner .img5:hover .des,
.products-list li.item:hover .add-to-links { -moz-opacity:1; -webkit-opacity:1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";/*IE8*/ opacity:1;}

img:hover{ -moz-opacity:0.8; -webkit-opacity:0.8; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/*IE8*/ opacity:0.8;}

.content_sortPagiBar ul.pagination .pagination_previous span,
.content_sortPagiBar ul.pagination .pagination_previous a:hover,
.content_sortPagiBar ul.pagination .pagination_next a:hover,
.content_sortPagiBar ul.pagination .pagination_next span {
    -moz-opacity:0.6; -webkit-opacity:0.6; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";/*IE8*/ opacity:0.6;
    }