.ie8 .home-banner .img1,
.ie8 .home-banner .img2,
.ie8 .home-banner .img4 { width: 215px !important; height: 215px !important;}
.ie8 .home-banner .img3 { width: 215px !important; height: 432px !important; }
.ie8 .home-banner .img5 { width: 282px !important; height: 215px !important; }
.ie8 .home-banner .img6 { width: 499px !important; height: 215px !important;}

.ie8 .product-grid .ajax_block_product .product_desc { display: none !important;}
