/* block top currencies */
#header_right #currencies_block_top {
	float: left;
	margin: 0 0 0 2px;
}
#header_right #currencies_block_top p {
	padding: 0;
	height: 74px;
	width: 74px;
	background: #888;
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	z-index: 10;
	margin: 0;
	text-align: center;
	line-height: 74px;
	font-size: 16px;
}
#header_right #currencies_block_top p:hover { background: #27ae61;}
#currencies_block_top ul#first-currencies li {
}
#currencies_block_top ul#first-currencies li.selected {
	opacity: 1 !important;
}
/*languages with jquery*/
#setCurrency {
	cursor: pointer;
	position: relative;
}
#setCurrency p {
	position: relative;
	top: 0;
	margin-left: 5px;
	padding: 0;
}
#setCurrency p img {
	padding-left: 5px;
}
#setCurrency .currencies_ul{
	display:none;
	z-index: 10000;
	padding:10px;
	list-style-type:none;
}
#setCurrency .currencies_ul_hover{
	display:block;
	z-index: 5000;
	position:absolute;
	right: 0;
	padding: 0;
	height:auto;
	text-align: center;
}
#setCurrency .currencies_ul_hover a {
	
	background: #494949;
	padding: 0;
	height: 74px;
	width: 74px;
	line-height: 74px;
	text-align: center;
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
#setCurrency .currencies_ul_hover a:hover { background: #888;}
