<div class="span3">
  <ul class='sidebar'>
    <li>
      <a href='<%= admin_serial_terkirim_path %>'>
        <img src='/assets/my_account.png'><br/>
        Serial
      </a>
    </li>
    <li>
      <a href='<%= admin_user_path %>'>
        <img src='/assets/afiliasi.png'><br/>
        User
      </a>
    </li>
    <li>
      <a href='<%= admin_transaction_path %>'>
        <img src='/assets/saldo.png'><br/>
        Transaksi
      </a>
    </li>
    <li>
      <%= link_to logout_path, :method => 'delete' do %>
        <img src='/assets/logout.png'><br/>
        Keluar
      <% end %>
    </li>
  </ul>
</div>
<!--/span-->
