<footer>
  <div class="section-3">
    <div class="container">
      <div class="row">
        <!-- about us -->
        <div class="span3">
          <h2>Hubungi Kami</h2>
          <div class="clearfix p1">
            Customer Service 1</br>
            <a target="_blank" href="http://ymgen.com/chat.php?idne=beliapaaja@yahoo.co.id">
            <img border="0" src="http://opi.yahoo.com/online?u=beliapaaja@yahoo.co.id&m=g&t=2"></a></br></br>
            Customer Service 2</br>
            <a target="_blank" href="http://ymgen.com/chat.php?idne=beli_apaaja@yahoo.co.id">
            <img border="0" src="http://opi.yahoo.com/online?u=beli_apaaja@yahoo.co.id&m=g&t=2"></a></br></br>
            Konfirmasi Pembayaran</br>
            <a target="_blank" href="http://ymgen.com/chat.php?idne=beli.apaaja@yahoo.co.id">
            <img border="0" src="http://opi.yahoo.com/online?u=beli.apaaja@yahoo.co.id&m=g&t=2"></a></br></br>
          </div>
        </div>
        <!-- links -->
        <div class="span3">
          <h2>Rekening Perusahaan</h2>
          <ul class="footer-list-news">
            <li>
              <img border="0" src="/assets/afiliasi/img/bca_logo.png" width='100px'><br/> No.Acc 2803069441 <br/>
              An: PT ESA MULIA INDONESIA
            </li>
          </ul>
        </div>
        <!-- latest blog -->
        <div class="span3">
          <h2>Office</h2>
          <ul class="footer-list-news">
            <li>
              <div class="extra-wrap">
                <p><b>Kantor Pusat:</b><br/>
                    JL. Baseball no 13 Arcamanik Bandung 40000 <br/>
                    Telepon : 022-7102-322<br/>
                    Mobile: 081-221-682-259 (SMS Only)<br/>
                    Email: info@beliapaaja.com<br/><br/>

                    <b>Jam Layanan</b><br/>
                    senin-sabtu : 08:00 - 17:00<br/>

                    "Libur Nasional & Minggu Libur"
                    
                </p>
            </li>
          </ul>
        </div>
        <div class="span3">
          <h2>Social Network</h2>
          <ul class='social-button'>
            <li><a href='https://www.facebook.com/beliapaajadotcom' target='_blank'><img src='/assets/frontend/img/facebook-icon.png' class='social-icon'></a></li>
            <li><a href='https://twitter.com/beliapaajacom' target='_blank'><img src='/assets/frontend/img/twitter-icon.png' class='social-icon'></a></li>
            <li><a href='https://plus.google.com/105717334466545304583/about' target='_blank'><img src='/assets/frontend/img/GooglePlus-logo.png' class='social-icon'></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer 2 -->
  <div class="footer-2">
    <div class="container">
      <div class="row">
        <div class="span12">PT. Esa Mulia Indonesia &copy; 2014 </div>
      </div>
    </div>
  </div>
</footer>

<style>
  
.section-3 {
  background: whitesmoke;
  color: black;
}

.footer-2 {
  background: orange;
  padding: 32px 0;
  text-align: center;
  color: black;
}

footer h2 {
  color: black;
}

ul.social-button {
    margin-left: -2px;
}
ul.social-button li {
    width: 50px;
    float: left;
    list-style: none;
    margin-right: 15px;
}
</style>
