<header>
  <div class="container">
    <div class="row">
      <div class="span12 clearfix">
        <div class="navbar navbar_ clearfix">
          <div class="navbar-inner">
            <div class="container">
              <a href="/afiliasi"><img src='/assets/afiliasi/img/afiliasi-logo.jpg' style='width: 330px;  margin-left: -25px;'></a>
              <select id="responsive-main-nav-menu" onchange="javascript:window.location.replace(this.value);"></select>
              <div id = "main-nav-menu" class="nav-collapse nav-collapse_ collapse">
                <ul class="nav sf-menu">
                  <li class="active"><a href="<%= afiliasi_path %>"><span>Beranda</span></a><em></em></li>
                  <li class="sub-menu"><a href="#"><span>Profil</span></a><em></em>
                    <ul>
                      <% @pages.each do |p| %>
                        <li><a href="<%= afiliasi_page_path(slug(p)) %>"><%= p.title %></a></li>
                      <% end %>
                    </ul>
                  </li>
                  <li class="sub-menu"><a href="#"><span>Program</span></a><em></em>
                    <ul>
                      <% @programs.each do |p| %>
                        <li><a href="<%= afiliasi_program_path(slug(p)) %>"><%= p.title %></a></li>
                      <% end %>
                      <li><a href="<%= afiliasi_sistem_bisnis_path %>">Sistem Bisnis</a></li>
                      
                    </ul>
                  </li>
                  <li class='sub-menu'><a href="# "><span>Support<em></em></span></a><em></em>
                    <ul>
                      <li><a href="<%= afiliasi_list_berita_path %>">Berita</a><em></em></li>
                      <li><a href="#">Gallery</a></li>
                      <li><a href="#">Agenda</a></li>
                      <li><a href="#">Video</a></li>
                      <li><a href="#">FAQ</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
