<div class="span3">
  <ul class='sidebar'>
    <li>
      <a href='<%= my_profile_path %>'>
        <img src='/assets/my_account.png'><br/>
        Akunku
      </a>
    </li>
    <li>
      <a href='<%= diagram_network_path %>'>
        <img src='/assets/afiliasi.png'><br/>
        Afiliasi
      </a>
    </li>
    <li>
      <a href='<%= bonus_path %>'>
        <img src='/assets/saldo.png'><br/>
        Saldo
      </a>
    </li>
    <!--<li>
      <img src='/assets/iklan.jpg'><br/>
      Tokoku
    </li>
    <li>
      <img src='/assets/iklan.jpg'><br/>
      Iklanku
    </li>
    <li>
      <a href='<%#= message_inbox_path %>'>
        <img src='/assets/email.jpg'><br/>
        Pesan
      </a>
    </li>-->
    <li>
      <%= link_to logout_path, :method => 'delete' do %>
        <img src='/assets/logout.png'><br/>
        Keluar
      <% end %>
    </li>
    
  </ul>
</div>
<!--/span-->
