<!DOCTYPE html>
<html lang="en">
<head>
<title>Afiliasi Beliapaaja</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/assets/afiliasi/img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/assets/afiliasi/img/favicon.ico" type="image/x-icon" />
<%= meta_tag %>
<!--
Copyright @ beliapaaja 2014
┏━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┓
┗━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┛
┏━━┓┏━━━┳┓╋╋┏━━┳━━━┳━━━┳━━━┳━━━┓╋┏┳━━━┓
┃┏┓┃┃┏━━┫┃╋╋┗┫┣┫┏━┓┃┏━┓┃┏━┓┃┏━┓┃╋┃┃┏━┓┃
┃┗┛┗┫┗━━┫┃╋╋╋┃┃┃┃╋┃┃┗━┛┃┃╋┃┃┃╋┃┃╋┃┃┃╋┃┃
┃┏━┓┃┏━━┫┃╋┏┓┃┃┃┗━┛┃┏━━┫┗━┛┃┗━┛┣┓┃┃┗━┛┃
┃┗━┛┃┗━━┫┗━┛┣┫┣┫┏━┓┃┃╋╋┃┏━┓┃┏━┓┃┗┛┃┏━┓┃
┗━━━┻━━━┻━━━┻━━┻┛╋┗┻┛╋╋┗┛╋┗┻┛╋┗┻━━┻┛╋┗┛
┏━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┓
┗━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┛

-->
<%= csrf_meta_tags %>
<link rel="stylesheet" href="/assets/afiliasi/css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/camera.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/portfolio.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/elements.css" type="text/css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/afiliasi/css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/assets/afiliasi/css/ie.css" type="text/css" media="screen">
    <script src="/assets/afiliasi/js/html5.js"></script>
  <![endif]-->
</head>

<body>
<!--==============================header=================================-->
<div class="header-block clearfix">
  <!-- Navigation -->
  <%= render 'layouts/header'%>
  <!-- Slider -->
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="slider">
          <div class="camera_wrap">
            <div data-src="/assets/afiliasi/img/slide1.jpg">
              <div class="camera_caption fadeIn">
                <div>
                  <h1>Home Shopping</h1>
                  <h2>lebih cepat, lebih efisien</h2>
                  <p>Nikmati sensasi baru dalam transaksi online cukup satu klik di beliapaaja.com segala kebutuhan transaksi online anda terpenuhi lebih cepat dan lebih efisien.</p>
                </div>
              </div>
            </div>
            <div data-src="/assets/afiliasi/img/slide2.jpg">
              <div class="camera_caption fadeIn">
                <div>
                  <h1>Powerfull</h1>
                  <p>Komunitas bisnis dari proram afiliasi beliapaaja.com membangun sumber daya manusia yang lebih aktif, cerdas, mandiri, dan powerfull.</p>
                </div>
              </div>
            </div>
            <div data-src="/assets/afiliasi/img/slide3.jpg">
              <div class="camera_caption fadeIn">
                <div>
                  <h1>Happines</h1>
                  <h2>Sehat dan Sejahtera</h2>
                  <p>di program afiliasi beliapaaja.com anda bisa mendapatkan lebih dari sekedar keuntungan bisnis,melainkan keseimbangan hidup yang lebih baik dan bahagia.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--==============================content=================================-->
<style>
  .login-and-register a {
    width: 120px;
  }
  
  #login {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 15px;
    display: block;
    left: 50%;
    margin-left: -136px;
    margin-top: 0;
    opacity: 0.9;
    padding: 30px;
    position: fixed;
    top: 100px;
    z-index: 1052;
  }

  .button_close {
      position: absolute;
      top: 1px;
      right: 9px;
  }
  
  .btn-success {
    margin-left: 25px;
    padding: 7px;
    width: 80px !important;
  }
  .btn-warning {
    width: 60px !important;
  }
</style>
<section id="content">
  <div class="container">
  <div class="section-4">
    <div class="container">
      <!-- Strip with button -->
      <div class="row">
        <div class="span12 login-and-register">
          <h2>Selamat Datang di Afiliasi Program  <span>beliapaaja.com</span> .</h2>
          <p>sebuah terobosan sistem revolusioner bisnis yang siap bekerja 24 Jam untuk Anda.</p>
          <a href="#" id='button-login' class="btn btn-large btn-warning">Masuk</a> &nbsp; 
          <a href="<%= sign_up_path %>" class="btn btn-large btn-warning">Daftar</a>
           </div>
      </div>
    </div>
  </div>
   <!-- Icons -->
    <div class="row">
      <div class="span12">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail"> <img src="/assets/afiliasi/img/icon-1.png" alt="" class="img-circle">
              <h2>Komunitas</h2>
              <p class="p0">komunitas bisnis yang aktif, cerdas, mandiri, dan powerfull.</p>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail"> <img src="/assets/afiliasi/img/icon-2.png" alt="" class="img-circle">
              <h2>Sistem Canggih</h2>
              <p class="p0">Teknologi Sistem Otomatis yang bekerja 24 jam menghasilkan keuntungan non stop.</p>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail"> <img src="/assets/afiliasi/img/icon-3.png" alt="" class="img-circle">
              <h2>Teknik Promosi</h2>
              <p class="p0">Menjangkau dunia lebih luas hanya dengan satu klik di beliapaaja.com.</p>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail"> <img src="/assets/afiliasi/img/icon-4.png" alt="" class="img-circle">
              <h2>Bonus Cepat</h2>
              <p class="p0">Sistem bisnis realtime menghasilkan keuntungan yang lebih cepat dan bertumbuh setiap saat.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- welcome -->
      <div class="span4">
        <div class="border-right">
          <h2 class="indent-1">New Member</h2>
          <marquee direction='up'>
          <ul class="list p2">
            <% @members.each_with_index do |m, i| %>
              <li>
                <a href="#">
                  <b><%= i+1 %>.</b> <%= m.nama_panggilan %>
                  <br/><%= m.provinsi %></br><%= m.serial %>
                </a>
              </li>
            <% end%>
          </ul>
          </marquee>
          <!--<a href="#" class="btn btn-small btn-info"><i class="icon-share-alt icon-white"></i> More Features</a>-->
        </div>
      </div>
      <!-- meet our team -->
      <div class="span8">
        <div class="clearfix">
          <h2 class="indent-1 bot-0 pull-left">Berita</h2>
        </div>
        <div class="tab-content" id="myTabContent">
          <div id="team1" class="tab-pane fade in active">
            <ul class="thumbnails thumbnails_3">
             <% @news.each do |n| %>
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="<%= n.image.url %>" alt="" class="img-circle"></figure>
                  <div><a href="<%= afiliasi_berita_path(slug(n))%>" class="lead"><%= n.title %></a><br>
                    <%= ActionView::Base.full_sanitizer.sanitize(n.description.truncate(100)) %></div>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id='login_modal' style='display:none;'>
  <div id='login' class='well'>
    <%= form_tag process_login_path do |f| %>
      <div class='button_close'>
       <a href='#'>x</a>
      </div>
      <div>
        <span><%= label_tag :serial %></span>
        <%= text_field_tag :serial %>
      </div>
      <div>
        <span><%= label_tag :pin %></span>
        <%= password_field_tag :pin %>
      </div>
      <div>
        <input type='hidden' value="<%= @captcha %>" name='captcha'>
        <img src="<%= @captcha_url %>" style="padding: 10px 0px; width: 76px;" />
        <input type='text' name='captcha_text' placeholder='' style="width:98px; margin-top: 5px; margin-left: 7px;">
      </div>
      <div></br>
        <%= submit_tag 'Masuk', class: 'btn btn-success' %> &nbsp; <%= link_to 'Daftar', sign_up_path, class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>
</div>
<%= bootstrap_flash %>
<!--==============================footer=================================-->
<%= render 'layouts/footer'%>
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/assets/afiliasi/js/jquery.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/camera.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/prettify.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/application.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.quicksand.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/accordion.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/tabs.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/sitemap.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/nav-small.js"></script>
<script type="text/javascript" src="/assets/frontend/js/jquery.easyModal.js"></script>
<script>
      $(document).ready(function(){   
        jQuery('.camera_wrap').camera();
              
			  $('#login_modal').hide()
			  $('#button-login').click(function(){
			    $('#login_modal').show()
			    $('#login').trigger('openModal');
			      $('#login').easyModal({
		        top: 100,
		        autoOpen: true,
		        overlayOpacity: 0.3,
		        overlayColor: "#333",
		        overlayClose: false,
		        closeOnEscape: false
	        });
			  })
			
			  $('.button_close a').click(function(){
			    $('#login').trigger('closeModal');
			  })
      });    
	</script>
</body>
</html>

