<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <title><%= content_for?(:title) ? yield(:title) : "Beliapaaja" %></title>
    <%= meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9 offset1">
          <%= render 'layouts/side_bar' if @current_user %>
          <% if @current_user %>
          <div class='marquee-text'>
            <marquee>Selamat Datang <%= @current_user.nama.titleize rescue '' %> di Halaman Virtual Office Anda!</marquee>
          </div>
          <% end %>
          <br/><br/>
          <div class='content'>
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
    <!--<footer>
    </footer>-->
  </body>
</html>
