<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 " lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9" lang="en"> <![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<head>
    <title>Beliapaaja</title>

    <!--
    Copyright @ beliapaaja 2014
    ┏━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┓
    ┗━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┛
    ┏━━┓┏━━━┳┓╋╋┏━━┳━━━┳━━━┳━━━┳━━━┓╋┏┳━━━┓
    ┃┏┓┃┃┏━━┫┃╋╋┗┫┣┫┏━┓┃┏━┓┃┏━┓┃┏━┓┃╋┃┃┏━┓┃
    ┃┗┛┗┫┗━━┫┃╋╋╋┃┃┃┃╋┃┃┗━┛┃┃╋┃┃┃╋┃┃╋┃┃┃╋┃┃
    ┃┏━┓┃┏━━┫┃╋┏┓┃┃┃┗━┛┃┏━━┫┗━┛┃┗━┛┣┓┃┃┗━┛┃
    ┃┗━┛┃┗━━┫┗━┛┣┫┣┫┏━┓┃┃╋╋┃┏━┓┃┏━┓┃┗┛┃┏━┓┃
    ┗━━━┻━━━┻━━━┻━━┻┛╋┗┻┛╋╋┗┛╋┗┻┛╋┗┻━━┻┛╋┗┛
    ┏━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┓
    ┗━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┛

    -->
    <%= meta_tag %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/assets/favicon.ico">
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
		<meta http-equiv="content-language" content="id" />
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
	<link href="/assets/frontend/themes/pos_cance/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/assets/frontend/themes/pos_cance/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/assets/frontend/themes/pos_cance/css/grid_prestashop.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/assets/frontend/themes/pos_cance/css/global.css" rel="stylesheet" type="text/css" media="all" />
		
		<link href="/assets/frontend/themes/pos_cance/css/modules/posmegamenu/css/custommenu.css" rel="stylesheet" type="text/css" media="all" />
		
		<link href="/assets/frontend/themes/pos_cance/css/styles-ie8.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/assets/frontend/themes/pos_cance/css/styles_css3.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/assets/frontend/themes/pos_cance/css/fix-mobile.css" rel="stylesheet" type="text/css" media="all" />
		<script type="text/javascript" src="/assets/frontend/js/jquery/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/assets/frontend/js/jquery/jquery-migrate-1.2.1.js"></script>
		<script type="text/javascript" src="/assets/frontend/js/jquery/plugins/jquery.easing.js"></script>
		<script type="text/javascript" src="/assets/frontend/js/tools.js"></script>
		<script type="text/javascript" src="/assets/frontend/js/jquery/plugins/autocomplete/jquery.autocomplete.js"></script>
	<script src="/assets/frontend/themes/pos_cance/js/bootstrap/bootstrap.min.js" type="text/javascript" ></script>

<style>
  #index .home-banner-container {
    display: inline-block;
    padding-bottom: 0px !important;
}

img.logo {
  left: 7.5%;
  position: absolute;
  top: 6%;
  width: 300px;
  z-index: 999;
}
</style>
	</head>
	
	<body id="index" class="  ">
	<img class="logo" src="/assets/logo.png" />
					<div id="page" class="pos_page">

			<!-- Header -->
			<div id="header">
				<div class="header-inner">
					<div class="container">
						<div class="container-inner">
							<div class="header-content">
								<div id="header_right">
									

<div class="nav-container visible-desktop">
    <div id="pt_custommenu" class="pt_custommenu">
        <div id="pt_menu_home" class="pt_menu act"><div class="parentMenu"><a href="/"><span>Home</span></a></div></div><div id="pt_menu3" class="pt_menu nav-1">
<div class="parentMenu">
<a href="http://ho.lazada.co.id/SH1fY9">
<span>Fashion</span>
</a>
</div>
<div id="popup3" class="popup" style="display: none; width: 1228px;">

</div>
</div><div id="pt_menu4" class="pt_menu nav-2">
<div class="parentMenu">
<a href="http://ho.lazada.co.id/SH1fY9">
<span>Camera</span>
</a>
</div>
<div id="popup4" class="popup" style="display: none; width: 1228px;">

</div>
</div><div id="pt_menu6" class="pt_menu nav-3">
<div class="parentMenu">
<a href="http://ho.lazada.co.id/SH1fY9">
<span>Handphone</span>
</a>
</div>
<div id="popup6" class="popup" style="display: none; width: 1228px;">
<div class="block1" id="block16">
<div class="column last col1"><div class="itemMenu level1"><a class="itemMenuName level3" href="index5f1d.html?id_category=7&amp;controller=category&amp;id_lang=1"><span>Footwear&nbsp;Man</span></a><div class="itemSubMenu level3"><div class="itemMenu level4"><a class="itemMenuName level4" href="index9f26.html?id_category=11&amp;controller=category&amp;id_lang=1"><span>Brands&nbsp;We&nbsp;Love</span></a><a class="itemMenuName level4" href="indexf458.html?id_category=79&amp;controller=category&amp;id_lang=1"><span>Sneakers</span></a><a class="itemMenuName level4" href="index3e0a.html?id_category=80&amp;controller=category&amp;id_lang=1"><span>Slippers</span></a><a class="itemMenuName level4" href="indexb0a3.html?id_category=81&amp;controller=category&amp;id_lang=1"><span>Casuals</span></a><a class="itemMenuName level4" href="index3e39.html?id_category=82&amp;controller=category&amp;id_lang=1"><span>Gifts&nbsp;and&nbsp;Tech</span></a></div></div></div></div>
<div class="clearBoth"></div>
</div>
</div>
</div><div id="pt_menu5" class="pt_menu nav-4">
<div class="parentMenu">
<a href="http://ho.lazada.co.id/SH1fY9">
<span>Computer</span>
</a>
</div>
<div id="popup5" class="popup" style="display: none; width: 1228px;">

</div>
</div><div id="pt_menu83" class="pt_menu nav-5 pt_menu_no_child">
<div class="parentMenu">
<a href="http://ho.lazada.co.id/SH1fY9">
<span>Hobby</span>
</a>
</div>
</div><div id="pt_menu_pt_item_menu_custom_menu" class="pt_menu">
<div class="parentMenu">
<a href="/<%#= afiliasi_path %>">
<span class="block-title">Web Bisnis</span>
</a>
</div>
</div>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
var CUSTOMMENU_POPUP_EFFECT = 0;
var CUSTOMMENU_POPUP_TOP_OFFSET = 126;
//]]>
</script>		
			 
			<div class="home-banner-container">
			<div class="home-banner">
			<div class="col1">
			<p class="img1"><img class="bottom" src="/assets/frontend/img/cms/img1_1.png" alt="" /><img class="top" src="/assets/frontend/img/cms/img1.png" alt="" /></p>
			<p class="img2"><a href='http://ho.lazada.co.id/SH1fY9'><img class="bottom" src="/assets/frontend/img/cms/img2.jpg" alt="" /><img class="top" src="/assets/frontend/img/cms/img2_2.jpg" alt="" /></a></p>
			</div>
			<div class="col2">
			<p class="img3"><a href="http://ho.lazada.co.id/SH1fY9" target="_blank"><img alt="Lazada Philippines" src="/assets/frontend/img/cms/img33.jpg" width="160" height="600"/> <img class="bottom" src="/assets/frontend/img/cms/img3.jpg" alt="" /></a></p>
			</div>
			<div class="col3">
			<p class="img4"><img class="bottom" src="/assets/frontend/img/cms/img4.jpg" alt="" /><img class="top" src="/assets/frontend/img/cms/img4_4.jpg" alt="" /></p>
			<p class="img5"><a href='http://ho.lazada.co.id/SH1fY9'><img class="top" src="http://srv-live.lazada.co.id/floor/63a4bf99cc329d8880111cc291352e53.jpg" alt="" /><span class="des">Beli komputer dapat GRATIS printer, dapatkan penawaran terbaik lainnya disini..</span></a></p>
			<p class="img6"><a href="/<%#= afiliasi_path %>"><img class="top" src="/assets/frontend/img/cms/img6.jpg" alt="" /></a></p>
			</div>
			</div>
			</div>
			
		
	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

	</body>
</html>

