<!DOCTYPE html>
<html lang="en">
<head>
<title>Afiliasi Beliapaaja</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/assets/afiliasi/img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/assets/afiliasi/img/favicon.ico" type="image/x-icon" />
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">

<!--
Copyright @ beliapaaja 2014
┏━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┓
┗━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┛
┏━━┓┏━━━┳┓╋╋┏━━┳━━━┳━━━┳━━━┳━━━┓╋┏┳━━━┓
┃┏┓┃┃┏━━┫┃╋╋┗┫┣┫┏━┓┃┏━┓┃┏━┓┃┏━┓┃╋┃┃┏━┓┃
┃┗┛┗┫┗━━┫┃╋╋╋┃┃┃┃╋┃┃┗━┛┃┃╋┃┃┃╋┃┃╋┃┃┃╋┃┃
┃┏━┓┃┏━━┫┃╋┏┓┃┃┃┗━┛┃┏━━┫┗━┛┃┗━┛┣┓┃┃┗━┛┃
┃┗━┛┃┗━━┫┗━┛┣┫┣┫┏━┓┃┃╋╋┃┏━┓┃┏━┓┃┗┛┃┏━┓┃
┗━━━┻━━━┻━━━┻━━┻┛╋┗┻┛╋╋┗┛╋┗┻┛╋┗┻━━┻┛╋┗┛
┏━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┓
┗━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┛

-->

<link rel="stylesheet" href="/assets/afiliasi/css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/camera.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/portfolio.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/elements.css" type="text/css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/afiliasi/css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/assets/afiliasi/css/ie.css" type="text/css" media="screen">
    <script src="/assets/afiliasi/js/html5.js"></script>
  <![endif]-->
</head>

<body>
<!--==============================header=================================-->
<div class="header-block clearfix">
  <!-- Navigation -->
  <%= render 'layouts/header'%>
</div>
<!--==============================content=================================-->
<section id="content">
  <div class="container">
    <!-- welcome text -->
    <div class="row">
      <div class="span12">
        <% @news.each do |n| %>
          <div class="blog-post">
            <div class="blog-post-header">
              <h2><%= n.title %></h2>
              <!--<a class="btn blog-fright" href="#"><i> 14 </i></a> --></div>
            <div class="blog-post-body"> <img src="img/blog-1.jpg" alt="" class="img-circle">
              <div class="post-meta">Posted by: <a href="#">admin </a></div>
              <p class="p0">
                <%= simple_format n.description.truncate(300) %>
              </p>
            </div>
            <div class="blog-post-footer"> <a href="<%= afiliasi_berita_path(slug(n))%>" class="btn btn-info blog-fleft">Lihat Detail<i class="icon-chevron-right icon-white"></i></a>
            <!--
              <div class="btn-group blog-fright"><a class="btn" href="#"><i class="team-social-twitter"></i></a> <a class="btn" href="#"><i class="team-social-facebook"></i></a> <a class="btn" href="#"><i class="team-social-skype"></i></a> <a class="btn" href="#"><i class="team-social-youtube"></i></a></div>-->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!--==============================footer=================================-->
<%= render 'layouts/footer'%>
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/assets/afiliasi/js/jquery.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/camera.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/prettify.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/application.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.quicksand.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/accordion.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/tabs.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/sitemap.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/nav-small.js"></script>
<script>
      $(document).ready(function(){   
              jQuery('.camera_wrap').camera();
        });    
	</script>
</body>
</html>

