<!DOCTYPE html>
<html lang="en">
<head>
<title>Afiliasi Beliapaaja</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/assets/afiliasi/img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/assets/afiliasi/img/favicon.ico" type="image/x-icon" />
<%= meta_tag %>
<!--
Copyright @ beliapaaja 2014
┏━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┓
┗━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┛
┏━━┓┏━━━┳┓╋╋┏━━┳━━━┳━━━┳━━━┳━━━┓╋┏┳━━━┓
┃┏┓┃┃┏━━┫┃╋╋┗┫┣┫┏━┓┃┏━┓┃┏━┓┃┏━┓┃╋┃┃┏━┓┃
┃┗┛┗┫┗━━┫┃╋╋╋┃┃┃┃╋┃┃┗━┛┃┃╋┃┃┃╋┃┃╋┃┃┃╋┃┃
┃┏━┓┃┏━━┫┃╋┏┓┃┃┃┗━┛┃┏━━┫┗━┛┃┗━┛┣┓┃┃┗━┛┃
┃┗━┛┃┗━━┫┗━┛┣┫┣┫┏━┓┃┃╋╋┃┏━┓┃┏━┓┃┗┛┃┏━┓┃
┗━━━┻━━━┻━━━┻━━┻┛╋┗┻┛╋╋┗┛╋┗┻┛╋┗┻━━┻┛╋┗┛
┏━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┳━━┓
┗━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┻━━┛

-->
<%= meta_tag %>
<link rel="stylesheet" href="/assets/afiliasi/css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/camera.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/portfolio.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assets/afiliasi/css/elements.css" type="text/css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/afiliasi/css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/assets/afiliasi/css/ie.css" type="text/css" media="screen">
    <script src="/assets/afiliasi/js/html5.js"></script>
  <![endif]-->
</head>

<body>
<!--==============================header=================================-->
<div class="header-block clearfix">
  <!-- Navigation -->
  <%= render 'layouts/header'%>
</div>
<!--==============================content=================================-->
<section id="content">
  <div class="container">
    <!-- welcome text -->
    <div class="row">
      <div class="span12">
        <div class="page-header1">
          <h2><%= @page.title %></h2>
        </div>
        <p class="p0"><%= raw @page.description %></p>
        <div class="blog-post-footer">
          <%= link_to :back, class: "btn btn-info blog-fleft" do %>
            Kembali<i class="icon-chevron-right icon-white"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= bootstrap_flash %>
<!--==============================footer=================================-->
<%= render 'layouts/footer'%>
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/assets/afiliasi/js/jquery.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/camera.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/prettify.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/application.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.quicksand.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/accordion.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/tabs.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/sitemap.js"></script>
<script type="text/javascript" src="/assets/afiliasi/js/nav-small.js"></script>
<script>
      $(document).ready(function(){   
              jQuery('.camera_wrap').camera();
        });    
	</script>
</body>
</html>

